<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Flower3</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>giraffes.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>Flip</key>
			<dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>backflip</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>5</integer>
		<key>imageName</key>
		<string>mangrove_flower.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>904</integer>
			<key>y</key>
			<integer>228</integer>
		</dict>
	</dict>
	<key>Flower2</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>giraffes.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>Flip</key>
			<dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>backflip</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>5</integer>
		<key>imageName</key>
		<string>mangrove_flower.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>57</integer>
			<key>y</key>
			<integer>563</integer>
		</dict>
	</dict>
	<key>Flower1</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>giraffes.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>Flip</key>
			<dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>backflip</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>5</integer>
		<key>imageName</key>
		<string>mangrove_flower.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>66</integer>
			<key>y</key>
			<integer>479</integer>
		</dict>
	</dict>
	<key>Bird</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>giraffes.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>Flip</key>
			<dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>backflip</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>4</integer>
		<key>imageName</key>
		<string>mangrove_bird.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>291</integer>
			<key>y</key>
			<integer>357</integer>
		</dict>
	</dict>
	<key>FoliageFg</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>6</integer>
		<key>imageName</key>
		<string>mangrove_fg_foliage.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>13</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Trees</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>3</integer>
		<key>imageName</key>
		<string>mangrove_tree.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>25</integer>
		</dict>
	</dict>
	<key>Foliage</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>2</integer>
		<key>imageName</key>
		<string>mangrove_foliage.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Light</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>1</integer>
		<key>imageName</key>
		<string>mangrove_light.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>Music</key>
	<string>hello-chiptune-cover.mp3</string>
	<key>Key</key>
	<string>mangrove_forest</string>
	<key>StoryKey</key>
	<string>monkey</string>
	<key>KidPosition</key>
	<dict>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>30</integer>
	</dict>
	<key>TextPosition</key>
	<dict>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>600</integer>
	</dict>
	<key>AnimalPosition</key>
	<dict>
		<key>x</key>
		<integer>500</integer>
		<key>y</key>
		<integer>400</integer>
	</dict>
	<key>Sky</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>mangrove_bg.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
