<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lizard2</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>8</integer>
		<key>imageName</key>
		<string>lizard_1.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>36</integer>
			<key>y</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>Lizard1</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>8</integer>
		<key>imageName</key>
		<string>lizard_1.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>825</integer>
			<key>y</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>FgRocks</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>7</integer>
		<key>imageName</key>
		<string>outback_fg_rocks.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Grass3</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>6</integer>
		<key>imageName</key>
		<string>outback_grass_3.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Grass2</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>5</integer>
		<key>imageName</key>
		<string>outback_grass_2.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>196</integer>
		</dict>
	</dict>
	<key>Grass1</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>4</integer>
		<key>imageName</key>
		<string>outback_grass_1.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>268</integer>
		</dict>
	</dict>
	<key>Rock</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>3</integer>
		<key>imageName</key>
		<string>outback_rock.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>87</integer>
			<key>y</key>
			<integer>367</integer>
		</dict>
	</dict>
	<key>BgGrass</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>2</integer>
		<key>imageName</key>
		<string>outback_bg_grass.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>168</integer>
		</dict>
	</dict>
	<key>DistantHills</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>1</integer>
		<key>imageName</key>
		<string>outback_distant_hills.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>243</integer>
		</dict>
	</dict>
	<key>Clouds</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>1</integer>
		<key>imageName</key>
		<string>outback_clouds.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>31</integer>
			<key>y</key>
			<integer>563</integer>
		</dict>
	</dict>
	<key>Music</key>
	<string>hello-chiptune-cover.mp3</string>
	<key>Key</key>
	<string>outback</string>
	<key>StoryKey</key>
	<string>kangaroo</string>
	<key>KidPosition</key>
	<dict>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>30</integer>
	</dict>
	<key>TextPosition</key>
	<dict>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>600</integer>
	</dict>
	<key>AnimalPosition</key>
	<dict>
		<key>x</key>
		<integer>500</integer>
		<key>y</key>
		<integer>400</integer>
	</dict>
	<key>Sky</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>outback_sky.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
