<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dog</key>
	<dict>
		<key>BackFoot</key>
		<dict>
			<key>Anchor</key>
			<dict>
				<key>orientation</key>
				<integer>0</integer>
				<key>x</key>
				<integer>63</integer>
				<key>y</key>
				<integer>19</integer>
			</dict>
			<key>Image</key>
			<string>dog-back.png</string>
		</dict>
		<key>Body</key>
		<dict>
			<key>AnchorBackFoot</key>
			<dict>
				<key>orientation</key>
				<integer>0</integer>
				<key>x</key>
				<integer>359</integer>
				<key>y</key>
				<integer>207</integer>
			</dict>
			<key>AnchorFrontFoot</key>
			<dict>
				<key>orientation</key>
				<integer>0</integer>
				<key>x</key>
				<integer>162</integer>
				<key>y</key>
				<integer>242</integer>
			</dict>
			<key>Image</key>
			<string>dog.png</string>
		</dict>
		<key>FailSound</key>
		<string></string>
		<key>FrontFoot</key>
		<dict>
			<key>Anchor</key>
			<dict>
				<key>orientation</key>
				<integer>0</integer>
				<key>x</key>
				<integer>52</integer>
				<key>y</key>
				<integer>20</integer>
			</dict>
			<key>Image</key>
			<string>dog-front.png</string>
		</dict>
		<key>Name</key>
		<string>Dog</string>
		<key>SuccessSound</key>
		<string>barks2.wav</string>
	</dict>
	<key>Elephant</key>
	<dict>
		<key>BackFoot</key>
		<dict>
			<key>Anchor</key>
			<dict>
				<key>orientation</key>
				<integer>0</integer>
				<key>x</key>
				<integer>82</integer>
				<key>y</key>
				<integer>3</integer>
			</dict>
			<key>Image</key>
			<string>elephant-back.png</string>
		</dict>
		<key>Body</key>
		<dict>
			<key>AnchorBackFoot</key>
			<dict>
				<key>orientation</key>
				<integer>0</integer>
				<key>x</key>
				<integer>400</integer>
				<key>y</key>
				<integer>203</integer>
			</dict>
			<key>AnchorFrontFoot</key>
			<dict>
				<key>orientation</key>
				<integer>0</integer>
				<key>x</key>
				<integer>202</integer>
				<key>y</key>
				<integer>213</integer>
			</dict>
			<key>Image</key>
			<string>elephant.png</string>
		</dict>
		<key>FailSound</key>
		<string></string>
		<key>FrontFoot</key>
		<dict>
			<key>Anchor</key>
			<dict>
				<key>orientation</key>
				<integer>0</integer>
				<key>x</key>
				<integer>45</integer>
				<key>y</key>
				<integer>3</integer>
			</dict>
			<key>Image</key>
			<string>elephant-front.png</string>
		</dict>
		<key>Name</key>
		<string>Elephant</string>
		<key>SuccessSound</key>
		<string>elephant2.wav</string>
	</dict>
	<key>SeaLion</key>
	<dict>
		<key>BackFoot</key>
		<dict>
			<key>Anchor</key>
			<dict>
				<key>orientation</key>
				<integer>0</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>31</integer>
			</dict>
			<key>Image</key>
			<string>foot_sealion_back.png</string>
		</dict>
		<key>Body</key>
		<dict>
			<key>AnchorBackFoot</key>
			<dict>
				<key>orientation</key>
				<integer>0</integer>
				<key>x</key>
				<integer>365</integer>
				<key>y</key>
				<integer>649</integer>
			</dict>
			<key>AnchorFrontFoot</key>
			<dict>
				<key>orientation</key>
				<integer>0</integer>
				<key>x</key>
				<integer>124</integer>
				<key>y</key>
				<integer>474</integer>
			</dict>
			<key>Image</key>
			<string>foot_sealion_body.png</string>
		</dict>
		<key>FailSound</key>
		<string></string>
		<key>FrontFoot</key>
		<dict>
			<key>Anchor</key>
			<dict>
				<key>orientation</key>
				<integer>0</integer>
				<key>x</key>
				<integer>121</integer>
				<key>y</key>
				<integer>39</integer>
			</dict>
			<key>Image</key>
			<string>foot_sealion_front.png</string>
		</dict>
		<key>Name</key>
		<string>Sea Lion</string>
		<key>SuccessSound</key>
		<string>sealion2.wav</string>
	</dict>
</dict>
</plist>
