<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>spritesheets</key>
		<array>
			<string>birdsheet-ipadhd.plist</string>
		</array>
	</dict>
	<key>animations</key>
	<dict>
		<key>birds_fly</key>
		<dict>
			<key>frames</key>
			<array>
				<dict>
					<key>spriteframe</key>
					<string>bird_f1.png</string>
					<key>delayUnits</key>
					<string>3</string>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>bird_f2.png</string>
					<key>delayUnits</key>
					<string>1</string>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>bird_f3.png</string>
					<key>delayUnits</key>
					<string>1</string>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>bird_f4.png</string>
					<key>delayUnits</key>
					<string>1</string>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>bird_f5.png</string>
					<key>delayUnits</key>
					<string>1</string>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>bird_f6.png</string>
					<key>delayUnits</key>
					<string>1</string>
				</dict>
				<dict>
					<key>spriteframe</key>
					<string>bird_f7.png</string>
					<key>delayUnits</key>
					<string>1</string>
				</dict>
			</array>
			<key>delayPerUnit</key>
			<real>0.1</real>
			<key>restoreOriginalFrame</key>
			<false/>
			<key>loops</key>
			<integer>2048</integer>
		</dict>
	</dict>
</dict>
</plist>
