<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>giraffe1_f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,206}}</string>
                <key>sourceSize</key>
                <string>{115,206}</string>
            </dict>
            <key>giraffe1_f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{147,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,185}}</string>
                <key>sourceSize</key>
                <string>{147,185}</string>
            </dict>
            <key>giraffe1_f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{184,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,123}}</string>
                <key>sourceSize</key>
                <string>{184,123}</string>
            </dict>
            <key>giraffe1_f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,127},{161,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,123}}</string>
                <key>sourceSize</key>
                <string>{161,123}</string>
            </dict>
            <key>giraffe1_f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{161,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,123}}</string>
                <key>sourceSize</key>
                <string>{161,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>giraffe1sheet-ipad.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4eb7ba0310d2f2a59ca7dd491f603c2:1/1$</string>
            <key>textureFileName</key>
            <string>giraffe1sheet-ipad.png</string>
        </dict>
    </dict>
</plist>
