<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>upsell</string>
	<key>audioFile</key>
	<string>upsell.es.mp3</string>
	<key>locale</key>
	<string>es</string>
	<key>Estás</key>
	<dict>
		<key>start</key>
		<real>0.039696</real>
		<key>duration</key>
		<real>0.424749</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>haciendo</key>
	<dict>
		<key>start</key>
		<real>0.464445</real>
		<key>duration</key>
		<real>0.5557460000000001</real>
		<key>start_index</key>
		<integer>6</integer>
		<key>end_index</key>
		<integer>14</integer>
	</dict>
	<key>un</key>
	<dict>
		<key>start</key>
		<real>1.020191</real>
		<key>duration</key>
		<real>0.15481499999999992</real>
		<key>start_index</key>
		<integer>15</integer>
		<key>end_index</key>
		<integer>17</integer>
	</dict>
	<key>trabajo</key>
	<dict>
		<key>start</key>
		<real>1.214703</real>
		<key>duration</key>
		<real>0.4247489999999998</real>
		<key>start_index</key>
		<integer>18</integer>
		<key>end_index</key>
		<integer>25</integer>
	</dict>
	<key>excelente</key>
	<dict>
		<key>start</key>
		<real>1.639452</real>
		<key>duration</key>
		<real>0.750257</real>
		<key>start_index</key>
		<integer>26</integer>
		<key>end_index</key>
		<integer>35</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>start</key>
		<real>2.643764</real>
		<key>duration</key>
		<real>0.13893699999999987</real>
		<key>start_index</key>
		<integer>36</integer>
		<key>end_index</key>
		<integer>37</integer>
	</dict>
	<key>las</key>
	<dict>
		<key>start</key>
		<real>2.782701</real>
		<key>duration</key>
		<real>0.24611600000000022</real>
		<key>start_index</key>
		<integer>38</integer>
		<key>end_index</key>
		<integer>41</integer>
	</dict>
	<key>gemelas</key>
	<dict>
		<key>start</key>
		<real>3.028817</real>
		<key>duration</key>
		<real>0.651017</real>
		<key>start_index</key>
		<integer>42</integer>
		<key>end_index</key>
		<integer>49</integer>
	</dict>
	<key>Emma</key>
	<dict>
		<key>start</key>
		<real>3.806862</real>
		<key>duration</key>
		<real>0.35726599999999964</real>
		<key>start_index</key>
		<integer>50</integer>
		<key>end_index</key>
		<integer>54</integer>
	</dict>
	<key>y1</key>
	<dict>
		<key>start</key>
		<real>4.164128</real>
		<key>duration</key>
		<real>0.11114900000000016</real>
		<key>start_index</key>
		<integer>55</integer>
		<key>end_index</key>
		<integer>56</integer>
	</dict>
	<key>Avery</key>
	<dict>
		<key>start</key>
		<real>4.275277</real>
		<key>duration</key>
		<real>0.5239890000000003</real>
		<key>start_index</key>
		<integer>57</integer>
		<key>end_index</key>
		<integer>62</integer>
	</dict>
	<key>Están</key>
	<dict>
		<key>start</key>
		<real>5.029504</real>
		<key>duration</key>
		<real>0.4128400000000001</real>
		<key>start_index</key>
		<integer>63</integer>
		<key>end_index</key>
		<integer>68</integer>
	</dict>
	<key>super</key>
	<dict>
		<key>start</key>
		<real>5.442344</real>
		<key>duration</key>
		<real>0.4842930000000001</real>
		<key>start_index</key>
		<integer>69</integer>
		<key>end_index</key>
		<integer>74</integer>
	</dict>
	<key>felices.</key>
	<dict>
		<key>start</key>
		<real>5.994121</real>
		<key>duration</key>
		<real>0.6271990000000001</real>
		<key>start_index</key>
		<integer>75</integer>
		<key>end_index</key>
		<integer>83</integer>
	</dict>
	<key>¡No</key>
	<dict>
		<key>start</key>
		<real>7.042099</real>
		<key>duration</key>
		<real>0.21832899999999977</real>
		<key>start_index</key>
		<integer>84</integer>
		<key>end_index</key>
		<integer>87</integer>
	</dict>
	<key>pares</key>
	<dict>
		<key>start</key>
		<real>7.260428</real>
		<key>duration</key>
		<real>0.3413870000000001</real>
		<key>start_index</key>
		<integer>88</integer>
		<key>end_index</key>
		<integer>93</integer>
	</dict>
	<key>ahora!</key>
	<dict>
		<key>start</key>
		<real>7.601815</real>
		<key>duration</key>
		<real>0.46444499999999955</real>
		<key>start_index</key>
		<integer>94</integer>
		<key>end_index</key>
		<integer>100</integer>
	</dict>
	<key>¡La</key>
	<dict>
		<key>start</key>
		<real>8.387799</real>
		<key>duration</key>
		<real>0.20642000000000138</real>
		<key>start_index</key>
		<integer>101</integer>
		<key>end_index</key>
		<integer>103</integer>
	</dict>
	<key>diversión</key>
	<dict>
		<key>start</key>
		<real>8.594219</real>
		<key>duration</key>
		<real>0.7185009999999998</real>
		<key>start_index</key>
		<integer>104</integer>
		<key>end_index</key>
		<integer>113</integer>
	</dict>
	<key>está</key>
	<dict>
		<key>start</key>
		<real>9.364325</real>
		<key>duration</key>
		<real>0.28581200000000173</real>
		<key>start_index</key>
		<integer>114</integer>
		<key>end_index</key>
		<integer>118</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>start</key>
		<real>9.650137</real>
		<key>duration</key>
		<real>0.11908899999999889</real>
		<key>start_index</key>
		<integer>119</integer>
		<key>end_index</key>
		<integer>120</integer>
	</dict>
	<key>punto</key>
	<dict>
		<key>start</key>
		<real>9.888314</real>
		<key>duration</key>
		<real>0.385053000000001</real>
		<key>start_index</key>
		<integer>121</integer>
		<key>end_index</key>
		<integer>126</integer>
	</dict>
	<key>de</key>
	<dict>
		<key>start</key>
		<real>10.273367</real>
		<key>duration</key>
		<real>0.19054199999999888</real>
		<key>start_index</key>
		<integer>127</integer>
		<key>end_index</key>
		<integer>129</integer>
	</dict>
	<key>empezar!</key>
	<dict>
		<key>start</key>
		<real>10.463909</real>
		<key>duration</key>
		<real>0.512080000000001</real>
		<key>start_index</key>
		<integer>130</integer>
		<key>end_index</key>
		<integer>138</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>10.975989</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
