<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>outro</string>
	<key>audioFile</key>
	<string>outro.en.mp3</string>
	<key>locale</key>
	<string>en</string>
	<key>Hooray!</key>
	<dict>
		<key>start</key>
		<real>0.303469</real>
		<key>duration</key>
		<real>0.817031</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>7</integer>
	</dict>
	<key>You</key>
	<dict>
		<key>start</key>
		<real>1.353937</real>
		<key>duration</key>
		<real>0.210094</real>
		<key>start_index</key>
		<integer>8</integer>
		<key>end_index</key>
		<integer>11</integer>
	</dict>
	<key>have</key>
	<dict>
		<key>start</key>
		<real>1.564031</real>
		<key>duration</key>
		<real>0.239273</real>
		<key>start_index</key>
		<integer>12</integer>
		<key>end_index</key>
		<integer>16</integer>
	</dict>
	<key>helped</key>
	<dict>
		<key>start</key>
		<real>1.803304</real>
		<key>duration</key>
		<real>0.344321</real>
		<key>start_index</key>
		<integer>17</integer>
		<key>end_index</key>
		<integer>23</integer>
	</dict>
	<key>Emma</key>
	<dict>
		<key>start</key>
		<real>2.147625</real>
		<key>duration</key>
		<real>0.338484</real>
		<key>start_index</key>
		<integer>24</integer>
		<key>end_index</key>
		<integer>28</integer>
	</dict>
	<key>and</key>
	<dict>
		<key>start</key>
		<real>2.486109</real>
		<key>duration</key>
		<real>0.128391</real>
		<key>start_index</key>
		<integer>29</integer>
		<key>end_index</key>
		<integer>32</integer>
	</dict>
	<key>Avery</key>
	<dict>
		<key>start</key>
		<real>2.6145</real>
		<key>duration</key>
		<real>0.589429</real>
		<key>start_index</key>
		<integer>33</integer>
		<key>end_index</key>
		<integer>37</integer>
	</dict>
	<key>put</key>
	<dict>
		<key>start</key>
		<real>3.297304</real>
		<key>duration</key>
		<real>0.192586</real>
		<key>start_index</key>
		<integer>38</integer>
		<key>end_index</key>
		<integer>41</integer>
	</dict>
	<key>the</key>
	<dict>
		<key>start</key>
		<real>3.48989</real>
		<key>duration</key>
		<real>0.093375</real>
		<key>start_index</key>
		<integer>42</integer>
		<key>end_index</key>
		<integer>45</integer>
	</dict>
	<key>correct</key>
	<dict>
		<key>start</key>
		<real>3.583265</real>
		<key>duration</key>
		<real>0.379336</real>
		<key>start_index</key>
		<integer>46</integer>
		<key>end_index</key>
		<integer>53</integer>
	</dict>
	<key>pants</key>
	<dict>
		<key>start</key>
		<real>3.962601</real>
		<key>duration</key>
		<real>0.484383</real>
		<key>start_index</key>
		<integer>54</integer>
		<key>end_index</key>
		<integer>59</integer>
	</dict>
	<key>back</key>
	<dict>
		<key>start</key>
		<real>4.487835</real>
		<key>duration</key>
		<real>0.180914</real>
		<key>start_index</key>
		<integer>60</integer>
		<key>end_index</key>
		<integer>64</integer>
	</dict>
	<key>on</key>
	<dict>
		<key>start</key>
		<real>4.668749</real>
		<key>duration</key>
		<real>0.134227</real>
		<key>start_index</key>
		<integer>65</integer>
		<key>end_index</key>
		<integer>67</integer>
	</dict>
	<key>the1</key>
	<dict>
		<key>start</key>
		<real>4.802976</real>
		<key>duration</key>
		<real>0.145898</real>
		<key>start_index</key>
		<integer>68</integer>
		<key>end_index</key>
		<integer>71</integer>
	</dict>
	<key>animals.</key>
	<dict>
		<key>start</key>
		<real>4.948874</real>
		<key>duration</key>
		<real>0.577758</real>
		<key>start_index</key>
		<integer>72</integer>
		<key>end_index</key>
		<integer>80</integer>
	</dict>
	<key>Way</key>
	<dict>
		<key>start</key>
		<real>5.88846</real>
		<key>duration</key>
		<real>0.250945</real>
		<key>start_index</key>
		<integer>81</integer>
		<key>end_index</key>
		<integer>84</integer>
	</dict>
	<key>to</key>
	<dict>
		<key>start</key>
		<real>6.139405</real>
		<key>duration</key>
		<real>0.163407</real>
		<key>start_index</key>
		<integer>85</integer>
		<key>end_index</key>
		<integer>87</integer>
	</dict>
	<key>go!</key>
	<dict>
		<key>start</key>
		<real>6.302812</real>
		<key>duration</key>
		<real>0.536906</real>
		<key>start_index</key>
		<integer>88</integer>
		<key>end_index</key>
		<integer>91</integer>
	</dict>
	<key>Let's</key>
	<dict>
		<key>start</key>
		<real>7.41164</real>
		<key>duration</key>
		<real>0.355992</real>
		<key>start_index</key>
		<integer>92</integer>
		<key>end_index</key>
		<integer>97</integer>
	</dict>
	<key>go</key>
	<dict>
		<key>start</key>
		<real>7.767632</real>
		<key>duration</key>
		<real>0.180914</real>
		<key>start_index</key>
		<integer>98</integer>
		<key>end_index</key>
		<integer>100</integer>
	</dict>
	<key>learn</key>
	<dict>
		<key>start</key>
		<real>7.948546</real>
		<key>duration</key>
		<real>0.288879</real>
		<key>start_index</key>
		<integer>101</integer>
		<key>end_index</key>
		<integer>106</integer>
	</dict>
	<key>more</key>
	<dict>
		<key>start</key>
		<real>8.237425</real>
		<key>duration</key>
		<real>0.35891</real>
		<key>start_index</key>
		<integer>107</integer>
		<key>end_index</key>
		<integer>111</integer>
	</dict>
	<key>about</key>
	<dict>
		<key>start</key>
		<real>8.596335</real>
		<key>duration</key>
		<real>0.207176</real>
		<key>start_index</key>
		<integer>112</integer>
		<key>end_index</key>
		<integer>117</integer>
	</dict>
	<key>our</key>
	<dict>
		<key>start</key>
		<real>8.803511</real>
		<key>duration</key>
		<real>0.163406</real>
		<key>start_index</key>
		<integer>118</integer>
		<key>end_index</key>
		<integer>121</integer>
	</dict>
	<key>animal</key>
	<dict>
		<key>start</key>
		<real>8.966917</real>
		<key>duration</key>
		<real>0.402678999999999</real>
		<key>start_index</key>
		<integer>122</integer>
		<key>end_index</key>
		<integer>128</integer>
	</dict>
	<key>friends.</key>
	<dict>
		<key>start</key>
		<real>9.369596</real>
		<key>duration</key>
		<real>0.583594</real>
		<key>start_index</key>
		<integer>129</integer>
		<key>end_index</key>
		<integer>137</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>9.95319</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
