<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>story1</string>
	<key>audioFile</key>
	<string>story1.de.mp3</string>
	<key>locale</key>
	<string>de</string>
	<key>Die</key>
	<dict>
		<key>start</key>
		<real>0.040635</real>
		<key>duration</key>
		<real>0.232199</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>3</integer>
	</dict>
	<key>Zwillinge,</key>
	<dict>
		<key>start</key>
		<real>0.313469</real>
		<key>duration</key>
		<real>0.342495</real>
		<key>start_index</key>
		<integer>4</integer>
		<key>end_index</key>
		<integer>14</integer>
	</dict>
	<key>Emma</key>
	<dict>
		<key>start</key>
		<real>0.969433</real>
		<key>duration</key>
		<real>0.2322</real>
		<key>start_index</key>
		<integer>15</integer>
		<key>end_index</key>
		<integer>19</integer>
	</dict>
	<key>und</key>
	<dict>
		<key>start</key>
		<real>1.224853</real>
		<key>duration</key>
		<real>0.174149</real>
		<key>start_index</key>
		<integer>20</integer>
		<key>end_index</key>
		<integer>23</integer>
	</dict>
	<key>Avery</key>
	<dict>
		<key>start</key>
		<real>1.399002</real>
		<key>duration</key>
		<real>0.551474</real>
		<key>start_index</key>
		<integer>24</integer>
		<key>end_index</key>
		<integer>29</integer>
	</dict>
	<key>gehen</key>
	<dict>
		<key>start</key>
		<real>2.38585</real>
		<key>duration</key>
		<real>0.27864</real>
		<key>start_index</key>
		<integer>30</integer>
		<key>end_index</key>
		<integer>35</integer>
	</dict>
	<key>auf</key>
	<dict>
		<key>start</key>
		<real>2.705125</real>
		<key>duration</key>
		<real>0.342494</real>
		<key>start_index</key>
		<integer>36</integer>
		<key>end_index</key>
		<integer>39</integer>
	</dict>
	<key>Tierenabenteuer!</key>
	<dict>
		<key>start</key>
		<real>3.070839</real>
		<key>duration</key>
		<real>1.155193</real>
		<key>start_index</key>
		<integer>40</integer>
		<key>end_index</key>
		<integer>56</integer>
	</dict>
	<key>Alle</key>
	<dict>
		<key>start</key>
		<real>4.928435</real>
		<key>duration</key>
		<real>0.330884999999999</real>
		<key>start_index</key>
		<integer>57</integer>
		<key>end_index</key>
		<integer>61</integer>
	</dict>
	<key>Tiere</key>
	<dict>
		<key>start</key>
		<real>5.25932</real>
		<key>duration</key>
		<real>0.516644</real>
		<key>start_index</key>
		<integer>62</integer>
		<key>end_index</key>
		<integer>67</integer>
	</dict>
	<key>spielen</key>
	<dict>
		<key>start</key>
		<real>5.799184</real>
		<key>duration</key>
		<real>0.470204</real>
		<key>start_index</key>
		<integer>68</integer>
		<key>end_index</key>
		<integer>75</integer>
	</dict>
	<key>gern</key>
	<dict>
		<key>start</key>
		<real>6.315828</real>
		<key>duration</key>
		<real>0.290249</real>
		<key>start_index</key>
		<integer>76</integer>
		<key>end_index</key>
		<integer>80</integer>
	</dict>
	<key>mit</key>
	<dict>
		<key>start</key>
		<real>6.606077</real>
		<key>duration</key>
		<real>0.16254</real>
		<key>start_index</key>
		<integer>81</integer>
		<key>end_index</key>
		<integer>84</integer>
	</dict>
	<key>ihren</key>
	<dict>
		<key>start</key>
		<real>6.791837</real>
		<key>duration</key>
		<real>0.354104</real>
		<key>start_index</key>
		<integer>85</integer>
		<key>end_index</key>
		<integer>90</integer>
	</dict>
	<key>Tierfreunden,</key>
	<dict>
		<key>start</key>
		<real>7.174966</real>
		<key>duration</key>
		<real>0.893968</real>
		<key>start_index</key>
		<integer>91</integer>
		<key>end_index</key>
		<integer>104</integer>
	</dict>
	<key>aber</key>
	<dict>
		<key>start</key>
		<real>8.632018</real>
		<key>duration</key>
		<real>0.429568999999999</real>
		<key>start_index</key>
		<integer>105</integer>
		<key>end_index</key>
		<integer>109</integer>
	</dict>
	<key>warte</key>
	<dict>
		<key>start</key>
		<real>9.061587</real>
		<key>duration</key>
		<real>0.214785000000001</real>
		<key>start_index</key>
		<integer>110</integer>
		<key>end_index</key>
		<integer>115</integer>
	</dict>
	<key>mal,</key>
	<dict>
		<key>start</key>
		<real>9.317007</real>
		<key>duration</key>
		<real>0.365714000000001</real>
		<key>start_index</key>
		<integer>116</integer>
		<key>end_index</key>
		<integer>120</integer>
	</dict>
	<key>es</key>
	<dict>
		<key>start</key>
		<real>10.106485</real>
		<key>duration</key>
		<real>0.179955000000001</real>
		<key>start_index</key>
		<integer>121</integer>
		<key>end_index</key>
		<integer>123</integer>
	</dict>
	<key>scheint</key>
	<dict>
		<key>start</key>
		<real>10.30966</real>
		<key>duration</key>
		<real>0.336689000000002</real>
		<key>start_index</key>
		<integer>124</integer>
		<key>end_index</key>
		<integer>131</integer>
	</dict>
	<key>so,</key>
	<dict>
		<key>start</key>
		<real>10.646349</real>
		<key>duration</key>
		<real>0.383128999999998</real>
		<key>start_index</key>
		<integer>132</integer>
		<key>end_index</key>
		<integer>135</integer>
	</dict>
	<key>dass</key>
	<dict>
		<key>start</key>
		<real>11.203628</real>
		<key>duration</key>
		<real>0.272835000000001</real>
		<key>start_index</key>
		<integer>136</integer>
		<key>end_index</key>
		<integer>140</integer>
	</dict>
	<key>alle</key>
	<dict>
		<key>start</key>
		<real>11.528707</real>
		<key>duration</key>
		<real>0.388935</real>
		<key>start_index</key>
		<integer>141</integer>
		<key>end_index</key>
		<integer>145</integer>
	</dict>
	<key>Hosen</key>
	<dict>
		<key>start</key>
		<real>11.964082</real>
		<key>duration</key>
		<real>0.481814</real>
		<key>start_index</key>
		<integer>146</integer>
		<key>end_index</key>
		<integer>151</integer>
	</dict>
	<key>verloren</key>
	<dict>
		<key>start</key>
		<real>12.515556</real>
		<key>duration</key>
		<real>0.644353000000001</real>
		<key>start_index</key>
		<integer>152</integer>
		<key>end_index</key>
		<integer>160</integer>
	</dict>
	<key>gegangen</key>
	<dict>
		<key>start</key>
		<real>13.159909</real>
		<key>duration</key>
		<real>0.539864</real>
		<key>start_index</key>
		<integer>161</integer>
		<key>end_index</key>
		<integer>169</integer>
	</dict>
	<key>sind.</key>
	<dict>
		<key>start</key>
		<real>13.734603</real>
		<key>duration</key>
		<real>0.377324</real>
		<key>start_index</key>
		<integer>170</integer>
		<key>end_index</key>
		<integer>175</integer>
	</dict>
	<key>Wie</key>
	<dict>
		<key>start</key>
		<real>14.825941</real>
		<key>duration</key>
		<real>0.359909</real>
		<key>start_index</key>
		<integer>176</integer>
		<key>end_index</key>
		<integer>179</integer>
	</dict>
	<key>bescheuert!</key>
	<dict>
		<key>start</key>
		<real>15.23229</real>
		<key>duration</key>
		<real>0.673378999999999</real>
		<key>start_index</key>
		<integer>180</integer>
		<key>end_index</key>
		<integer>191</integer>
	</dict>
	<key>Kannst</key>
	<dict>
		<key>start</key>
		<real>16.625488</real>
		<key>duration</key>
		<real>0.313468999999998</real>
		<key>start_index</key>
		<integer>192</integer>
		<key>end_index</key>
		<integer>198</integer>
	</dict>
	<key>du</key>
	<dict>
		<key>start</key>
		<real>16.967982</real>
		<key>duration</key>
		<real>0.139320000000001</real>
		<key>start_index</key>
		<integer>199</integer>
		<key>end_index</key>
		<integer>201</integer>
	</dict>
	<key>ihnen</key>
	<dict>
		<key>start</key>
		<real>17.107302</real>
		<key>duration</key>
		<real>0.220589</real>
		<key>start_index</key>
		<integer>202</integer>
		<key>end_index</key>
		<integer>207</integer>
	</dict>
	<key>helfen,</key>
	<dict>
		<key>start</key>
		<real>17.356916</real>
		<key>duration</key>
		<real>0.435374000000003</real>
		<key>start_index</key>
		<integer>208</integer>
		<key>end_index</key>
		<integer>215</integer>
	</dict>
	<key>ihre</key>
	<dict>
		<key>start</key>
		<real>18.030295</real>
		<key>duration</key>
		<real>0.267029000000001</real>
		<key>start_index</key>
		<integer>216</integer>
		<key>end_index</key>
		<integer>220</integer>
	</dict>
	<key>Hosen1</key>
	<dict>
		<key>start</key>
		<real>18.349569</real>
		<key>duration</key>
		<real>0.388934000000003</real>
		<key>start_index</key>
		<integer>221</integer>
		<key>end_index</key>
		<integer>226</integer>
	</dict>
	<key>zu</key>
	<dict>
		<key>start</key>
		<real>18.738503</real>
		<key>duration</key>
		<real>0.139319999999998</real>
		<key>start_index</key>
		<integer>227</integer>
		<key>end_index</key>
		<integer>229</integer>
	</dict>
	<key>finden?</key>
	<dict>
		<key>start</key>
		<real>18.953288</real>
		<key>duration</key>
		<real>0.383129</real>
		<key>start_index</key>
		<integer>230</integer>
		<key>end_index</key>
		<integer>237</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>19.336417</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
