<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audioFile</key>
	<string>story1.en.mp3</string>
	<key>locale</key>
	<string>en</string>
	<key>Oh</key>
	<dict>
		<key>start</key>
		<real>0</real>
		<key>duration</key>
		<real>0.35</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>2</integer>
	</dict>
	<key>no!</key>
	<dict>
		<key>start</key>
		<real>0.35</real>
		<key>duration</key>
		<real>0.74</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>It</key>
	<dict>
		<key>start</key>
		<real>1.24</real>
		<key>duration</key>
		<real>0.11</real>
		<key>start_index</key>
		<integer>7</integer>
		<key>end_index</key>
		<integer>9</integer>
	</dict>
	<key>looks</key>
	<dict>
		<key>start</key>
		<real>1.35</real>
		<key>duration</key>
		<real>0.24</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>like</key>
	<dict>
		<key>start</key>
		<real>1.58</real>
		<key>duration</key>
		<real>0.16</real>
		<key>start_index</key>
		<integer>6</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>all</key>
	<dict>
		<key>start</key>
		<real>1.77</real>
		<key>duration</key>
		<real>0.15</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>our</key>
	<dict>
		<key>start</key>
		<real>1.89</real>
		<key>duration</key>
		<real>0.17</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>animal</key>
	<dict>
		<key>start</key>
		<real>2.06</real>
		<key>duration</key>
		<real>0.34</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>friends</key>
	<dict>
		<key>start</key>
		<real>2.41</real>
		<key>duration</key>
		<real>0.34</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>have</key>
	<dict>
		<key>start</key>
		<real>2.74</real>
		<key>duration</key>
		<real>0.13</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>lost</key>
	<dict>
		<key>start</key>
		<real>2.86</real>
		<key>duration</key>
		<real>0.32</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>their</key>
	<dict>
		<key>start</key>
		<real>3.18</real>
		<key>duration</key>
		<real>0.16</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>pants!</key>
	<dict>
		<key>start</key>
		<real>3.33</real>
		<key>duration</key>
		<real>0.6</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>Can</key>
	<dict>
		<key>start</key>
		<real>4.57</real>
		<key>duration</key>
		<real>0.15</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>you</key>
	<dict>
		<key>start</key>
		<real>4.71</real>
		<key>duration</key>
		<real>0.14</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>help</key>
	<dict>
		<key>start</key>
		<real>4.85</real>
		<key>duration</key>
		<real>0.2</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>the</key>
	<dict>
		<key>start</key>
		<real>5.05</real>
		<key>duration</key>
		<real>0.1</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>animals</key>
	<dict>
		<key>start</key>
		<real>5.14</real>
		<key>duration</key>
		<real>0.42</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>find</key>
	<dict>
		<key>start</key>
		<real>5.56</real>
		<key>duration</key>
		<real>0.27</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>their-2</key>
	<dict>
		<key>start</key>
		<real>5.83</real>
		<key>duration</key>
		<real>0.13</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>pants?</key>
	<dict>
		<key>start</key>
		<real>5.97</real>
		<key>duration</key>
		<real>0.55</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>6.6</real>
		<key>duration</key>
		<integer>0</integer>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
