<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>outro</string>
	<key>audioFile</key>
	<string>outro.de.mp3</string>
	<key>locale</key>
	<string>de</string>
	<key>Juhuu!</key>
	<dict>
		<key>start</key>
		<real>0.03483</real>
		<key>duration</key>
		<real>0.777868</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>6</integer>
	</dict>
	<key>Du</key>
	<dict>
		<key>start</key>
		<real>1.131973</real>
		<key>duration</key>
		<real>0.145125</real>
		<key>start_index</key>
		<integer>7</integer>
		<key>end_index</key>
		<integer>9</integer>
	</dict>
	<key>hast</key>
	<dict>
		<key>start</key>
		<real>1.277098</real>
		<key>duration</key>
		<real>0.214784</real>
		<key>start_index</key>
		<integer>10</integer>
		<key>end_index</key>
		<integer>14</integer>
	</dict>
	<key>Emma</key>
	<dict>
		<key>start</key>
		<real>1.515102</real>
		<key>duration</key>
		<real>0.249615</real>
		<key>start_index</key>
		<integer>15</integer>
		<key>end_index</key>
		<integer>19</integer>
	</dict>
	<key>und</key>
	<dict>
		<key>start</key>
		<real>1.793741</real>
		<key>duration</key>
		<real>0.121905</real>
		<key>start_index</key>
		<integer>20</integer>
		<key>end_index</key>
		<integer>23</integer>
	</dict>
	<key>Avery</key>
	<dict>
		<key>start</key>
		<real>1.979501</real>
		<key>duration</key>
		<real>0.191565</real>
		<key>start_index</key>
		<integer>24</integer>
		<key>end_index</key>
		<integer>29</integer>
	</dict>
	<key>geholfen,</key>
	<dict>
		<key>start</key>
		<real>2.380045</real>
		<key>duration</key>
		<real>0.580499</real>
		<key>start_index</key>
		<integer>30</integer>
		<key>end_index</key>
		<integer>39</integer>
	</dict>
	<key>die</key>
	<dict>
		<key>start</key>
		<real>3.134694</real>
		<key>duration</key>
		<real>0.255419</real>
		<key>start_index</key>
		<integer>40</integer>
		<key>end_index</key>
		<integer>43</integer>
	</dict>
	<key>richtige</key>
	<dict>
		<key>start</key>
		<real>3.390113</real>
		<key>duration</key>
		<real>0.31347</real>
		<key>start_index</key>
		<integer>44</integer>
		<key>end_index</key>
		<integer>52</integer>
	</dict>
	<key>Hosen</key>
	<dict>
		<key>start</key>
		<real>3.703583</real>
		<key>duration</key>
		<real>0.551474</real>
		<key>start_index</key>
		<integer>53</integer>
		<key>end_index</key>
		<integer>58</integer>
	</dict>
	<key>zu</key>
	<dict>
		<key>start</key>
		<real>4.284082</real>
		<key>duration</key>
		<real>0.104489</real>
		<key>start_index</key>
		<integer>59</integer>
		<key>end_index</key>
		<integer>61</integer>
	</dict>
	<key>den</key>
	<dict>
		<key>start</key>
		<real>4.388571</real>
		<key>duration</key>
		<real>0.20898</real>
		<key>start_index</key>
		<integer>62</integer>
		<key>end_index</key>
		<integer>65</integer>
	</dict>
	<key>richtigen</key>
	<dict>
		<key>start</key>
		<real>4.643991</real>
		<key>duration</key>
		<real>0.545669</real>
		<key>start_index</key>
		<integer>66</integer>
		<key>end_index</key>
		<integer>75</integer>
	</dict>
	<key>Tieren</key>
	<dict>
		<key>start</key>
		<real>5.2361</real>
		<key>duration</key>
		<real>0.319273999999999</real>
		<key>start_index</key>
		<integer>76</integer>
		<key>end_index</key>
		<integer>82</integer>
	</dict>
	<key>zu1</key>
	<dict>
		<key>start</key>
		<real>5.555374</real>
		<key>duration</key>
		<real>0.145125</real>
		<key>start_index</key>
		<integer>83</integer>
		<key>end_index</key>
		<integer>85</integer>
	</dict>
	<key>bringen.</key>
	<dict>
		<key>start</key>
		<real>5.700499</real>
		<key>duration</key>
		<real>0.388934</real>
		<key>start_index</key>
		<integer>86</integer>
		<key>end_index</key>
		<integer>94</integer>
	</dict>
	<key>Bravo!</key>
	<dict>
		<key>start</key>
		<real>6.495782</real>
		<key>duration</key>
		<real>0.876554</real>
		<key>start_index</key>
		<integer>95</integer>
		<key>end_index</key>
		<integer>101</integer>
	</dict>
	<key>Nun</key>
	<dict>
		<key>start</key>
		<real>8.138594</real>
		<key>duration</key>
		<real>0.24381</real>
		<key>start_index</key>
		<integer>102</integer>
		<key>end_index</key>
		<integer>105</integer>
	</dict>
	<key>lernen</key>
	<dict>
		<key>start</key>
		<real>8.411429</real>
		<key>duration</key>
		<real>0.423764</real>
		<key>start_index</key>
		<integer>106</integer>
		<key>end_index</key>
		<integer>112</integer>
	</dict>
	<key>wir</key>
	<dict>
		<key>start</key>
		<real>8.835193</real>
		<key>duration</key>
		<real>0.139319</real>
		<key>start_index</key>
		<integer>113</integer>
		<key>end_index</key>
		<integer>116</integer>
	</dict>
	<key>mal</key>
	<dict>
		<key>start</key>
		<real>9.015147</real>
		<key>duration</key>
		<real>0.133514999999999</real>
		<key>start_index</key>
		<integer>117</integer>
		<key>end_index</key>
		<integer>120</integer>
	</dict>
	<key>mehr</key>
	<dict>
		<key>start</key>
		<real>9.183492</real>
		<key>duration</key>
		<real>0.435374000000001</real>
		<key>start_index</key>
		<integer>121</integer>
		<key>end_index</key>
		<integer>125</integer>
	</dict>
	<key>über</key>
	<dict>
		<key>start</key>
		<real>9.618866</real>
		<key>duration</key>
		<real>0.313469999999999</real>
		<key>start_index</key>
		<integer>126</integer>
		<key>end_index</key>
		<integer>130</integer>
	</dict>
	<key>unsere</key>
	<dict>
		<key>start</key>
		<real>9.932336</real>
		<key>duration</key>
		<real>0.406349000000001</real>
		<key>start_index</key>
		<integer>131</integer>
		<key>end_index</key>
		<integer>137</integer>
	</dict>
	<key>Freunde:</key>
	<dict>
		<key>start</key>
		<real>10.466395</real>
		<key>duration</key>
		<real>0.534058999999999</real>
		<key>start_index</key>
		<integer>138</integer>
		<key>end_index</key>
		<integer>146</integer>
	</dict>
	<key>Die</key>
	<dict>
		<key>start</key>
		<real>11.186213</real>
		<key>duration</key>
		<real>0.20898</real>
		<key>start_index</key>
		<integer>147</integer>
		<key>end_index</key>
		<integer>150</integer>
	</dict>
	<key>Tiere!</key>
	<dict>
		<key>start</key>
		<real>11.488073</real>
		<key>duration</key>
		<real>0.725623000000001</real>
		<key>start_index</key>
		<integer>151</integer>
		<key>end_index</key>
		<integer>157</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>12.213696</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
