<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>outro</string>
	<key>audioFile</key>
	<string>outro.es.mp3</string>
	<key>locale</key>
	<string>es</string>
	<key>¡Bravo!</key>
	<dict>
		<key>start</key>
		<real>0.076648</real>
		<key>duration</key>
		<real>0.66428</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>7</integer>
	</dict>
	<key>Has</key>
	<dict>
		<key>start</key>
		<real>1.341335</real>
		<key>duration</key>
		<real>0.229943</real>
		<key>start_index</key>
		<integer>8</integer>
		<key>end_index</key>
		<integer>11</integer>
	</dict>
	<key>ayudado</key>
	<dict>
		<key>start</key>
		<real>1.635151</real>
		<key>duration</key>
		<real>0.7281529999999998</real>
		<key>start_index</key>
		<integer>12</integer>
		<key>end_index</key>
		<integer>19</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>start</key>
		<real>2.363304</real>
		<key>duration</key>
		<real>0.17884400000000023</real>
		<key>start_index</key>
		<integer>20</integer>
		<key>end_index</key>
		<integer>21</integer>
	</dict>
	<key>Emma</key>
	<dict>
		<key>start</key>
		<real>2.542148</real>
		<key>duration</key>
		<real>0.5109849999999998</real>
		<key>start_index</key>
		<integer>22</integer>
		<key>end_index</key>
		<integer>26</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>start</key>
		<real>3.142555</real>
		<key>duration</key>
		<real>0.10219699999999987</real>
		<key>start_index</key>
		<integer>27</integer>
		<key>end_index</key>
		<integer>28</integer>
	</dict>
	<key>a1</key>
	<dict>
		<key>start</key>
		<real>3.244752</real>
		<key>duration</key>
		<real>0.07984100000000005</real>
		<key>start_index</key>
		<integer>29</integer>
		<key>end_index</key>
		<integer>30</integer>
	</dict>
	<key>Avery</key>
	<dict>
		<key>start</key>
		<real>3.324593</real>
		<key>duration</key>
		<real>0.5716639999999997</real>
		<key>start_index</key>
		<integer>31</integer>
		<key>end_index</key>
		<integer>36</integer>
	</dict>
	<key>a2</key>
	<dict>
		<key>start</key>
		<real>4.432791</real>
		<key>duration</key>
		<real>0.12774600000000014</real>
		<key>start_index</key>
		<integer>37</integer>
		<key>end_index</key>
		<integer>38</integer>
	</dict>
	<key>ponerle</key>
	<dict>
		<key>start</key>
		<real>4.605249</real>
		<key>duration</key>
		<real>0.42156200000000066</real>
		<key>start_index</key>
		<integer>39</integer>
		<key>end_index</key>
		<integer>46</integer>
	</dict>
	<key>los</key>
	<dict>
		<key>start</key>
		<real>5.026811</real>
		<key>duration</key>
		<real>0.14052099999999967</real>
		<key>start_index</key>
		<integer>47</integer>
		<key>end_index</key>
		<integer>50</integer>
	</dict>
	<key>pantalones</key>
	<dict>
		<key>start</key>
		<real>5.21843</real>
		<key>duration</key>
		<real>0.6131820000000001</real>
		<key>start_index</key>
		<integer>51</integer>
		<key>end_index</key>
		<integer>61</integer>
	</dict>
	<key>correctos</key>
	<dict>
		<key>start</key>
		<real>5.831612</real>
		<key>duration</key>
		<real>0.5940190000000003</real>
		<key>start_index</key>
		<integer>62</integer>
		<key>end_index</key>
		<integer>71</integer>
	</dict>
	<key>a3</key>
	<dict>
		<key>start</key>
		<real>6.425631</real>
		<key>duration</key>
		<real>0.09581000000000017</real>
		<key>start_index</key>
		<integer>72</integer>
		<key>end_index</key>
		<integer>73</integer>
	</dict>
	<key>sus</key>
	<dict>
		<key>start</key>
		<real>6.521441</real>
		<key>duration</key>
		<real>0.2363299999999997</real>
		<key>start_index</key>
		<integer>74</integer>
		<key>end_index</key>
		<integer>77</integer>
	</dict>
	<key>amigos</key>
	<dict>
		<key>start</key>
		<real>6.757771</real>
		<key>duration</key>
		<real>0.4151749999999996</real>
		<key>start_index</key>
		<integer>78</integer>
		<key>end_index</key>
		<integer>84</integer>
	</dict>
	<key>animales.</key>
	<dict>
		<key>start</key>
		<real>7.172946</real>
		<key>duration</key>
		<real>0.7856390000000006</real>
		<key>start_index</key>
		<integer>85</integer>
		<key>end_index</key>
		<integer>94</integer>
	</dict>
	<key>¡Bien</key>
	<dict>
		<key>start</key>
		<real>8.584541</real>
		<key>duration</key>
		<real>0.3385270000000009</real>
		<key>start_index</key>
		<integer>95</integer>
		<key>end_index</key>
		<integer>100</integer>
	</dict>
	<key>hecho!</key>
	<dict>
		<key>start</key>
		<real>8.923068</real>
		<key>duration</key>
		<real>0.45988599999999913</real>
		<key>start_index</key>
		<integer>101</integer>
		<key>end_index</key>
		<integer>107</integer>
	</dict>
	<key>Ahora</key>
	<dict>
		<key>start</key>
		<real>9.766193</real>
		<key>duration</key>
		<real>0.4598860000000009</real>
		<key>start_index</key>
		<integer>108</integer>
		<key>end_index</key>
		<integer>113</integer>
	</dict>
	<key>vamos</key>
	<dict>
		<key>start</key>
		<real>10.226079</real>
		<key>duration</key>
		<real>0.2874289999999995</real>
		<key>start_index</key>
		<integer>114</integer>
		<key>end_index</key>
		<integer>119</integer>
	</dict>
	<key>a4</key>
	<dict>
		<key>start</key>
		<real>10.513508</real>
		<key>duration</key>
		<real>0.10858400000000046</real>
		<key>start_index</key>
		<integer>120</integer>
		<key>end_index</key>
		<integer>121</integer>
	</dict>
	<key>apprender</key>
	<dict>
		<key>start</key>
		<real>10.622092</real>
		<key>duration</key>
		<real>0.44072399999999945</real>
		<key>start_index</key>
		<integer>122</integer>
		<key>end_index</key>
		<integer>131</integer>
	</dict>
	<key>más</key>
	<dict>
		<key>start</key>
		<real>11.062816</real>
		<key>duration</key>
		<real>0.22994300000000045</real>
		<key>start_index</key>
		<integer>132</integer>
		<key>end_index</key>
		<integer>135</integer>
	</dict>
	<key>sobre</key>
	<dict>
		<key>start</key>
		<real>11.292759</real>
		<key>duration</key>
		<real>0.364077</real>
		<key>start_index</key>
		<integer>136</integer>
		<key>end_index</key>
		<integer>141</integer>
	</dict>
	<key>nuestros</key>
	<dict>
		<key>start</key>
		<real>11.656836</real>
		<key>duration</key>
		<real>0.3449139999999993</real>
		<key>start_index</key>
		<integer>142</integer>
		<key>end_index</key>
		<integer>150</integer>
	</dict>
	<key>nuevos</key>
	<dict>
		<key>start</key>
		<real>12.008138</real>
		<key>duration</key>
		<real>0.45349799999999973</real>
		<key>start_index</key>
		<integer>151</integer>
		<key>end_index</key>
		<integer>157</integer>
	</dict>
	<key>amigos.</key>
	<dict>
		<key>start</key>
		<real>12.461636</real>
		<key>duration</key>
		<real>0.6578929999999996</real>
		<key>start_index</key>
		<integer>158</integer>
		<key>end_index</key>
		<integer>165</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>13.119529</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
