<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>story1</string>
	<key>audioFile</key>
	<string>story1.fr.mp3</string>
	<key>locale</key>
	<string>fr</string>
	<key>Emma</key>
	<dict>
		<key>start</key>
		<real>0.1027</real>
		<key>duration</key>
		<real>0.282427</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>4</integer>
	</dict>
	<key>et</key>
	<dict>
		<key>start</key>
		<real>0.381917</real>
		<key>duration</key>
		<real>0.089863</real>
		<key>start_index</key>
		<integer>5</integer>
		<key>end_index</key>
		<integer>7</integer>
	</dict>
	<key>Avery</key>
	<dict>
		<key>start</key>
		<real>0.47499</real>
		<key>duration</key>
		<real>0.388336</real>
		<key>start_index</key>
		<integer>8</integer>
		<key>end_index</key>
		<integer>13</integer>
	</dict>
	<key>sont</key>
	<dict>
		<key>start</key>
		<real>0.863326</real>
		<key>duration</key>
		<real>0.356242</real>
		<key>start_index</key>
		<integer>14</integer>
		<key>end_index</key>
		<integer>18</integer>
	</dict>
	<key>deux</key>
	<dict>
		<key>start</key>
		<real>1.219568</real>
		<key>duration</key>
		<real>0.215029</real>
		<key>start_index</key>
		<integer>19</integer>
		<key>end_index</key>
		<integer>23</integer>
	</dict>
	<key>soeurs</key>
	<dict>
		<key>start</key>
		<real>1.434597</real>
		<key>duration</key>
		<real>0.215029</real>
		<key>start_index</key>
		<integer>24</integer>
		<key>end_index</key>
		<integer>30</integer>
	</dict>
	<key>jumelles</key>
	<dict>
		<key>start</key>
		<real>1.649626</real>
		<key>duration</key>
		<real>0.426849</real>
		<key>start_index</key>
		<integer>31</integer>
		<key>end_index</key>
		<integer>39</integer>
	</dict>
	<key>qui</key>
	<dict>
		<key>start</key>
		<real>2.076475</real>
		<key>duration</key>
		<real>0.109119</real>
		<key>start_index</key>
		<integer>40</integer>
		<key>end_index</key>
		<integer>43</integer>
	</dict>
	<key>vont</key>
	<dict>
		<key>start</key>
		<real>2.185594</real>
		<key>duration</key>
		<real>0.15726</real>
		<key>start_index</key>
		<integer>44</integer>
		<key>end_index</key>
		<integer>48</integer>
	</dict>
	<key>passer</key>
	<dict>
		<key>start</key>
		<real>2.342854</real>
		<key>duration</key>
		<real>0.317729</real>
		<key>start_index</key>
		<integer>49</integer>
		<key>end_index</key>
		<integer>55</integer>
	</dict>
	<key>une</key>
	<dict>
		<key>start</key>
		<real>2.580349</real>
		<key>duration</key>
		<real>0.189354</real>
		<key>start_index</key>
		<integer>56</integer>
		<key>end_index</key>
		<integer>59</integer>
	</dict>
	<key>journée</key>
	<dict>
		<key>start</key>
		<real>2.769703</real>
		<key>duration</key>
		<real>0.516711</real>
		<key>start_index</key>
		<integer>60</integer>
		<key>end_index</key>
		<integer>68</integer>
	</dict>
	<key>avec</key>
	<dict>
		<key>start</key>
		<real>3.286414</real>
		<key>duration</key>
		<real>0.0526489999999997</real>
		<key>start_index</key>
		<integer>69</integer>
		<key>end_index</key>
		<integer>74</integer>
	</dict>
	<key>les</key>
	<dict>
		<key>start</key>
		<real>3.339063</real>
		<key>duration</key>
		<real>0.111216</real>
		<key>start_index</key>
		<integer>75</integer>
		<key>end_index</key>
		<integer>78</integer>
	</dict>
	<key>animaux.</key>
	<dict>
		<key>start</key>
		<real>3.450279</real>
		<key>duration</key>
		<real>0.452338</real>
		<key>start_index</key>
		<integer>79</integer>
		<key>end_index</key>
		<integer>87</integer>
	</dict>
	<key>Tous</key>
	<dict>
		<key>start</key>
		<real>4.538076</real>
		<key>duration</key>
		<real>0.192563</real>
		<key>start_index</key>
		<integer>88</integer>
		<key>end_index</key>
		<integer>92</integer>
	</dict>
	<key>les1</key>
	<dict>
		<key>start</key>
		<real>4.730639</real>
		<key>duration</key>
		<real>0.104305</real>
		<key>start_index</key>
		<integer>93</integer>
		<key>end_index</key>
		<integer>96</integer>
	</dict>
	<key>animaux</key>
	<dict>
		<key>start</key>
		<real>4.834944</real>
		<key>duration</key>
		<real>0.516712</real>
		<key>start_index</key>
		<integer>97</integer>
		<key>end_index</key>
		<integer>104</integer>
	</dict>
	<key>s'amusent</key>
	<dict>
		<key>start</key>
		<real>5.351656</real>
		<key>duration</key>
		<real>0.306497</real>
		<key>start_index</key>
		<integer>105</integer>
		<key>end_index</key>
		<integer>114</integer>
	</dict>
	<key>entre</key>
	<dict>
		<key>start</key>
		<real>5.688642</real>
		<key>duration</key>
		<real>0.163679</real>
		<key>start_index</key>
		<integer>115</integer>
		<key>end_index</key>
		<integer>120</integer>
	</dict>
	<key>eux,</key>
	<dict>
		<key>start</key>
		<real>5.868368</real>
		<key>duration</key>
		<real>0.216633</real>
		<key>start_index</key>
		<integer>121</integer>
		<key>end_index</key>
		<integer>125</integer>
	</dict>
	<key>mais</key>
	<dict>
		<key>start</key>
		<real>6.428406</real>
		<key>duration</key>
		<real>0.29045</real>
		<key>start_index</key>
		<integer>126</integer>
		<key>end_index</key>
		<integer>130</integer>
	</dict>
	<key>attends,</key>
	<dict>
		<key>start</key>
		<real>6.760578</real>
		<key>duration</key>
		<real>0.253541</real>
		<key>start_index</key>
		<integer>131</integer>
		<key>end_index</key>
		<integer>139</integer>
	</dict>
	<key>il</key>
	<dict>
		<key>start</key>
		<real>7.158542</real>
		<key>duration</key>
		<real>0.15726</real>
		<key>start_index</key>
		<integer>140</integer>
		<key>end_index</key>
		<integer>142</integer>
	</dict>
	<key>semble</key>
	<dict>
		<key>start</key>
		<real>7.315802</real>
		<key>duration</key>
		<real>0.303287</real>
		<key>start_index</key>
		<integer>143</integer>
		<key>end_index</key>
		<integer>149</integer>
	</dict>
	<key>qu'ils</key>
	<dict>
		<key>start</key>
		<real>7.665625</real>
		<key>duration</key>
		<real>0.147632</real>
		<key>start_index</key>
		<integer>150</integer>
		<key>end_index</key>
		<integer>156</integer>
	</dict>
	<key>ont</key>
	<dict>
		<key>start</key>
		<real>7.813257</real>
		<key>duration</key>
		<real>0.178121</real>
		<key>start_index</key>
		<integer>157</integer>
		<key>end_index</key>
		<integer>160</integer>
	</dict>
	<key>tous</key>
	<dict>
		<key>start</key>
		<real>8.095683</real>
		<key>duration</key>
		<real>0.190959000000001</real>
		<key>start_index</key>
		<integer>161</integer>
		<key>end_index</key>
		<integer>165</integer>
	</dict>
	<key>perdu</key>
	<dict>
		<key>start</key>
		<real>8.336388</real>
		<key>duration</key>
		<real>0.259960000000001</real>
		<key>start_index</key>
		<integer>166</integer>
		<key>end_index</key>
		<integer>171</integer>
	</dict>
	<key>leurs</key>
	<dict>
		<key>start</key>
		<real>8.596348</real>
		<key>duration</key>
		<real>0.139609</real>
		<key>start_index</key>
		<integer>172</integer>
		<key>end_index</key>
		<integer>177</integer>
	</dict>
	<key>pantalons!</key>
	<dict>
		<key>start</key>
		<real>8.766446</real>
		<key>duration</key>
		<real>0.450918999999999</real>
		<key>start_index</key>
		<integer>178</integer>
		<key>end_index</key>
		<integer>188</integer>
	</dict>
	<key>Peux-tu</key>
	<dict>
		<key>start</key>
		<real>9.815916</real>
		<key>duration</key>
		<real>0.213424</real>
		<key>start_index</key>
		<integer>189</integer>
		<key>end_index</key>
		<integer>196</integer>
	</dict>
	<key>les2</key>
	<dict>
		<key>start</key>
		<real>10.02934</real>
		<key>duration</key>
		<real>0.0818399999999997</real>
		<key>start_index</key>
		<integer>197</integer>
		<key>end_index</key>
		<integer>200</integer>
	</dict>
	<key>aider</key>
	<dict>
		<key>start</key>
		<real>10.11118</real>
		<key>duration</key>
		<real>0.428453000000001</real>
		<key>start_index</key>
		<integer>201</integer>
		<key>end_index</key>
		<integer>206</integer>
	</dict>
	<key>à</key>
	<dict>
		<key>start</key>
		<real>10.539633</real>
		<key>duration</key>
		<real>0.0818399999999997</real>
		<key>start_index</key>
		<integer>207</integer>
		<key>end_index</key>
		<integer>209</integer>
	</dict>
	<key>retrouver</key>
	<dict>
		<key>start</key>
		<real>10.621473</real>
		<key>duration</key>
		<real>0.229471</real>
		<key>start_index</key>
		<integer>210</integer>
		<key>end_index</key>
		<integer>219</integer>
	</dict>
	<key>leurs1</key>
	<dict>
		<key>start</key>
		<real>10.850944</real>
		<key>duration</key>
		<real>0.1027</real>
		<key>start_index</key>
		<integer>220</integer>
		<key>end_index</key>
		<integer>225</integer>
	</dict>
	<key>pantalons?</key>
	<dict>
		<key>start</key>
		<real>11.00339</real>
		<key>duration</key>
		<real>0.412406000000001</real>
		<key>start_index</key>
		<integer>226</integer>
		<key>end_index</key>
		<integer>236</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>11.415796</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
