<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>upsell</string>
	<key>audioFile</key>
	<string>upsell.fr.mp3</string>
	<key>locale</key>
	<string>fr</string>
	<key>Tu</key>
	<dict>
		<key>start</key>
		<real>0.080212</real>
		<key>duration</key>
		<real>0.139857</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>2</integer>
	</dict>
	<key>t'en</key>
	<dict>
		<key>start</key>
		<real>0.279714</real>
		<key>duration</key>
		<real>0.129573</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>7</integer>
	</dict>
	<key>sors</key>
	<dict>
		<key>start</key>
		<real>0.409287</real>
		<key>duration</key>
		<real>0.359927</real>
		<key>start_index</key>
		<integer>8</integer>
		<key>end_index</key>
		<integer>12</integer>
	</dict>
	<key>drôlement</key>
	<dict>
		<key>start</key>
		<real>0.800064</real>
		<key>duration</key>
		<real>0.479216</real>
		<key>start_index</key>
		<integer>13</integer>
		<key>end_index</key>
		<integer>23</integer>
	</dict>
	<key>bien!</key>
	<dict>
		<key>start</key>
		<real>1.27928</real>
		<key>duration</key>
		<real>0.211843</real>
		<key>start_index</key>
		<integer>24</integer>
		<key>end_index</key>
		<integer>29</integer>
	</dict>
	<key>Emma</key>
	<dict>
		<key>start</key>
		<real>1.918921</real>
		<key>duration</key>
		<real>0.28794</real>
		<key>start_index</key>
		<integer>30</integer>
		<key>end_index</key>
		<integer>34</integer>
	</dict>
	<key>et</key>
	<dict>
		<key>start</key>
		<real>2.206861</real>
		<key>duration</key>
		<real>0.0123410000000002</real>
		<key>start_index</key>
		<integer>35</integer>
		<key>end_index</key>
		<integer>37</integer>
	</dict>
	<key>Avery</key>
	<dict>
		<key>start</key>
		<real>2.219202</real>
		<key>duration</key>
		<real>0.361983</real>
		<key>start_index</key>
		<integer>38</integer>
		<key>end_index</key>
		<integer>43</integer>
	</dict>
	<key>sont</key>
	<dict>
		<key>start</key>
		<real>2.581185</real>
		<key>duration</key>
		<real>0.204643</real>
		<key>start_index</key>
		<integer>44</integer>
		<key>end_index</key>
		<integer>48</integer>
	</dict>
	<key>très</key>
	<dict>
		<key>start</key>
		<real>2.854729</real>
		<key>duration</key>
		<real>0.260175</real>
		<key>start_index</key>
		<integer>49</integer>
		<key>end_index</key>
		<integer>54</integer>
	</dict>
	<key>heureuses.</key>
	<dict>
		<key>start</key>
		<real>3.114904</real>
		<key>duration</key>
		<real>0.416486</real>
		<key>start_index</key>
		<integer>55</integer>
		<key>end_index</key>
		<integer>65</integer>
	</dict>
	<key>Ne</key>
	<dict>
		<key>start</key>
		<real>3.848125</real>
		<key>duration</key>
		<real>0.110034</real>
		<key>start_index</key>
		<integer>66</integer>
		<key>end_index</key>
		<integer>68</integer>
	</dict>
	<key>t’arrêtes</key>
	<dict>
		<key>start</key>
		<real>4.026031</real>
		<key>duration</key>
		<real>0.188190000000001</real>
		<key>start_index</key>
		<integer>69</integer>
		<key>end_index</key>
		<integer>81</integer>
	</dict>
	<key>pas</key>
	<dict>
		<key>start</key>
		<real>4.312944</real>
		<key>duration</key>
		<real>0.223154</real>
		<key>start_index</key>
		<integer>82</integer>
		<key>end_index</key>
		<integer>85</integer>
	</dict>
	<key>maintenant,</key>
	<dict>
		<key>start</key>
		<real>4.548438</real>
		<key>duration</key>
		<real>0.304395</real>
		<key>start_index</key>
		<integer>86</integer>
		<key>end_index</key>
		<integer>97</integer>
	</dict>
	<key>il</key>
	<dict>
		<key>start</key>
		<real>5.181908</real>
		<key>duration</key>
		<real>0.0627300000000002</real>
		<key>start_index</key>
		<integer>98</integer>
		<key>end_index</key>
		<integer>100</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>start</key>
		<real>5.244638</real>
		<key>duration</key>
		<real>0.0545029999999995</real>
		<key>start_index</key>
		<integer>101</integer>
		<key>end_index</key>
		<integer>102</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>start</key>
		<real>5.299141</real>
		<key>duration</key>
		<real>0.00822700000000065</real>
		<key>start_index</key>
		<integer>103</integer>
		<key>end_index</key>
		<integer>104</integer>
	</dict>
	<key>encore</key>
	<dict>
		<key>start</key>
		<real>5.307368</real>
		<key>duration</key>
		<real>0.475103</real>
		<key>start_index</key>
		<integer>105</integer>
		<key>end_index</key>
		<integer>111</integer>
	</dict>
	<key>beaucoup</key>
	<dict>
		<key>start</key>
		<real>5.795839</real>
		<key>duration</key>
		<real>0.23858</real>
		<key>start_index</key>
		<integer>112</integer>
		<key>end_index</key>
		<integer>120</integer>
	</dict>
	<key>de</key>
	<dict>
		<key>start</key>
		<real>6.034419</real>
		<key>duration</key>
		<real>0.115176</real>
		<key>start_index</key>
		<integer>121</integer>
		<key>end_index</key>
		<integer>123</integer>
	</dict>
	<key>nouveautés</key>
	<dict>
		<key>start</key>
		<real>6.149595</real>
		<key>duration</key>
		<real>0.252977</real>
		<key>start_index</key>
		<integer>124</integer>
		<key>end_index</key>
		<integer>135</integer>
	</dict>
	<key>amusantes</key>
	<dict>
		<key>start</key>
		<real>6.402572</real>
		<key>duration</key>
		<real>0.487443</real>
		<key>start_index</key>
		<integer>136</integer>
		<key>end_index</key>
		<integer>145</integer>
	</dict>
	<key>à</key>
	<dict>
		<key>start</key>
		<real>6.890015</real>
		<key>duration</key>
		<real>0.044219</real>
		<key>start_index</key>
		<integer>146</integer>
		<key>end_index</key>
		<integer>148</integer>
	</dict>
	<key>découvrir!</key>
	<dict>
		<key>start</key>
		<real>6.971255</real>
		<key>duration</key>
		<real>0.663292999999999</real>
		<key>start_index</key>
		<integer>149</integer>
		<key>end_index</key>
		<integer>160</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>7.634548</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
