<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>upsell</string>
	<key>audioFile</key>
	<string>upsell.de.mp3</string>
	<key>locale</key>
	<string>de</string>
	<key>Du</key>
	<dict>
		<key>start</key>
		<real>0.012781</real>
		<key>duration</key>
		<real>0.132918</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>2</integer>
	</dict>
	<key>machst</key>
	<dict>
		<key>start</key>
		<real>0.265837</real>
		<key>duration</key>
		<real>0.222383</real>
		<key>start_index</key>
		<integer>3</integer>
		<key>end_index</key>
		<integer>9</integer>
	</dict>
	<key>das</key>
	<dict>
		<key>start</key>
		<real>0.48822</real>
		<key>duration</key>
		<real>0.102246</real>
		<key>start_index</key>
		<integer>10</integer>
		<key>end_index</key>
		<integer>13</integer>
	</dict>
	<key>sehr</key>
	<dict>
		<key>start</key>
		<real>0.63392</real>
		<key>duration</key>
		<real>0.549567</real>
		<key>start_index</key>
		<integer>14</integer>
		<key>end_index</key>
		<integer>18</integer>
	</dict>
	<key>gut,</key>
	<dict>
		<key>start</key>
		<real>1.221829</real>
		<key>duration</key>
		<real>0.347633</real>
		<key>start_index</key>
		<integer>19</integer>
		<key>end_index</key>
		<integer>23</integer>
	</dict>
	<key>und</key>
	<dict>
		<key>start</key>
		<real>1.814851</real>
		<key>duration</key>
		<real>0.166148</real>
		<key>start_index</key>
		<integer>24</integer>
		<key>end_index</key>
		<integer>27</integer>
	</dict>
	<key>Emma</key>
	<dict>
		<key>start</key>
		<real>2.011673</real>
		<key>duration</key>
		<real>0.21727</real>
		<key>start_index</key>
		<integer>28</integer>
		<key>end_index</key>
		<integer>32</integer>
	</dict>
	<key>und1</key>
	<dict>
		<key>start</key>
		<real>2.246836</real>
		<key>duration</key>
		<real>0.0996890000000001</real>
		<key>start_index</key>
		<integer>33</integer>
		<key>end_index</key>
		<integer>36</integer>
	</dict>
	<key>Avery</key>
	<dict>
		<key>start</key>
		<real>2.489668</real>
		<key>duration</key>
		<real>0.380863</real>
		<key>start_index</key>
		<integer>37</integer>
		<key>end_index</key>
		<integer>42</integer>
	</dict>
	<key>freuen</key>
	<dict>
		<key>start</key>
		<real>2.977889</real>
		<key>duration</key>
		<real>0.199378</real>
		<key>start_index</key>
		<integer>43</integer>
		<key>end_index</key>
		<integer>49</integer>
	</dict>
	<key>sich</key>
	<dict>
		<key>start</key>
		<real>3.253951</real>
		<key>duration</key>
		<real>0.140587</real>
		<key>start_index</key>
		<integer>50</integer>
		<key>end_index</key>
		<integer>54</integer>
	</dict>
	<key>sehr.</key>
	<dict>
		<key>start</key>
		<real>3.41243</real>
		<key>duration</key>
		<real>0.439654</real>
		<key>start_index</key>
		<integer>55</integer>
		<key>end_index</key>
		<integer>60</integer>
	</dict>
	<key>Hör</key>
	<dict>
		<key>start</key>
		<real>4.470667</real>
		<key>duration</key>
		<real>0.230052000000001</real>
		<key>start_index</key>
		<integer>61</integer>
		<key>end_index</key>
		<integer>64</integer>
	</dict>
	<key>doch</key>
	<dict>
		<key>start</key>
		<real>4.728836</real>
		<key>duration</key>
		<real>0.20449</real>
		<key>start_index</key>
		<integer>65</integer>
		<key>end_index</key>
		<integer>69</integer>
	</dict>
	<key>noch</key>
	<dict>
		<key>start</key>
		<real>4.99723</real>
		<key>duration</key>
		<real>0.209602</real>
		<key>start_index</key>
		<integer>70</integer>
		<key>end_index</key>
		<integer>74</integer>
	</dict>
	<key>nicht</key>
	<dict>
		<key>start</key>
		<real>5.250286</real>
		<key>duration</key>
		<real>0.199378</real>
		<key>start_index</key>
		<integer>75</integer>
		<key>end_index</key>
		<integer>80</integer>
	</dict>
	<key>auf!</key>
	<dict>
		<key>start</key>
		<real>5.500787</real>
		<key>duration</key>
		<real>0.444766</real>
		<key>start_index</key>
		<integer>81</integer>
		<key>end_index</key>
		<integer>85</integer>
	</dict>
	<key>Der</key>
	<dict>
		<key>start</key>
		<real>6.249732</real>
		<key>duration</key>
		<real>0.109914</real>
		<key>start_index</key>
		<integer>86</integer>
		<key>end_index</key>
		<integer>89</integer>
	</dict>
	<key>Spass</key>
	<dict>
		<key>start</key>
		<real>6.382651</real>
		<key>duration</key>
		<real>0.286286</real>
		<key>start_index</key>
		<integer>90</integer>
		<key>end_index</key>
		<integer>95</integer>
	</dict>
	<key>fängt</key>
	<dict>
		<key>start</key>
		<real>6.681718</real>
		<key>duration</key>
		<real>0.388531</real>
		<key>start_index</key>
		<integer>96</integer>
		<key>end_index</key>
		<integer>101</integer>
	</dict>
	<key>gerade</key>
	<dict>
		<key>start</key>
		<real>7.17505</real>
		<key>duration</key>
		<real>0.414093</real>
		<key>start_index</key>
		<integer>102</integer>
		<key>end_index</key>
		<integer>108</integer>
	</dict>
	<key>erst</key>
	<dict>
		<key>start</key>
		<real>7.619817</real>
		<key>duration</key>
		<real>0.194265</real>
		<key>start_index</key>
		<integer>109</integer>
		<key>end_index</key>
		<integer>113</integer>
	</dict>
	<key>an!</key>
	<dict>
		<key>start</key>
		<real>7.908659</real>
		<key>duration</key>
		<real>0.296511000000001</real>
		<key>start_index</key>
		<integer>114</integer>
		<key>end_index</key>
		<integer>117</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>8.20517</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
