<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>polarbear</string>
	<key>audioFile</key>
	<string>polarbear_story.es.mp3</string>
	<key>locale</key>
	<string>es</string>
	<key>Paola</key>
	<dict>
		<key>start</key>
		<real>0.0</real>
		<key>duration</key>
		<real>0.562039</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>la</key>
	<dict>
		<key>start</key>
		<real>0.591844</real>
		<key>duration</key>
		<real>0.24695699999999998</real>
		<key>start_index</key>
		<integer>6</integer>
		<key>end_index</key>
		<integer>8</integer>
	</dict>
	<key>Osa</key>
	<dict>
		<key>start</key>
		<real>0.838801</real>
		<key>duration</key>
		<real>0.39598199999999995</real>
		<key>start_index</key>
		<integer>9</integer>
		<key>end_index</key>
		<integer>12</integer>
	</dict>
	<key>Polar</key>
	<dict>
		<key>start</key>
		<real>1.26033</real>
		<key>duration</key>
		<real>0.523719</real>
		<key>start_index</key>
		<integer>13</integer>
		<key>end_index</key>
		<integer>18</integer>
	</dict>
	<key>tiene</key>
	<dict>
		<key>start</key>
		<real>2.354604</real>
		<key>duration</key>
		<real>0.170315</real>
		<key>start_index</key>
		<integer>19</integer>
		<key>end_index</key>
		<integer>24</integer>
	</dict>
	<key>una</key>
	<dict>
		<key>start</key>
		<real>2.524919</real>
		<key>duration</key>
		<real>0.25121400000000005</real>
		<key>start_index</key>
		<integer>25</integer>
		<key>end_index</key>
		<integer>28</integer>
	</dict>
	<key>falda</key>
	<dict>
		<key>start</key>
		<real>2.865549</real>
		<key>duration</key>
		<real>0.2852769999999998</real>
		<key>start_index</key>
		<integer>29</integer>
		<key>end_index</key>
		<integer>34</integer>
	</dict>
	<key>azul</key>
	<dict>
		<key>start</key>
		<real>3.150826</real>
		<key>duration</key>
		<real>0.438561</real>
		<key>start_index</key>
		<integer>35</integer>
		<key>end_index</key>
		<integer>39</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>start</key>
		<real>3.827828</real>
		<key>duration</key>
		<real>0.12347800000000042</real>
		<key>start_index</key>
		<integer>40</integer>
		<key>end_index</key>
		<integer>41</integer>
	</dict>
	<key>sus</key>
	<dict>
		<key>start</key>
		<real>3.951306</real>
		<key>duration</key>
		<real>0.2980509999999996</real>
		<key>start_index</key>
		<integer>42</integer>
		<key>end_index</key>
		<integer>45</integer>
	</dict>
	<key>pies</key>
	<dict>
		<key>start</key>
		<real>4.279163</real>
		<key>duration</key>
		<real>0.25121400000000005</real>
		<key>start_index</key>
		<integer>46</integer>
		<key>end_index</key>
		<integer>50</integer>
	</dict>
	<key>son</key>
	<dict>
		<key>start</key>
		<real>4.530377</real>
		<key>duration</key>
		<real>0.2256670000000005</real>
		<key>start_index</key>
		<integer>51</integer>
		<key>end_index</key>
		<integer>54</integer>
	</dict>
	<key>blancos</key>
	<dict>
		<key>start</key>
		<real>4.756044</real>
		<key>duration</key>
		<real>0.4343029999999999</real>
		<key>start_index</key>
		<integer>55</integer>
		<key>end_index</key>
		<integer>62</integer>
	</dict>
	<key>y1</key>
	<dict>
		<key>start</key>
		<real>5.190347</real>
		<key>duration</key>
		<real>0.17457299999999965</real>
		<key>start_index</key>
		<integer>63</integer>
		<key>end_index</key>
		<integer>64</integer>
	</dict>
	<key>peludos.</key>
	<dict>
		<key>start</key>
		<real>5.36492</real>
		<key>duration</key>
		<real>0.49817100000000014</real>
		<key>start_index</key>
		<integer>65</integer>
		<key>end_index</key>
		<integer>73</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>5.863091</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
