<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>polarbear</string>
	<key>audioFile</key>
	<string>polarbear_story.fr.mp3</string>
	<key>locale</key>
	<string>fr</string>
	<key>Peggy</key>
	<dict>
		<key>start</key>
		<real>0.0</real>
		<key>duration</key>
		<real>0.29708</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>l'Ours</key>
	<dict>
		<key>start</key>
		<real>0.29708</real>
		<key>duration</key>
		<real>0.313895</real>
		<key>start_index</key>
		<integer>6</integer>
		<key>end_index</key>
		<integer>12</integer>
	</dict>
	<key>Ploaire</key>
	<dict>
		<key>start</key>
		<real>0.672633</real>
		<key>duration</key>
		<real>0.397975</real>
		<key>start_index</key>
		<integer>13</integer>
		<key>end_index</key>
		<integer>20</integer>
	</dict>
	<key>porte</key>
	<dict>
		<key>start</key>
		<real>1.199529</real>
		<key>duration</key>
		<real>0.263448</real>
		<key>start_index</key>
		<integer>21</integer>
		<key>end_index</key>
		<integer>26</integer>
	</dict>
	<key>une</key>
	<dict>
		<key>start</key>
		<real>1.462977</real>
		<key>duration</key>
		<real>0.274658</real>
		<key>start_index</key>
		<integer>27</integer>
		<key>end_index</key>
		<integer>30</integer>
	</dict>
	<key>jupe</key>
	<dict>
		<key>start</key>
		<real>1.737635</real>
		<key>duration</key>
		<real>0.409186</real>
		<key>start_index</key>
		<integer>31</integer>
		<key>end_index</key>
		<integer>35</integer>
	</dict>
	<key>blueu</key>
	<dict>
		<key>start</key>
		<real>2.146821</real>
		<key>duration</key>
		<real>0.347527</real>
		<key>start_index</key>
		<integer>36</integer>
		<key>end_index</key>
		<integer>41</integer>
	</dict>
	<key>et</key>
	<dict>
		<key>start</key>
		<real>2.858691</real>
		<key>duration</key>
		<real>0.134526</real>
		<key>start_index</key>
		<integer>42</integer>
		<key>end_index</key>
		<integer>44</integer>
	</dict>
	<key>ses</key>
	<dict>
		<key>start</key>
		<real>2.993217</real>
		<key>duration</key>
		<real>0.229816</real>
		<key>start_index</key>
		<integer>45</integer>
		<key>end_index</key>
		<integer>48</integer>
	</dict>
	<key>pattes</key>
	<dict>
		<key>start</key>
		<real>3.223033</real>
		<key>duration</key>
		<real>0.341922</real>
		<key>start_index</key>
		<integer>49</integer>
		<key>end_index</key>
		<integer>55</integer>
	</dict>
	<key>sont</key>
	<dict>
		<key>start</key>
		<real>3.564955</real>
		<key>duration</key>
		<real>0.213001</real>
		<key>start_index</key>
		<integer>56</integer>
		<key>end_index</key>
		<integer>60</integer>
	</dict>
	<key>blanches</key>
	<dict>
		<key>start</key>
		<real>3.777956</real>
		<key>duration</key>
		<real>0.451224</real>
		<key>start_index</key>
		<integer>61</integer>
		<key>end_index</key>
		<integer>69</integer>
	</dict>
	<key>et1</key>
	<dict>
		<key>start</key>
		<real>4.22918</real>
		<key>duration</key>
		<real>0.0868819999999992</real>
		<key>start_index</key>
		<integer>70</integer>
		<key>end_index</key>
		<integer>72</integer>
	</dict>
	<key>poilues.</key>
	<dict>
		<key>start</key>
		<real>4.470207</real>
		<key>duration</key>
		<real>0.521291</real>
		<key>start_index</key>
		<integer>73</integer>
		<key>end_index</key>
		<integer>81</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>4.991498</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
