<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Key</key>
	<string>Hippo</string>
	<key>Environment</key>
	<string>river</string>
	<key>SuccessSound</key>
	<string>elephant2.wav</string>
	<key>Name</key>
	<string>Hippo</string>
	<key>FailSound</key>
	<string></string>
	<key>Body</key>
	<dict>
		<key>HappyImage</key>
		<string>hippo_top_happy.png</string>
		<key>AnchorFoot</key>
		<dict>
			<key>orientation</key>
			<integer>0</integer>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>227</integer>
		</dict>
		<key>Image</key>
		<string>hippo_top.png</string>
	</dict>
	<key>Foot</key>
	<dict>
		<key>Anchor</key>
		<dict>
			<key>orientation</key>
			<integer>0</integer>
			<key>x</key>
			<integer>204</integer>
			<key>y</key>
			<integer>60</integer>
		</dict>
		<key>Image</key>
		<string>hippo_bottom.png</string>
	</dict>
	<key>Word</key>
	<string>hippo_word.en.png</string>
</dict>
</plist>
