<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>productId</key>
	<string>com.alchemistinteractive.footgame.apack.all</string>
	<key>Key</key>
	<string>Monkey</string>
	<key>Environment</key>
	<string>mangrove_forest</string>
	<key>habitatLocations</key>
	<array>
		<dict>
			<key>lng</key>
			<real>-8.085936999999999</real>
			<key>lat</key>
			<real>6.664608</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>11.25</real>
			<key>lat</key>
			<real>1.054628</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>24.257813</real>
			<key>lat</key>
			<real>3.162456</real>
		</dict>
	</array>
	<key>SuccessSound</key>
	<string>Monkey_noise.wav</string>
	<key>Name</key>
	<string>Monkey</string>
	<key>FailSound</key>
	<string></string>
	<key>Body</key>
	<dict>
		<key>HappyImage</key>
		<string>monkey_top_happy.png</string>
		<key>AnchorFoot</key>
		<dict>
			<key>orientation</key>
			<integer>0</integer>
			<key>x</key>
			<integer>129</integer>
			<key>y</key>
			<integer>257</integer>
		</dict>
		<key>Image</key>
		<string>monkey_top.png</string>
	</dict>
	<key>Foot</key>
	<dict>
		<key>Anchor</key>
		<dict>
			<key>orientation</key>
			<integer>0</integer>
			<key>x</key>
			<integer>87</integer>
			<key>y</key>
			<integer>12</integer>
		</dict>
		<key>Image</key>
		<string>monkey_bottom.png</string>
	</dict>
	<key>Word</key>
	<string>monkey_word.en.png</string>
</dict>
</plist>
