<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>zebra</string>
	<key>audioFile</key>
	<string>zebra_story.es.mp3</string>
	<key>locale</key>
	<string>es</string>
	<key>Las</key>
	<dict>
		<key>start</key>
		<real>0.0</real>
		<key>duration</key>
		<real>0.290356</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>3</integer>
	</dict>
	<key>piernas</key>
	<dict>
		<key>start</key>
		<real>0.290356</real>
		<key>duration</key>
		<real>0.5115799999999999</real>
		<key>start_index</key>
		<integer>4</integer>
		<key>end_index</key>
		<integer>11</integer>
	</dict>
	<key>de</key>
	<dict>
		<key>start</key>
		<real>0.801936</real>
		<key>duration</key>
		<real>0.11752499999999999</real>
		<key>start_index</key>
		<integer>12</integer>
		<key>end_index</key>
		<integer>14</integer>
	</dict>
	<key>Cesar</key>
	<dict>
		<key>start</key>
		<real>0.919461</real>
		<key>duration</key>
		<real>0.477013</real>
		<key>start_index</key>
		<integer>15</integer>
		<key>end_index</key>
		<integer>20</integer>
	</dict>
	<key>la</key>
	<dict>
		<key>start</key>
		<real>1.396474</real>
		<key>duration</key>
		<real>0.2212240000000001</real>
		<key>start_index</key>
		<integer>21</integer>
		<key>end_index</key>
		<integer>23</integer>
	</dict>
	<key>Zebra</key>
	<dict>
		<key>start</key>
		<real>1.617698</real>
		<key>duration</key>
		<real>0.6152779999999998</real>
		<key>start_index</key>
		<integer>24</integer>
		<key>end_index</key>
		<integer>29</integer>
	</dict>
	<key>son</key>
	<dict>
		<key>start</key>
		<real>2.267542</real>
		<key>duration</key>
		<real>0.2972699999999997</real>
		<key>start_index</key>
		<integer>30</integer>
		<key>end_index</key>
		<integer>33</integer>
	</dict>
	<key>blancas</key>
	<dict>
		<key>start</key>
		<real>2.564812</real>
		<key>duration</key>
		<real>0.49775300000000033</real>
		<key>start_index</key>
		<integer>34</integer>
		<key>end_index</key>
		<integer>41</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>start</key>
		<real>3.062565</real>
		<key>duration</key>
		<real>0.08987199999999973</real>
		<key>start_index</key>
		<integer>42</integer>
		<key>end_index</key>
		<integer>43</integer>
	</dict>
	<key>negras</key>
	<dict>
		<key>start</key>
		<real>3.152437</real>
		<key>duration</key>
		<real>0.6844100000000002</real>
		<key>start_index</key>
		<integer>44</integer>
		<key>end_index</key>
		<integer>50</integer>
	</dict>
	<key>y1</key>
	<dict>
		<key>start</key>
		<real>4.071898</real>
		<key>duration</key>
		<real>0.15900400000000037</real>
		<key>start_index</key>
		<integer>51</integer>
		<key>end_index</key>
		<integer>52</integer>
	</dict>
	<key>tiene</key>
	<dict>
		<key>start</key>
		<real>4.279295</real>
		<key>duration</key>
		<real>0.2696160000000001</real>
		<key>start_index</key>
		<integer>53</integer>
		<key>end_index</key>
		<integer>58</integer>
	</dict>
	<key>puesto</key>
	<dict>
		<key>start</key>
		<real>4.624957</real>
		<key>duration</key>
		<real>0.4562729999999995</real>
		<key>start_index</key>
		<integer>59</integer>
		<key>end_index</key>
		<integer>65</integer>
	</dict>
	<key>unos</key>
	<dict>
		<key>start</key>
		<real>5.08123</real>
		<key>duration</key>
		<real>0.2834430000000001</real>
		<key>start_index</key>
		<integer>66</integer>
		<key>end_index</key>
		<integer>70</integer>
	</dict>
	<key>shorts</key>
	<dict>
		<key>start</key>
		<real>5.364673</real>
		<key>duration</key>
		<real>0.6221920000000001</real>
		<key>start_index</key>
		<integer>71</integer>
		<key>end_index</key>
		<integer>77</integer>
	</dict>
	<key>con</key>
	<dict>
		<key>start</key>
		<real>6.069824</real>
		<key>duration</key>
		<real>0.22813600000000012</real>
		<key>start_index</key>
		<integer>78</integer>
		<key>end_index</key>
		<integer>81</integer>
	</dict>
	<key>rayas</key>
	<dict>
		<key>start</key>
		<real>6.29796</real>
		<key>duration</key>
		<real>0.3664019999999999</real>
		<key>start_index</key>
		<integer>82</integer>
		<key>end_index</key>
		<integer>87</integer>
	</dict>
	<key>amarillas.</key>
	<dict>
		<key>start</key>
		<real>6.664362</real>
		<key>duration</key>
		<real>0.7742830000000005</real>
		<key>start_index</key>
		<integer>88</integer>
		<key>end_index</key>
		<integer>98</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>7.438645</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
