<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>zebra</string>
	<key>audioFile</key>
	<string>zebra_story.de.mp3</string>
	<key>locale</key>
	<string>de</string>
	<key>Max</key>
	<dict>
		<key>start</key>
		<real>0.04644</real>
		<key>duration</key>
		<real>0.420862</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>3</integer>
	</dict>
	<key>das</key>
	<dict>
		<key>start</key>
		<real>0.496327</real>
		<key>duration</key>
		<real>0.208979</real>
		<key>start_index</key>
		<integer>4</integer>
		<key>end_index</key>
		<integer>7</integer>
	</dict>
	<key>Zebra</key>
	<dict>
		<key>start</key>
		<real>0.777868</real>
		<key>duration</key>
		<real>0.609524</real>
		<key>start_index</key>
		<integer>8</integer>
		<key>end_index</key>
		<integer>13</integer>
	</dict>
	<key>hat</key>
	<dict>
		<key>start</key>
		<real>1.962086</real>
		<key>duration</key>
		<real>0.206077</real>
		<key>start_index</key>
		<integer>14</integer>
		<key>end_index</key>
		<integer>17</integer>
	</dict>
	<key>schwarz-weisse</key>
	<dict>
		<key>start</key>
		<real>2.179773</real>
		<key>duration</key>
		<real>1.059411</real>
		<key>start_index</key>
		<integer>18</integer>
		<key>end_index</key>
		<integer>32</integer>
	</dict>
	<key>Beine</key>
	<dict>
		<key>start</key>
		<real>3.291429</real>
		<key>duration</key>
		<real>0.432471</real>
		<key>start_index</key>
		<integer>33</integer>
		<key>end_index</key>
		<integer>38</integer>
	</dict>
	<key>und</key>
	<dict>
		<key>start</key>
		<real>4.133152</real>
		<key>duration</key>
		<real>0.188662</real>
		<key>start_index</key>
		<integer>39</integer>
		<key>end_index</key>
		<integer>42</integer>
	</dict>
	<key>trägt</key>
	<dict>
		<key>start</key>
		<real>4.336327</real>
		<key>duration</key>
		<real>0.336689</real>
		<key>start_index</key>
		<integer>43</integer>
		<key>end_index</key>
		<integer>48</integer>
	</dict>
	<key>eine</key>
	<dict>
		<key>start</key>
		<real>4.731066</real>
		<key>duration</key>
		<real>0.252517</real>
		<key>start_index</key>
		<integer>49</integer>
		<key>end_index</key>
		<integer>53</integer>
	</dict>
	<key>blaue</key>
	<dict>
		<key>start</key>
		<real>5.024218</real>
		<key>duration</key>
		<real>0.354104</real>
		<key>start_index</key>
		<integer>54</integer>
		<key>end_index</key>
		<integer>59</integer>
	</dict>
	<key>kurze</key>
	<dict>
		<key>start</key>
		<real>5.416054</real>
		<key>duration</key>
		<real>0.40635</real>
		<key>start_index</key>
		<integer>60</integer>
		<key>end_index</key>
		<integer>65</integer>
	</dict>
	<key>Hose.</key>
	<dict>
		<key>start</key>
		<real>5.851429</real>
		<key>duration</key>
		<real>0.441179</real>
		<key>start_index</key>
		<integer>66</integer>
		<key>end_index</key>
		<integer>71</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>6.292608</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
