<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>zebra</string>
	<key>audioFile</key>
	<string>zebra_story.en.mp3</string>
	<key>locale</key>
	<string>en</string>
	<key>Zeb</key>
	<dict>
		<key>start</key>
		<real>0.000363</real>
		<key>duration</key>
		<real>0.323696</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>3</integer>
	</dict>
	<key>the</key>
	<dict>
		<key>start</key>
		<real>0.324059</real>
		<key>duration</key>
		<real>0.18678</real>
		<key>start_index</key>
		<integer>4</integer>
		<key>end_index</key>
		<integer>7</integer>
	</dict>
	<key>Zebra's</key>
	<dict>
		<key>start</key>
		<real>0.510839</real>
		<key>duration</key>
		<real>0.545669</real>
		<key>start_index</key>
		<integer>8</integer>
		<key>end_index</key>
		<integer>15</integer>
	</dict>
	<key>feet</key>
	<dict>
		<key>start</key>
		<real>0.975238</real>
		<key>duration</key>
		<real>0.20898</real>
		<key>start_index</key>
		<integer>16</integer>
		<key>end_index</key>
		<integer>20</integer>
	</dict>
	<key>are</key>
	<dict>
		<key>start</key>
		<real>1.126168</real>
		<key>duration</key>
		<real>0.278639</real>
		<key>start_index</key>
		<integer>21</integer>
		<key>end_index</key>
		<integer>24</integer>
	</dict>
	<key>black</key>
	<dict>
		<key>start</key>
		<real>1.346757</real>
		<key>duration</key>
		<real>0.32508</real>
		<key>start_index</key>
		<integer>25</integer>
		<key>end_index</key>
		<integer>30</integer>
	</dict>
	<key>and</key>
	<dict>
		<key>start</key>
		<real>1.613787</real>
		<key>duration</key>
		<real>0.208979</real>
		<key>start_index</key>
		<integer>31</integer>
		<key>end_index</key>
		<integer>34</integer>
	</dict>
	<key>white</key>
	<dict>
		<key>start</key>
		<real>1.764717</real>
		<key>duration</key>
		<real>0.429569</real>
		<key>start_index</key>
		<integer>35</integer>
		<key>end_index</key>
		<integer>40</integer>
	</dict>
	<key>with</key>
	<dict>
		<key>start</key>
		<real>2.589025</real>
		<key>duration</key>
		<real>0.18576</real>
		<key>start_index</key>
		<integer>41</integer>
		<key>end_index</key>
		<integer>45</integer>
	</dict>
	<key>yellow</key>
	<dict>
		<key>start</key>
		<real>2.774785</real>
		<key>duration</key>
		<real>0.232199</real>
		<key>start_index</key>
		<integer>46</integer>
		<key>end_index</key>
		<integer>52</integer>
	</dict>
	<key>striped</key>
	<dict>
		<key>start</key>
		<real>3.204354</real>
		<key>duration</key>
		<real>0.441179</real>
		<key>start_index</key>
		<integer>53</integer>
		<key>end_index</key>
		<integer>60</integer>
	</dict>
	<key>shorts.</key>
	<dict>
		<key>start</key>
		<real>3.575873</real>
		<key>duration</key>
		<real>0.766259</real>
		<key>start_index</key>
		<integer>61</integer>
		<key>end_index</key>
		<integer>68</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>4.295692</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
