<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Plane</key>
	<dict>
		<key>scale</key>
		<dict>
			<key>x</key>
			<real>0.2</real>
			<key>y</key>
			<real>0.2</real>
		</dict>
		<key>Behaviors</key>
		<dict>
			<key>Parachute</key>
			<dict>
				<key>params</key>
				<dict>
					<key>bottomPosition</key>
					<dict>
						<key>y</key>
						<integer>300</integer>
						<key>x</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>chute</string>
			</dict>
			<key>Tracer</key>
			<dict>
				<key>event</key>
				<string>start</string>
				<key>params</key>
				<dict>
					<key>duration</key>
					<integer>13</integer>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>130</integer>
						<key>y</key>
						<integer>55</integer>
					</dict>
				</dict>
				<key>action</key>
				<string>tracer</string>
			</dict>
			<key>Move</key>
			<dict>
				<key>event</key>
				<string>start</string>
				<key>action</key>
				<string>pace</string>
				<key>params</key>
				<dict>
					<key>delayBetween</key>
					<integer>3</integer>
					<key>duration</key>
					<integer>10</integer>
				</dict>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>4</integer>
		<key>imageName</key>
		<string>emma-pilot.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>325</integer>
			<key>y</key>
			<integer>630</integer>
		</dict>
	</dict>
	<key>Monkey2</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>giraffes.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>Flip</key>
			<dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>backflip</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>6</integer>
		<key>imageName</key>
		<string>jungle_monkey2.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>681</integer>
			<key>y</key>
			<integer>186</integer>
		</dict>
	</dict>
	<key>Monkey1</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>giraffes.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>Flip</key>
			<dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>backflip</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>8</integer>
		<key>imageName</key>
		<string>jungle_monkey1.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>206</integer>
			<key>y</key>
			<integer>291</integer>
		</dict>
	</dict>
	<key>Vine4</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>8</integer>
		<key>imageName</key>
		<string>jungle_vine4.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>890</integer>
			<key>y</key>
			<integer>138</integer>
		</dict>
	</dict>
	<key>Vine3</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>6</integer>
		<key>imageName</key>
		<string>jungle_vine3.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>718</integer>
			<key>y</key>
			<integer>48</integer>
		</dict>
	</dict>
	<key>Vine2</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>8</integer>
		<key>imageName</key>
		<string>jungle_vine2.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>308</integer>
			<key>y</key>
			<integer>125</integer>
		</dict>
	</dict>
	<key>Vine1</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>6</integer>
		<key>imageName</key>
		<string>jungle_vine1.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>59</integer>
		</dict>
	</dict>
	<key>Leaves</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>tree_shake.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>FallingLeaves</key>
			<dict>
				<key>params</key>
				<dict>
					<key>imageName</key>
					<string>jungle_leaf1.png</string>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>450</integer>
						<key>y</key>
						<integer>160</integer>
					</dict>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>fallingLeaves</string>
			</dict>
			<key>Shake</key>
			<dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>shake</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>9</integer>
		<key>imageName</key>
		<string>jungle_leaves_top.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>594</integer>
		</dict>
	</dict>
	<key>Tree</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>7</integer>
		<key>imageName</key>
		<string>jungle_fg_tree.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>177</integer>
		</dict>
	</dict>
	<key>Rock</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>2</integer>
		<key>imageName</key>
		<string>jungle_rock.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Clouds</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>1</integer>
		<key>imageName</key>
		<string>jungle_clouds.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>170</integer>
			<key>y</key>
			<integer>363</integer>
		</dict>
	</dict>
	<key>Music</key>
	<string>Tiger_mixed.mp3</string>
	<key>Key</key>
	<string>jungle</string>
	<key>StoryKey</key>
	<string>tiger</string>
	<key>KidPosition</key>
	<dict>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>30</integer>
	</dict>
	<key>TextPosition</key>
	<dict>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>600</integer>
	</dict>
	<key>AnimalPosition</key>
	<dict>
		<key>x</key>
		<integer>500</integer>
		<key>y</key>
		<integer>400</integer>
	</dict>
	<key>Sky</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>jungle_sky.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
