<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>kangaroo</string>
	<key>audioFile</key>
	<string>kangaroo_story.en.mp3</string>
	<key>locale</key>
	<string>en</string>
	<key>Kendra</key>
	<dict>
		<key>start</key>
		<real>0.053569</real>
		<key>duration</key>
		<real>0.430693</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>6</integer>
	</dict>
	<key>the</key>
	<dict>
		<key>start</key>
		<real>0.484262</real>
		<key>duration</key>
		<real>0.130707</real>
		<key>start_index</key>
		<integer>7</integer>
		<key>end_index</key>
		<integer>10</integer>
	</dict>
	<key>kangaroo's</key>
	<dict>
		<key>start</key>
		<real>0.614969</real>
		<key>duration</key>
		<real>0.623541</real>
		<key>start_index</key>
		<integer>11</integer>
		<key>end_index</key>
		<integer>21</integer>
	</dict>
	<key>feet</key>
	<dict>
		<key>start</key>
		<real>1.23851</real>
		<key>duration</key>
		<real>0.359982</real>
		<key>start_index</key>
		<integer>22</integer>
		<key>end_index</key>
		<integer>26</integer>
	</dict>
	<key>are</key>
	<dict>
		<key>start</key>
		<real>1.686345</real>
		<key>duration</key>
		<real>0.154278</real>
		<key>start_index</key>
		<integer>27</integer>
		<key>end_index</key>
		<integer>30</integer>
	</dict>
	<key>brown</key>
	<dict>
		<key>start</key>
		<real>1.840623</real>
		<key>duration</key>
		<real>0.591399</real>
		<key>start_index</key>
		<integer>31</integer>
		<key>end_index</key>
		<integer>36</integer>
	</dict>
	<key>with</key>
	<dict>
		<key>start</key>
		<real>2.627012</real>
		<key>duration</key>
		<real>0.122137</real>
		<key>start_index</key>
		<integer>37</integer>
		<key>end_index</key>
		<integer>41</integer>
	</dict>
	<key>striped</key>
	<dict>
		<key>start</key>
		<real>2.749149</real>
		<key>duration</key>
		<real>0.621398</real>
		<key>start_index</key>
		<integer>42</integer>
		<key>end_index</key>
		<integer>49</integer>
	</dict>
	<key>purple</key>
	<dict>
		<key>start</key>
		<real>3.494826</real>
		<key>duration</key>
		<real>0.394266</real>
		<key>start_index</key>
		<integer>50</integer>
		<key>end_index</key>
		<integer>56</integer>
	</dict>
	<key>pants.</key>
	<dict>
		<key>start</key>
		<real>3.889092</real>
		<key>duration</key>
		<real>0.531401999999999</real>
		<key>start_index</key>
		<integer>57</integer>
		<key>end_index</key>
		<integer>63</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>4.420494</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
