<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>kangaroo</string>
	<key>audioFile</key>
	<string>kangaroo_story.fr.mp3</string>
	<key>locale</key>
	<string>fr</string>
	<key>Catherine</key>
	<dict>
		<key>start</key>
		<real>0.0</real>
		<key>duration</key>
		<real>0.536088</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>9</integer>
	</dict>
	<key>le</key>
	<dict>
		<key>start</key>
		<real>0.536088</real>
		<key>duration</key>
		<real>0.078305</real>
		<key>start_index</key>
		<integer>10</integer>
		<key>end_index</key>
		<integer>12</integer>
	</dict>
	<key>Kangourou</key>
	<dict>
		<key>start</key>
		<real>0.668604</real>
		<key>duration</key>
		<real>0.451759</real>
		<key>start_index</key>
		<integer>13</integer>
		<key>end_index</key>
		<integer>22</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>start</key>
		<real>1.301066</real>
		<key>duration</key>
		<real>0.0843289999999999</real>
		<key>start_index</key>
		<integer>23</integer>
		<key>end_index</key>
		<integer>24</integer>
	</dict>
	<key>des</key>
	<dict>
		<key>start</key>
		<real>1.385395</real>
		<key>duration</key>
		<real>0.084328</real>
		<key>start_index</key>
		<integer>25</integer>
		<key>end_index</key>
		<integer>28</integer>
	</dict>
	<key>pattes</key>
	<dict>
		<key>start</key>
		<real>1.535981</real>
		<key>duration</key>
		<real>0.343337</real>
		<key>start_index</key>
		<integer>29</integer>
		<key>end_index</key>
		<integer>35</integer>
	</dict>
	<key>marron</key>
	<dict>
		<key>start</key>
		<real>1.879318</real>
		<key>duration</key>
		<real>0.361408</real>
		<key>start_index</key>
		<integer>36</integer>
		<key>end_index</key>
		<integer>42</integer>
	</dict>
	<key>et</key>
	<dict>
		<key>start</key>
		<real>2.674414</real>
		<key>duration</key>
		<real>0.0843289999999999</real>
		<key>start_index</key>
		<integer>43</integer>
		<key>end_index</key>
		<integer>45</integer>
	</dict>
	<key>porte</key>
	<dict>
		<key>start</key>
		<real>2.825001</real>
		<key>duration</key>
		<real>0.150586</real>
		<key>start_index</key>
		<integer>46</integer>
		<key>end_index</key>
		<integer>51</integer>
	</dict>
	<key>un</key>
	<dict>
		<key>start</key>
		<real>3.023775</real>
		<key>duration</key>
		<real>0.114446</real>
		<key>start_index</key>
		<integer>52</integer>
		<key>end_index</key>
		<integer>54</integer>
	</dict>
	<key>pantalon</key>
	<dict>
		<key>start</key>
		<real>3.180385</real>
		<key>duration</key>
		<real>0.451759</real>
		<key>start_index</key>
		<integer>55</integer>
		<key>end_index</key>
		<integer>63</integer>
	</dict>
	<key>à</key>
	<dict>
		<key>start</key>
		<real>3.632144</real>
		<key>duration</key>
		<real>0.138539</real>
		<key>start_index</key>
		<integer>64</integer>
		<key>end_index</key>
		<integer>65</integer>
	</dict>
	<key>rayures</key>
	<dict>
		<key>start</key>
		<real>3.770683</real>
		<key>duration</key>
		<real>0.385502</real>
		<key>start_index</key>
		<integer>66</integer>
		<key>end_index</key>
		<integer>73</integer>
	</dict>
	<key>violettes.</key>
	<dict>
		<key>start</key>
		<real>4.240513</real>
		<key>duration</key>
		<real>0.451759</real>
		<key>start_index</key>
		<integer>74</integer>
		<key>end_index</key>
		<integer>84</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>4.692272</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
