<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>kangaroo</string>
	<key>audioFile</key>
	<string>kangaroo_story.en.mp3</string>
	<key>locale</key>
	<string>en</string>
	<key>Kendra</key>
	<dict>
		<key>start</key>
		<real>0.192848</real>
		<key>duration</key>
		<real>0.47569</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>6</integer>
	</dict>
	<key>the</key>
	<dict>
		<key>start</key>
		<real>0.668538</real>
		<key>duration</key>
		<real>0.0985670000000001</real>
		<key>start_index</key>
		<integer>7</integer>
		<key>end_index</key>
		<integer>10</integer>
	</dict>
	<key>Kangaroo's</key>
	<dict>
		<key>start</key>
		<real>0.767105</real>
		<key>duration</key>
		<real>0.569971</real>
		<key>start_index</key>
		<integer>11</integer>
		<key>end_index</key>
		<integer>21</integer>
	</dict>
	<key>feet</key>
	<dict>
		<key>start</key>
		<real>1.337076</real>
		<key>duration</key>
		<real>0.385695</real>
		<key>start_index</key>
		<integer>22</integer>
		<key>end_index</key>
		<integer>26</integer>
	</dict>
	<key>are</key>
	<dict>
		<key>start</key>
		<real>1.829909</real>
		<key>duration</key>
		<real>0.167134</real>
		<key>start_index</key>
		<integer>27</integer>
		<key>end_index</key>
		<integer>30</integer>
	</dict>
	<key>brown</key>
	<dict>
		<key>start</key>
		<real>2.035613</real>
		<key>duration</key>
		<real>0.527117</real>
		<key>start_index</key>
		<integer>31</integer>
		<key>end_index</key>
		<integer>36</integer>
	</dict>
	<key>with</key>
	<dict>
		<key>start</key>
		<real>2.764148</real>
		<key>duration</key>
		<real>0.312842</real>
		<key>start_index</key>
		<integer>37</integer>
		<key>end_index</key>
		<integer>41</integer>
	</dict>
	<key>striped</key>
	<dict>
		<key>start</key>
		<real>3.07699</real>
		<key>duration</key>
		<real>0.441406</real>
		<key>start_index</key>
		<integer>42</integer>
		<key>end_index</key>
		<integer>49</integer>
	</dict>
	<key>purple</key>
	<dict>
		<key>start</key>
		<real>3.646961</real>
		<key>duration</key>
		<real>0.419979</real>
		<key>start_index</key>
		<integer>50</integer>
		<key>end_index</key>
		<integer>56</integer>
	</dict>
	<key>pants.</key>
	<dict>
		<key>start</key>
		<real>4.06694</real>
		<key>duration</key>
		<real>0.557116000000001</real>
		<key>start_index</key>
		<integer>57</integer>
		<key>end_index</key>
		<integer>63</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>4.624056</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
