<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>flag-argentina.es-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1680},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
		<key>flag-australia.en-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,1470},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
		<key>flag-austria.de-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,1260},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
		<key>flag-belgium.de-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,1050},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
		<key>flag-cameroon.fr-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,840},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
		<key>flag-canada.en-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,630},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
		<key>flag-canada.fr-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,630},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
		<key>flag-columbia.es-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,420},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
		<key>flag-congo.fr-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,210},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
		<key>flag-france.fr-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,0},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
		<key>flag-germany.de-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,1680},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
		<key>flag-india.en-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1470},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
		<key>flag-mexico.es-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1050},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
		<key>flag-peru.es-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,840},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
		<key>flag-spain.es-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,630},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
		<key>flag-switzerland.de-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,420},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
		<key>flag-uk.en-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,210},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
		<key>flag-usa.en-ipadhd.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{209,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,209}}</string>
			<key>sourceSize</key>
			<string>{209,209}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,2048}</string>
		<key>textureFileName</key>
		<string>flags2-ipadhd.png</string>
	</dict>
</dict>
</plist>
