<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>tiger</string>
	<key>audioFile</key>
	<string>tiger_story.fr.mp3</string>
	<key>locale</key>
	<string>fr</string>
	<key>Tommy</key>
	<dict>
		<key>start</key>
		<real>0.01444</real>
		<key>duration</key>
		<real>0.281573</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>le</key>
	<dict>
		<key>start</key>
		<real>0.296013</real>
		<key>duration</key>
		<real>0.126347</real>
		<key>start_index</key>
		<integer>6</integer>
		<key>end_index</key>
		<integer>8</integer>
	</dict>
	<key>Tigre</key>
	<dict>
		<key>start</key>
		<real>0.451239</real>
		<key>duration</key>
		<real>0.296013</real>
		<key>start_index</key>
		<integer>9</integer>
		<key>end_index</key>
		<integer>14</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>start</key>
		<real>0.747252</real>
		<key>duration</key>
		<real>0.079418</real>
		<key>start_index</key>
		<integer>15</integer>
		<key>end_index</key>
		<integer>16</integer>
	</dict>
	<key>des</key>
	<dict>
		<key>start</key>
		<real>0.851939</real>
		<key>duration</key>
		<real>0.093858</real>
		<key>start_index</key>
		<integer>17</integer>
		<key>end_index</key>
		<integer>20</integer>
	</dict>
	<key>pattes</key>
	<dict>
		<key>start</key>
		<real>1.043265</real>
		<key>duration</key>
		<real>0.360991</real>
		<key>start_index</key>
		<integer>21</integer>
		<key>end_index</key>
		<integer>27</integer>
	</dict>
	<key>orange</key>
	<dict>
		<key>start</key>
		<real>1.462014</real>
		<key>duration</key>
		<real>0.631735</real>
		<key>start_index</key>
		<integer>28</integer>
		<key>end_index</key>
		<integer>34</integer>
	</dict>
	<key>et</key>
	<dict>
		<key>start</key>
		<real>2.194827</real>
		<key>duration</key>
		<real>0.0830280000000001</real>
		<key>start_index</key>
		<integer>35</integer>
		<key>end_index</key>
		<integer>37</integer>
	</dict>
	<key>porte</key>
	<dict>
		<key>start</key>
		<real>2.371712</real>
		<key>duration</key>
		<real>0.162446</real>
		<key>start_index</key>
		<integer>38</integer>
		<key>end_index</key>
		<integer>43</integer>
	</dict>
	<key>un</key>
	<dict>
		<key>start</key>
		<real>2.570258</real>
		<key>duration</key>
		<real>0.166056</real>
		<key>start_index</key>
		<integer>44</integer>
		<key>end_index</key>
		<integer>46</integer>
	</dict>
	<key>pantalon</key>
	<dict>
		<key>start</key>
		<real>2.761583</real>
		<key>duration</key>
		<real>0.480118</real>
		<key>start_index</key>
		<integer>47</integer>
		<key>end_index</key>
		<integer>55</integer>
	</dict>
	<key>vert.</key>
	<dict>
		<key>start</key>
		<real>3.328339</real>
		<key>duration</key>
		<real>0.276626</real>
		<key>start_index</key>
		<integer>56</integer>
		<key>end_index</key>
		<integer>61</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>3.615794</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
