<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>tiger</string>
	<key>audioFile</key>
	<string>tiger_story.en.mp3</string>
	<key>locale</key>
	<string>en</string>
	<key>tommy</key>
	<dict>
		<key>start</key>
		<real>0.029025</real>
		<key>duration</key>
		<real>0.232199</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>the</key>
	<dict>
		<key>start</key>
		<real>0.261224</real>
		<key>duration</key>
		<real>0.18576</real>
		<key>start_index</key>
		<integer>6</integer>
		<key>end_index</key>
		<integer>9</integer>
	</dict>
	<key>tiger's</key>
	<dict>
		<key>start</key>
		<real>0.406349</real>
		<key>duration</key>
		<real>0.481814</real>
		<key>start_index</key>
		<integer>10</integer>
		<key>end_index</key>
		<integer>17</integer>
	</dict>
	<key>feet</key>
	<dict>
		<key>start</key>
		<real>0.888163</real>
		<key>duration</key>
		<real>0.156735</real>
		<key>start_index</key>
		<integer>18</integer>
		<key>end_index</key>
		<integer>22</integer>
	</dict>
	<key>are</key>
	<dict>
		<key>start</key>
		<real>1.015873</real>
		<key>duration</key>
		<real>0.214785</real>
		<key>start_index</key>
		<integer>23</integer>
		<key>end_index</key>
		<integer>26</integer>
	</dict>
	<key>orange</key>
	<dict>
		<key>start</key>
		<real>1.230658</real>
		<key>duration</key>
		<real>0.928798</real>
		<key>start_index</key>
		<integer>27</integer>
		<key>end_index</key>
		<integer>33</integer>
	</dict>
	<key>and</key>
	<dict>
		<key>start</key>
		<real>2.159456</real>
		<key>duration</key>
		<real>0.417959</real>
		<key>start_index</key>
		<integer>34</integer>
		<key>end_index</key>
		<integer>37</integer>
	</dict>
	<key>his</key>
	<dict>
		<key>start</key>
		<real>2.310385</real>
		<key>duration</key>
		<real>0.26703</real>
		<key>start_index</key>
		<integer>38</integer>
		<key>end_index</key>
		<integer>41</integer>
	</dict>
	<key>shorts</key>
	<dict>
		<key>start</key>
		<real>2.54839</real>
		<key>duration</key>
		<real>0.296054</real>
		<key>start_index</key>
		<integer>42</integer>
		<key>end_index</key>
		<integer>48</integer>
	</dict>
	<key>have</key>
	<dict>
		<key>start</key>
		<real>2.81542</real>
		<key>duration</key>
		<real>0.232199</real>
		<key>start_index</key>
		<integer>49</integer>
		<key>end_index</key>
		<integer>53</integer>
	</dict>
	<key>green</key>
	<dict>
		<key>start</key>
		<real>3.047619</real>
		<key>duration</key>
		<real>0.528254</real>
		<key>start_index</key>
		<integer>54</integer>
		<key>end_index</key>
		<integer>59</integer>
	</dict>
	<key>seams.</key>
	<dict>
		<key>start</key>
		<real>3.575873</real>
		<key>duration</key>
		<real>0.644354</real>
		<key>start_index</key>
		<integer>60</integer>
		<key>end_index</key>
		<integer>66</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>4.330522</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
