<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>tiger</string>
	<key>audioFile</key>
	<string>tiger_story.en.mp3</string>
	<key>locale</key>
	<string>en</string>
	<key>Tommy</key>
	<dict>
		<key>start</key>
		<real>0.127382</real>
		<key>duration</key>
		<real>0.382147</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>the</key>
	<dict>
		<key>start</key>
		<real>0.509529</real>
		<key>duration</key>
		<real>0.118283</real>
		<key>start_index</key>
		<integer>6</integer>
		<key>end_index</key>
		<integer>9</integer>
	</dict>
	<key>tiger's</key>
	<dict>
		<key>start</key>
		<real>0.627812</real>
		<key>duration</key>
		<real>0.523177</real>
		<key>start_index</key>
		<integer>10</integer>
		<key>end_index</key>
		<integer>17</integer>
	</dict>
	<key>feet</key>
	<dict>
		<key>start</key>
		<real>1.150989</real>
		<key>duration</key>
		<real>0.477683</real>
		<key>start_index</key>
		<integer>18</integer>
		<key>end_index</key>
		<integer>22</integer>
	</dict>
	<key>are</key>
	<dict>
		<key>start</key>
		<real>1.628672</real>
		<key>duration</key>
		<real>0.204722</real>
		<key>start_index</key>
		<integer>23</integer>
		<key>end_index</key>
		<integer>26</integer>
	</dict>
	<key>orange</key>
	<dict>
		<key>start</key>
		<real>1.833394</real>
		<key>duration</key>
		<real>0.650559</real>
		<key>start_index</key>
		<integer>27</integer>
		<key>end_index</key>
		<integer>33</integer>
	</dict>
	<key>and</key>
	<dict>
		<key>start</key>
		<real>2.72052</real>
		<key>duration</key>
		<real>0.181974</real>
		<key>start_index</key>
		<integer>34</integer>
		<key>end_index</key>
		<integer>37</integer>
	</dict>
	<key>is</key>
	<dict>
		<key>start</key>
		<real>2.902494</real>
		<key>duration</key>
		<real>0.0955370000000002</real>
		<key>start_index</key>
		<integer>38</integer>
		<key>end_index</key>
		<integer>40</integer>
	</dict>
	<key>wearing</key>
	<dict>
		<key>start</key>
		<real>2.998031</real>
		<key>duration</key>
		<real>0.382147</real>
		<key>start_index</key>
		<integer>41</integer>
		<key>end_index</key>
		<integer>48</integer>
	</dict>
	<key>green</key>
	<dict>
		<key>start</key>
		<real>3.380178</real>
		<key>duration</key>
		<real>0.42309</real>
		<key>start_index</key>
		<integer>49</integer>
		<key>end_index</key>
		<integer>54</integer>
	</dict>
	<key>pants.</key>
	<dict>
		<key>start</key>
		<real>3.803268</real>
		<key>duration</key>
		<real>0.686954</real>
		<key>start_index</key>
		<integer>55</integer>
		<key>end_index</key>
		<integer>61</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>4.490222</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
