<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>hippo</string>
	<key>audioFile</key>
	<string>hippo_story.fr.mp3</string>
	<key>locale</key>
	<string>fr</string>
	<key>Horace</key>
	<dict>
		<key>start</key>
		<real>0.054586</real>
		<key>duration</key>
		<real>0.372174</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>6</integer>
	</dict>
	<key>l'Hippopotame</key>
	<dict>
		<key>start</key>
		<real>0.42676</real>
		<key>duration</key>
		<real>0.712095</real>
		<key>start_index</key>
		<integer>7</integer>
		<key>end_index</key>
		<integer>20</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>start</key>
		<real>1.138855</real>
		<key>duration</key>
		<real>0.109171</real>
		<key>start_index</key>
		<integer>21</integer>
		<key>end_index</key>
		<integer>22</integer>
	</dict>
	<key>des</key>
	<dict>
		<key>start</key>
		<real>1.248026</real>
		<key>duration</key>
		<real>0.0719539999999999</real>
		<key>start_index</key>
		<integer>23</integer>
		<key>end_index</key>
		<integer>26</integer>
	</dict>
	<key>pattes</key>
	<dict>
		<key>start</key>
		<real>1.396896</real>
		<key>duration</key>
		<real>0.339919</real>
		<key>start_index</key>
		<integer>27</integer>
		<key>end_index</key>
		<integer>33</integer>
	</dict>
	<key>violettes</key>
	<dict>
		<key>start</key>
		<real>1.736815</real>
		<key>duration</key>
		<real>0.588036</real>
		<key>start_index</key>
		<integer>34</integer>
		<key>end_index</key>
		<integer>43</integer>
	</dict>
	<key>et</key>
	<dict>
		<key>start</key>
		<real>2.466278</real>
		<key>duration</key>
		<real>0.0818780000000001</real>
		<key>start_index</key>
		<integer>44</integer>
		<key>end_index</key>
		<integer>46</integer>
	</dict>
	<key>porte</key>
	<dict>
		<key>start</key>
		<real>2.649884</real>
		<key>duration</key>
		<real>0.265484</real>
		<key>start_index</key>
		<integer>47</integer>
		<key>end_index</key>
		<integer>52</integer>
	</dict>
	<key>une</key>
	<dict>
		<key>start</key>
		<real>2.915368</real>
		<key>duration</key>
		<real>0.218343</real>
		<key>start_index</key>
		<integer>53</integer>
		<key>end_index</key>
		<integer>56</integer>
	</dict>
	<key>grande</key>
	<dict>
		<key>start</key>
		<real>3.213108</real>
		<key>duration</key>
		<real>0.471421</real>
		<key>start_index</key>
		<integer>57</integer>
		<key>end_index</key>
		<integer>63</integer>
	</dict>
	<key>salopette</key>
	<dict>
		<key>start</key>
		<real>3.684529</real>
		<key>duration</key>
		<real>0.44661</real>
		<key>start_index</key>
		<integer>64</integer>
		<key>end_index</key>
		<integer>73</integer>
	</dict>
	<key>bleue.</key>
	<dict>
		<key>start</key>
		<real>4.170838</real>
		<key>duration</key>
		<real>0.245635</real>
		<key>start_index</key>
		<integer>74</integer>
		<key>end_index</key>
		<integer>80</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>4.416473</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
