<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>hippo</string>
	<key>audioFile</key>
	<string>hippo_story.en.mp3</string>
	<key>locale</key>
	<string>en</string>
	<key>Horace</key>
	<dict>
		<key>start</key>
		<real>0.087084</real>
		<key>duration</key>
		<real>0.522504</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>6</integer>
	</dict>
	<key>the</key>
	<dict>
		<key>start</key>
		<real>0.609588</real>
		<key>duration</key>
		<real>0.184413</real>
		<key>start_index</key>
		<integer>7</integer>
		<key>end_index</key>
		<integer>10</integer>
	</dict>
	<key>hippo's</key>
	<dict>
		<key>start</key>
		<real>0.794001</real>
		<key>duration</key>
		<real>0.432858</real>
		<key>start_index</key>
		<integer>11</integer>
		<key>end_index</key>
		<integer>18</integer>
	</dict>
	<key>feet</key>
	<dict>
		<key>start</key>
		<real>1.226859</real>
		<key>duration</key>
		<real>0.43542</real>
		<key>start_index</key>
		<integer>19</integer>
		<key>end_index</key>
		<integer>23</integer>
	</dict>
	<key>are</key>
	<dict>
		<key>start</key>
		<real>1.731433</real>
		<key>duration</key>
		<real>0.220272</real>
		<key>start_index</key>
		<integer>24</integer>
		<key>end_index</key>
		<integer>27</integer>
	</dict>
	<key>purple</key>
	<dict>
		<key>start</key>
		<real>1.951705</real>
		<key>duration</key>
		<real>0.566045</real>
		<key>start_index</key>
		<integer>28</integer>
		<key>end_index</key>
		<integer>34</integer>
	</dict>
	<key>and</key>
	<dict>
		<key>start</key>
		<real>2.745705</real>
		<key>duration</key>
		<real>0.13831</real>
		<key>start_index</key>
		<integer>35</integer>
		<key>end_index</key>
		<integer>38</integer>
	</dict>
	<key>he</key>
	<dict>
		<key>start</key>
		<real>2.884015</real>
		<key>duration</key>
		<real>0.174168</real>
		<key>start_index</key>
		<integer>39</integer>
		<key>end_index</key>
		<integer>41</integer>
	</dict>
	<key>is</key>
	<dict>
		<key>start</key>
		<real>3.058183</real>
		<key>duration</key>
		<real>0.0819609999999997</real>
		<key>start_index</key>
		<integer>42</integer>
		<key>end_index</key>
		<integer>44</integer>
	</dict>
	<key>wearing</key>
	<dict>
		<key>start</key>
		<real>3.140144</real>
		<key>duration</key>
		<real>0.473839</real>
		<key>start_index</key>
		<integer>45</integer>
		<key>end_index</key>
		<integer>52</integer>
	</dict>
	<key>big</key>
	<dict>
		<key>start</key>
		<real>3.613983</real>
		<key>duration</key>
		<real>0.325284</real>
		<key>start_index</key>
		<integer>53</integer>
		<key>end_index</key>
		<integer>56</integer>
	</dict>
	<key>blue</key>
	<dict>
		<key>start</key>
		<real>3.939267</real>
		<key>duration</key>
		<real>0.37651</real>
		<key>start_index</key>
		<integer>57</integer>
		<key>end_index</key>
		<integer>61</integer>
	</dict>
	<key>overalls.</key>
	<dict>
		<key>start</key>
		<real>4.315777</real>
		<key>duration</key>
		<real>0.630078</real>
		<key>start_index</key>
		<integer>62</integer>
		<key>end_index</key>
		<integer>71</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>4.945855</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
