<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>hippo</string>
	<key>audioFile</key>
	<string>hippo_story.en.mp3</string>
	<key>locale</key>
	<string>en</string>
	<key>Horace</key>
	<dict>
		<key>start</key>
		<real>0.092207</real>
		<key>duration</key>
		<real>0.599342</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>6</integer>
	</dict>
	<key>the</key>
	<dict>
		<key>start</key>
		<real>0.75302</real>
		<key>duration</key>
		<real>0.08196100000000001</real>
		<key>start_index</key>
		<integer>7</integer>
		<key>end_index</key>
		<integer>10</integer>
	</dict>
	<key>hippo&apos;s</key>
	<dict>
		<key>start</key>
		<real>0.834981</real>
		<key>duration</key>
		<real>0.45591</real>
		<key>start_index</key>
		<integer>11</integer>
		<key>end_index</key>
		<integer>18</integer>
	</dict>
	<key>feet</key>
	<dict>
		<key>start</key>
		<real>1.290891</real>
		<key>duration</key>
		<real>0.425175</real>
		<key>start_index</key>
		<integer>19</integer>
		<key>end_index</key>
		<integer>23</integer>
	</dict>
	<key>are</key>
	<dict>
		<key>start</key>
		<real>1.792904</real>
		<key>duration</key>
		<real>0.230517</real>
		<key>start_index</key>
		<integer>24</integer>
		<key>end_index</key>
		<integer>27</integer>
	</dict>
	<key>purple</key>
	<dict>
		<key>start</key>
		<real>2.023421</real>
		<key>duration</key>
		<real>0.573729</real>
		<key>start_index</key>
		<integer>28</integer>
		<key>end_index</key>
		<integer>34</integer>
	</dict>
	<key>and</key>
	<dict>
		<key>start</key>
		<real>2.802053</real>
		<key>duration</key>
		<real>0.128065</real>
		<key>start_index</key>
		<integer>35</integer>
		<key>end_index</key>
		<integer>38</integer>
	</dict>
	<key>he</key>
	<dict>
		<key>start</key>
		<real>2.930118</real>
		<key>duration</key>
		<real>0.184413</real>
		<key>start_index</key>
		<integer>39</integer>
		<key>end_index</key>
		<integer>41</integer>
	</dict>
	<key>is</key>
	<dict>
		<key>start</key>
		<real>3.114531</real>
		<key>duration</key>
		<real>0.107574</real>
		<key>start_index</key>
		<integer>42</integer>
		<key>end_index</key>
		<integer>44</integer>
	</dict>
	<key>wearing</key>
	<dict>
		<key>start</key>
		<real>3.222105</real>
		<key>duration</key>
		<real>0.440543</real>
		<key>start_index</key>
		<integer>45</integer>
		<key>end_index</key>
		<integer>52</integer>
	</dict>
	<key>big</key>
	<dict>
		<key>start</key>
		<real>3.662648</real>
		<key>duration</key>
		<real>0.343213</real>
		<key>start_index</key>
		<integer>53</integer>
		<key>end_index</key>
		<integer>56</integer>
	</dict>
	<key>blue</key>
	<dict>
		<key>start</key>
		<real>4.005861</real>
		<key>duration</key>
		<real>0.373948</real>
		<key>start_index</key>
		<integer>57</integer>
		<key>end_index</key>
		<integer>61</integer>
	</dict>
	<key>overalls.</key>
	<dict>
		<key>start</key>
		<real>4.379809</real>
		<key>duration</key>
		<real>0.763265000000001</real>
		<key>start_index</key>
		<integer>62</integer>
		<key>end_index</key>
		<integer>71</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>5.143074</real>
		<key>duration</key>
		<real>0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
