<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>hippo</string>
	<key>audioFile</key>
	<string>hippo_story.de.mp3</string>
	<key>locale</key>
	<string>de</string>
	<key>Norbert</key>
	<dict>
		<key>start</key>
		<real>0.0</real>
		<key>duration</key>
		<real>0.856236</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>7</integer>
	</dict>
	<key>das</key>
	<dict>
		<key>start</key>
		<real>0.870748</real>
		<key>duration</key>
		<real>0.22059</real>
		<key>start_index</key>
		<integer>8</integer>
		<key>end_index</key>
		<integer>11</integer>
	</dict>
	<key>Nilpferd</key>
	<dict>
		<key>start</key>
		<real>1.102948</real>
		<key>duration</key>
		<real>0.760453</real>
		<key>start_index</key>
		<integer>12</integer>
		<key>end_index</key>
		<integer>20</integer>
	</dict>
	<key>hat</key>
	<dict>
		<key>start</key>
		<real>1.967891</real>
		<key>duration</key>
		<real>0.188662</real>
		<key>start_index</key>
		<integer>21</integer>
		<key>end_index</key>
		<integer>24</integer>
	</dict>
	<key>lila</key>
	<dict>
		<key>start</key>
		<real>2.156553</real>
		<key>duration</key>
		<real>0.478912</real>
		<key>start_index</key>
		<integer>25</integer>
		<key>end_index</key>
		<integer>29</integer>
	</dict>
	<key>Füsse</key>
	<dict>
		<key>start</key>
		<real>2.702222</real>
		<key>duration</key>
		<real>0.441179</real>
		<key>start_index</key>
		<integer>30</integer>
		<key>end_index</key>
		<integer>35</integer>
	</dict>
	<key>und</key>
	<dict>
		<key>start</key>
		<real>3.332063</real>
		<key>duration</key>
		<real>0.188663</real>
		<key>start_index</key>
		<integer>36</integer>
		<key>end_index</key>
		<integer>39</integer>
	</dict>
	<key>trägt</key>
	<dict>
		<key>start</key>
		<real>3.538141</real>
		<key>duration</key>
		<real>0.243809</real>
		<key>start_index</key>
		<integer>40</integer>
		<key>end_index</key>
		<integer>45</integer>
	</dict>
	<key>eine</key>
	<dict>
		<key>start</key>
		<real>3.80517</real>
		<key>duration</key>
		<real>0.342494</real>
		<key>start_index</key>
		<integer>46</integer>
		<key>end_index</key>
		<integer>50</integer>
	</dict>
	<key>blaue</key>
	<dict>
		<key>start</key>
		<real>4.147664</real>
		<key>duration</key>
		<real>0.600817</real>
		<key>start_index</key>
		<integer>51</integer>
		<key>end_index</key>
		<integer>56</integer>
	</dict>
	<key>Latzhose.</key>
	<dict>
		<key>start</key>
		<real>4.789116</real>
		<key>duration</key>
		<real>0.714013</real>
		<key>start_index</key>
		<integer>57</integer>
		<key>end_index</key>
		<integer>66</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>5.503129</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
