<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GrassFg</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>tree_shake.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>Windy</key>
			<dict>
				<key>event</key>
				<string>start</string>
				<key>action</key>
				<string>windyGrass</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>7</integer>
		<key>imageName</key>
		<string>savannah3_grass_fg.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>GrassSemiFg</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>tree_shake.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>Windy</key>
			<dict>
				<key>event</key>
				<string>start</string>
				<key>action</key>
				<string>windyGrass</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>6</integer>
		<key>imageName</key>
		<string>savannah3_grass_semi_fg.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>141</integer>
		</dict>
	</dict>
	<key>Meercat2</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>giraffes.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>Flip</key>
			<dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>backflip</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>5</integer>
		<key>imageName</key>
		<string>savannah3_meerkat.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>165</integer>
			<key>y</key>
			<integer>258</integer>
		</dict>
	</dict>
	<key>Meercat1</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>giraffes.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>Flip</key>
			<dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>backflip</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>5</integer>
		<key>imageName</key>
		<string>savannah3_meerkat.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>13</integer>
			<key>y</key>
			<integer>236</integer>
		</dict>
	</dict>
	<key>TreeLeaves</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>tree_shake.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>FallingLeaves</key>
			<dict>
				<key>params</key>
				<dict>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>450</integer>
						<key>y</key>
						<integer>160</integer>
					</dict>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>fallingLeaves</string>
			</dict>
			<key>Shake</key>
			<dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>shake</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>4</integer>
		<key>imageName</key>
		<string>savannah3_tree_leaves.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>99</integer>
			<key>y</key>
			<integer>444</integer>
		</dict>
	</dict>
	<key>TreeTrunk</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>3</integer>
		<key>imageName</key>
		<string>savannah3_tree_trunk.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>178</integer>
			<key>y</key>
			<integer>384</integer>
		</dict>
	</dict>
	<key>Rocks</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>3</integer>
		<key>imageName</key>
		<string>savannah3_rocks.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>192</integer>
		</dict>
	</dict>
	<key>GrassBg</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>2</integer>
		<key>imageName</key>
		<string>savannah3_grass_bg.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Cloud1</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>PuffyMove</key>
			<dict>
				<key>params</key>
				<dict>
					<key>touch_responsive</key>
					<true/>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>event</key>
				<string>move</string>
				<key>action</key>
				<string>puff</string>
			</dict>
			<key>Puffy</key>
			<dict>
				<key>params</key>
				<dict>
					<key>touch_responsive</key>
					<true/>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>puff</string>
			</dict>
			<key>Float</key>
			<dict>
				<key>event</key>
				<string>start</string>
				<key>action</key>
				<string>floaty</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>1</integer>
		<key>imageName</key>
		<string>savannah3_cloud1.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>38</integer>
			<key>y</key>
			<integer>459</integer>
		</dict>
	</dict>
	<key>Cloud2</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>PuffyMove</key>
			<dict>
				<key>params</key>
				<dict>
					<key>touch_responsive</key>
					<true/>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>event</key>
				<string>move</string>
				<key>action</key>
				<string>puff</string>
			</dict>
			<key>Puffy</key>
			<dict>
				<key>params</key>
				<dict>
					<key>touch_responsive</key>
					<true/>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>puff</string>
			</dict>
			<key>Float</key>
			<dict>
				<key>event</key>
				<string>start</string>
				<key>action</key>
				<string>floaty</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>1</integer>
		<key>imageName</key>
		<string>savannah3_cloud2.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>265</integer>
			<key>y</key>
			<integer>619</integer>
		</dict>
	</dict>
	<key>Cloud3</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>PuffyMove</key>
			<dict>
				<key>params</key>
				<dict>
					<key>touch_responsive</key>
					<true/>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>event</key>
				<string>move</string>
				<key>action</key>
				<string>puff</string>
			</dict>
			<key>Puffy</key>
			<dict>
				<key>params</key>
				<dict>
					<key>touch_responsive</key>
					<true/>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>puff</string>
			</dict>
			<key>Float</key>
			<dict>
				<key>event</key>
				<string>start</string>
				<key>action</key>
				<string>floaty</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>1</integer>
		<key>imageName</key>
		<string>savannah3_cloud3.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>582</integer>
			<key>y</key>
			<integer>512</integer>
		</dict>
	</dict>
	<key>Music</key>
	<string>Giraffe_style1.mp3</string>
	<key>Key</key>
	<string>savannah3</string>
	<key>StoryKey</key>
	<string>giraffe</string>
	<key>KidPosition</key>
	<dict>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>30</integer>
	</dict>
	<key>TextPosition</key>
	<dict>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>600</integer>
	</dict>
	<key>AnimalPosition</key>
	<dict>
		<key>x</key>
		<integer>500</integer>
		<key>y</key>
		<integer>400</integer>
	</dict>
	<key>Sky</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>savannah3_sky.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
