<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_f1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,178},{60,68}}</string>
			<key>offset</key>
			<string>{-157,60}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,0},{60,68}}</string>
			<key>sourceSize</key>
			<string>{400,188}</string>
		</dict>
		<key>bird_f2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,114},{62,68}}</string>
			<key>offset</key>
			<string>{-158,60}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,0},{62,68}}</string>
			<key>sourceSize</key>
			<string>{400,188}</string>
		</dict>
		<key>bird_f3.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,2},{68,42}}</string>
			<key>offset</key>
			<string>{-154,49}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,24},{68,42}}</string>
			<key>sourceSize</key>
			<string>{400,188}</string>
		</dict>
		<key>bird_f4.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,72},{74,28}}</string>
			<key>offset</key>
			<string>{-152,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,42},{74,28}}</string>
			<key>sourceSize</key>
			<string>{400,188}</string>
		</dict>
		<key>bird_f5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,64},{76,48}}</string>
			<key>offset</key>
			<string>{-151,25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,45},{76,48}}</string>
			<key>sourceSize</key>
			<string>{400,188}</string>
		</dict>
		<key>bird_f6.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,148},{66,48}}</string>
			<key>offset</key>
			<string>{-154,25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,45},{66,48}}</string>
			<key>sourceSize</key>
			<string>{400,188}</string>
		</dict>
		<key>bird_f7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{76,60}}</string>
			<key>offset</key>
			<string>{-162,31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,33},{76,60}}</string>
			<key>sourceSize</key>
			<string>{400,188}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>birdsheet-ipadhd.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:eb8737af3011e8bb7f4ceb42aeb89a9d:1/1$</string>
		<key>textureFileName</key>
		<string>birdsheet-ipadhd.png</string>
	</dict>
</dict>
</plist>
