<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_f1.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,32},{27,28}}</string>
                <key>offset</key>
                <string>{-66,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>bird_f2.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{27,28}}</string>
                <key>offset</key>
                <string>{-66,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>bird_f3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{29,18}}</string>
                <key>offset</key>
                <string>{-64,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{29,18}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>bird_f4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{31,12}}</string>
                <key>offset</key>
                <string>{-63,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{31,12}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>bird_f5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{31,20}}</string>
                <key>offset</key>
                <string>{-63,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{31,20}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>bird_f6.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,62},{29,20}}</string>
                <key>offset</key>
                <string>{-65,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,19},{29,20}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
            <key>bird_f7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,26}}</string>
                <key>offset</key>
                <string>{-68,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{31,26}}</string>
                <key>sourceSize</key>
                <string>{167,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>birdsheet-hd.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:810b37d92cb0fab3234ef926320ca033:1/1$</string>
            <key>textureFileName</key>
            <string>birdsheet-hd.png</string>
        </dict>
    </dict>
</plist>
