<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>crocodile</string>
	<key>audioFile</key>
	<string>crocodile_story.en.mp3</string>
	<key>locale</key>
	<string>en</string>
	<key>carl</key>
	<dict>
		<key>start</key>
		<real>0.052245</real>
		<key>duration</key>
		<real>0.203175</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>4</integer>
	</dict>
	<key>the</key>
	<dict>
		<key>start</key>
		<real>0.25542</real>
		<key>duration</key>
		<real>0.150929</real>
		<key>start_index</key>
		<integer>5</integer>
		<key>end_index</key>
		<integer>8</integer>
	</dict>
	<key>crocodile&apos;s</key>
	<dict>
		<key>start</key>
		<real>0.406349</real>
		<key>duration</key>
		<real>0.586304</real>
		<key>start_index</key>
		<integer>9</integer>
		<key>end_index</key>
		<integer>20</integer>
	</dict>
	<key>feet</key>
	<dict>
		<key>start</key>
		<real>0.992653</real>
		<key>duration</key>
		<real>0.214785</real>
		<key>start_index</key>
		<integer>21</integer>
		<key>end_index</key>
		<integer>25</integer>
	</dict>
	<key>are</key>
	<dict>
		<key>start</key>
		<real>1.207438</real>
		<key>duration</key>
		<real>0.214784</real>
		<key>start_index</key>
		<integer>26</integer>
		<key>end_index</key>
		<integer>29</integer>
	</dict>
	<key>green</key>
	<dict>
		<key>start</key>
		<real>1.399002</real>
		<key>duration</key>
		<real>0.203175</real>
		<key>start_index</key>
		<integer>30</integer>
		<key>end_index</key>
		<integer>35</integer>
	</dict>
	<key>and</key>
	<dict>
		<key>start</key>
		<real>1.602177</real>
		<key>duration</key>
		<real>0.145125</real>
		<key>start_index</key>
		<integer>36</integer>
		<key>end_index</key>
		<integer>39</integer>
	</dict>
	<key>scaly</key>
	<dict>
		<key>start</key>
		<real>1.747302</real>
		<key>duration</key>
		<real>0.603718</real>
		<key>start_index</key>
		<integer>40</integer>
		<key>end_index</key>
		<integer>45</integer>
	</dict>
	<key>with</key>
	<dict>
		<key>start</key>
		<real>2.74576</real>
		<key>duration</key>
		<real>0.174149</real>
		<key>start_index</key>
		<integer>46</integer>
		<key>end_index</key>
		<integer>50</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>start</key>
		<real>2.896689</real>
		<key>duration</key>
		<real>0.19737</real>
		<key>start_index</key>
		<integer>51</integer>
		<key>end_index</key>
		<integer>52</integer>
	</dict>
	<key>big</key>
	<dict>
		<key>start</key>
		<real>3.070839</real>
		<key>duration</key>
		<real>0.319274</real>
		<key>start_index</key>
		<integer>53</integer>
		<key>end_index</key>
		<integer>56</integer>
	</dict>
	<key>tail.</key>
	<dict>
		<key>start</key>
		<real>3.355283</real>
		<key>duration</key>
		<real>0.6733789999999999</real>
		<key>start_index</key>
		<integer>57</integer>
		<key>end_index</key>
		<integer>62</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>4.005442</real>
		<key>duration</key>
		<real>0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
