<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>crocodile</string>
	<key>audioFile</key>
	<string>crocodile_story.fr.mp3</string>
	<key>locale</key>
	<string>fr</string>
	<key>Carl</key>
	<dict>
		<key>start</key>
		<real>0.0</real>
		<key>duration</key>
		<real>0.176678</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>4</integer>
	</dict>
	<key>le</key>
	<dict>
		<key>start</key>
		<real>0.176678</real>
		<key>duration</key>
		<real>0.189765</real>
		<key>start_index</key>
		<integer>5</integer>
		<key>end_index</key>
		<integer>7</integer>
	</dict>
	<key>Crocodile</key>
	<dict>
		<key>start</key>
		<real>0.389345</real>
		<key>duration</key>
		<real>0.546392</real>
		<key>start_index</key>
		<integer>8</integer>
		<key>end_index</key>
		<integer>17</integer>
	</dict>
	<key>porte</key>
	<dict>
		<key>start</key>
		<real>0.984814</real>
		<key>duration</key>
		<real>0.140688</real>
		<key>start_index</key>
		<integer>18</integer>
		<key>end_index</key>
		<integer>23</integer>
	</dict>
	<key>un</key>
	<dict>
		<key>start</key>
		<real>1.125502</real>
		<key>duration</key>
		<real>0.0981540000000001</real>
		<key>start_index</key>
		<integer>24</integer>
		<key>end_index</key>
		<integer>26</integer>
	</dict>
	<key>short</key>
	<dict>
		<key>start</key>
		<real>1.223656</real>
		<key>duration</key>
		<real>0.301007</real>
		<key>start_index</key>
		<integer>27</integer>
		<key>end_index</key>
		<integer>32</integer>
	</dict>
	<key>bleu</key>
	<dict>
		<key>start</key>
		<real>1.632632</real>
		<key>duration</key>
		<real>0.163591</real>
		<key>start_index</key>
		<integer>33</integer>
		<key>end_index</key>
		<integer>37</integer>
	</dict>
	<key>et</key>
	<dict>
		<key>start</key>
		<real>2.237917</real>
		<key>duration</key>
		<real>0.0752510000000002</real>
		<key>start_index</key>
		<integer>38</integer>
		<key>end_index</key>
		<integer>40</integer>
	</dict>
	<key>ses</key>
	<dict>
		<key>start</key>
		<real>2.309897</real>
		<key>duration</key>
		<real>0.160318</real>
		<key>start_index</key>
		<integer>41</integer>
		<key>end_index</key>
		<integer>44</integer>
	</dict>
	<key>pattes</key>
	<dict>
		<key>start</key>
		<real>2.548739</real>
		<key>duration</key>
		<real>0.1276</real>
		<key>start_index</key>
		<integer>45</integer>
		<key>end_index</key>
		<integer>51</integer>
	</dict>
	<key>sont</key>
	<dict>
		<key>start</key>
		<real>2.676339</real>
		<key>duration</key>
		<real>0.301006</real>
		<key>start_index</key>
		<integer>52</integer>
		<key>end_index</key>
		<integer>56</integer>
	</dict>
	<key>vertes</key>
	<dict>
		<key>start</key>
		<real>2.977345</real>
		<key>duration</key>
		<real>0.222483</real>
		<key>start_index</key>
		<integer>57</integer>
		<key>end_index</key>
		<integer>63</integer>
	</dict>
	<key>et1</key>
	<dict>
		<key>start</key>
		<real>3.245634</real>
		<key>duration</key>
		<real>0.0981540000000001</real>
		<key>start_index</key>
		<integer>64</integer>
		<key>end_index</key>
		<integer>66</integer>
	</dict>
	<key>pleines</key>
	<dict>
		<key>start</key>
		<real>3.461573</real>
		<key>duration</key>
		<real>0.291191</real>
		<key>start_index</key>
		<integer>67</integer>
		<key>end_index</key>
		<integer>74</integer>
	</dict>
	<key>d’écailles.</key>
	<dict>
		<key>start</key>
		<real>3.752764</real>
		<key>duration</key>
		<real>0.461325</real>
		<key>start_index</key>
		<integer>75</integer>
		<key>end_index</key>
		<integer>86</integer>
	</dict>
	<key>Il</key>
	<dict>
		<key>start</key>
		<real>4.439844</real>
		<key>duration</key>
		<real>0.143959</real>
		<key>start_index</key>
		<integer>87</integer>
		<key>end_index</key>
		<integer>89</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>start</key>
		<real>4.583803</real>
		<key>duration</key>
		<real>0.0785240000000007</real>
		<key>start_index</key>
		<integer>90</integer>
		<key>end_index</key>
		<integer>91</integer>
	</dict>
	<key>aussi</key>
	<dict>
		<key>start</key>
		<real>4.662327</real>
		<key>duration</key>
		<real>0.336996</real>
		<key>start_index</key>
		<integer>92</integer>
		<key>end_index</key>
		<integer>97</integer>
	</dict>
	<key>une</key>
	<dict>
		<key>start</key>
		<real>4.999323</real>
		<key>duration</key>
		<real>0.163589999999999</real>
		<key>start_index</key>
		<integer>98</integer>
		<key>end_index</key>
		<integer>101</integer>
	</dict>
	<key>longue</key>
	<dict>
		<key>start</key>
		<real>5.166185</real>
		<key>duration</key>
		<real>0.464597</real>
		<key>start_index</key>
		<integer>102</integer>
		<key>end_index</key>
		<integer>108</integer>
	</dict>
	<key>queue.</key>
	<dict>
		<key>start</key>
		<real>5.696218</real>
		<key>duration</key>
		<real>0.212667</real>
		<key>start_index</key>
		<integer>109</integer>
		<key>end_index</key>
		<integer>115</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>5.908885</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
