<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>crocodile</string>
	<key>audioFile</key>
	<string>crocodile_story.es.mp3</string>
	<key>locale</key>
	<string>es</string>
	<key>Dino</key>
	<dict>
		<key>start</key>
		<real>0</real>
		<key>duration</key>
		<real>0.488399</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>4</integer>
	</dict>
	<key>el</key>
	<dict>
		<key>start</key>
		<real>0.488399</real>
		<key>duration</key>
		<real>0.194183</real>
		<key>start_index</key>
		<integer>5</integer>
		<key>end_index</key>
		<integer>7</integer>
	</dict>
	<key>Cocodrilo</key>
	<dict>
		<key>start</key>
		<real>0.682582</real>
		<key>duration</key>
		<real>0.7531939999999999</real>
		<key>start_index</key>
		<integer>8</integer>
		<key>end_index</key>
		<integer>17</integer>
	</dict>
	<key>tiene</key>
	<dict>
		<key>start</key>
		<real>2.000671</real>
		<key>duration</key>
		<real>0.3001009999999997</real>
		<key>start_index</key>
		<integer>18</integer>
		<key>end_index</key>
		<integer>23</integer>
	</dict>
	<key>shorts</key>
	<dict>
		<key>start</key>
		<real>2.300772</real>
		<key>duration</key>
		<real>0.4001350000000001</real>
		<key>start_index</key>
		<integer>24</integer>
		<key>end_index</key>
		<integer>30</integer>
	</dict>
	<key>azules</key>
	<dict>
		<key>start</key>
		<real>2.700907</real>
		<key>duration</key>
		<real>0.7649620000000001</real>
		<key>start_index</key>
		<integer>31</integer>
		<key>end_index</key>
		<integer>37</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>start</key>
		<real>3.536481</real>
		<key>duration</key>
		<real>0.08238099999999982</real>
		<key>start_index</key>
		<integer>38</integer>
		<key>end_index</key>
		<integer>39</integer>
	</dict>
	<key>sus</key>
	<dict>
		<key>start</key>
		<real>3.618862</real>
		<key>duration</key>
		<real>0.353059</real>
		<key>start_index</key>
		<integer>40</integer>
		<key>end_index</key>
		<integer>43</integer>
	</dict>
	<key>pies</key>
	<dict>
		<key>start</key>
		<real>4.013112</real>
		<key>duration</key>
		<real>0.4707460000000001</real>
		<key>start_index</key>
		<integer>44</integer>
		<key>end_index</key>
		<integer>48</integer>
	</dict>
	<key>tienen</key>
	<dict>
		<key>start</key>
		<real>4.589776</real>
		<key>duration</key>
		<real>0.2824480000000005</real>
		<key>start_index</key>
		<integer>49</integer>
		<key>end_index</key>
		<integer>55</integer>
	</dict>
	<key>escamas</key>
	<dict>
		<key>start</key>
		<real>4.872224</real>
		<key>duration</key>
		<real>0.688466</real>
		<key>start_index</key>
		<integer>56</integer>
		<key>end_index</key>
		<integer>63</integer>
	</dict>
	<key>verdes</key>
	<dict>
		<key>start</key>
		<real>5.56069</real>
		<key>duration</key>
		<real>0.7178880000000003</real>
		<key>start_index</key>
		<integer>64</integer>
		<key>end_index</key>
		<integer>70</integer>
	</dict>
	<key>y1</key>
	<dict>
		<key>start</key>
		<real>6.631638</real>
		<key>duration</key>
		<real>0.04707400000000028</real>
		<key>start_index</key>
		<integer>71</integer>
		<key>end_index</key>
		<integer>72</integer>
	</dict>
	<key>una</key>
	<dict>
		<key>start</key>
		<real>6.678712</real>
		<key>duration</key>
		<real>0.341291</real>
		<key>start_index</key>
		<integer>73</integer>
		<key>end_index</key>
		<integer>76</integer>
	</dict>
	<key>cola</key>
	<dict>
		<key>start</key>
		<real>7.114152</real>
		<key>duration</key>
		<real>0.4060190000000006</real>
		<key>start_index</key>
		<integer>77</integer>
		<key>end_index</key>
		<integer>81</integer>
	</dict>
	<key>larguísima.</key>
	<dict>
		<key>start</key>
		<real>7.549593</real>
		<key>duration</key>
		<real>1.318089000000001</real>
		<key>start_index</key>
		<integer>82</integer>
		<key>end_index</key>
		<integer>93</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>8.891219</real>
		<key>duration</key>
		<real>0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
