<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Avery</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>Awesome_Emma.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>Popup</key>
			<dict>
				<key>params</key>
				<dict>
					<key>duration</key>
					<real>0.25</real>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>-80</integer>
						<key>y</key>
						<integer>0</integer>
					</dict>
					<key>holdDuration</key>
					<real>1</real>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>popup</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>5</integer>
		<key>imageName</key>
		<string>avery_polar.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>Music</key>
	<string>penguin_song.mp3</string>
	<key>Mountains</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>2</integer>
		<key>imageName</key>
		<string>mountains.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>382</integer>
		</dict>
	</dict>
	<key>Whale</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>whale_spout.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>Spout</key>
			<dict>
				<key>event</key>
				<string>touch</string>
				<key>params</key>
				<dict>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>110</integer>
						<key>y</key>
						<integer>55</integer>
					</dict>
				</dict>
				<key>action</key>
				<string>spout</string>
			</dict>
			<key>Move</key>
			<dict>
				<key>event</key>
				<string>start</string>
				<key>action</key>
				<string>pace</string>
				<key>params</key>
				<dict>
					<key>duration</key>
					<real>35</real>
				</dict>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>4</integer>
		<key>imageName</key>
		<string>whale.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>325</integer>
			<key>y</key>
			<integer>279</integer>
		</dict>
	</dict>
	<key>Floor</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>5</integer>
		<key>imageName</key>
		<string>glacier_floor.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Water</key>
	<dict>
		<key>reflectImageName</key>
		<string>arctic_reflect.png</string>
		<key>type</key>
		<string>Water</string>
		<key>z</key>
		<integer>1</integer>
		<key>imageName</key>
		<string>water.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>124</integer>
		</dict>
	</dict>
	<key>Arch</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>3</integer>
		<key>imageName</key>
		<string>glacier_arch.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>338</integer>
		</dict>
	</dict>
	<key>Key</key>
	<string>arctic</string>
	<key>StoryKey</key>
	<string>penguin</string>
	<key>KidPosition</key>
	<dict>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>30</integer>
	</dict>
	<key>TextPosition</key>
	<dict>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>600</integer>
	</dict>
	<key>AnimalPosition</key>
	<dict>
		<key>x</key>
		<integer>650</integer>
		<key>y</key>
		<integer>320</integer>
	</dict>
	<key>Sky</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>1</integer>
		<key>imageName</key>
		<string>aurora_borealis.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>328</integer>
		</dict>
	</dict>
	<key>Igloo</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Smoke</key>
			<dict>
				<key>event</key>
				<string>touch</string>
				<key>params</key>
				<dict>
					<key>position</key>
					<dict>
						<key>x</key>
						<integer>155</integer>
						<key>y</key>
						<integer>218</integer>
					</dict>
				</dict>
				<key>action</key>
				<string>smoke</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>6</integer>
		<key>imageName</key>
		<string>igloo.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>25</integer>
			<key>y</key>
			<integer>133</integer>
		</dict>
	</dict>
	<key>Penguin1</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>giraffes.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>Flip</key>
			<dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>backflip</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>7</integer>
		<key>imageName</key>
		<string>penguin1.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>368</integer>
			<key>y</key>
			<integer>228</integer>
		</dict>
	</dict>
	<key>Penguin2</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>giraffes.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>Flip</key>
			<dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>backflip</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>7</integer>
		<key>imageName</key>
		<string>penguin2.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>830</integer>
			<key>y</key>
			<integer>245</integer>
		</dict>
	</dict>
</dict>
</plist>
