<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>giraffe</string>
	<key>audioFile</key>
	<string>giraffe_story.fr.mp3</string>
	<key>locale</key>
	<string>fr</string>
	<key>Géraldine</key>
	<dict>
		<key>start</key>
		<real>0.06269</real>
		<key>duration</key>
		<real>0.735922</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>9</integer>
	</dict>
	<key>la</key>
	<dict>
		<key>start</key>
		<real>0.798612</real>
		<key>duration</key>
		<real>0.147185</real>
		<key>start_index</key>
		<integer>10</integer>
		<key>end_index</key>
		<integer>12</integer>
	</dict>
	<key>Girafe</key>
	<dict>
		<key>start</key>
		<real>0.945797</real>
		<key>duration</key>
		<real>0.392492</real>
		<key>start_index</key>
		<integer>13</integer>
		<key>end_index</key>
		<integer>19</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>start</key>
		<real>1.338289</real>
		<key>duration</key>
		<real>0.136282</real>
		<key>start_index</key>
		<integer>20</integer>
		<key>end_index</key>
		<integer>21</integer>
	</dict>
	<key>des</key>
	<dict>
		<key>start</key>
		<real>1.474571</real>
		<key>duration</key>
		<real>0.087221</real>
		<key>start_index</key>
		<integer>22</integer>
		<key>end_index</key>
		<integer>25</integer>
	</dict>
	<key>pattes</key>
	<dict>
		<key>start</key>
		<real>1.616304</real>
		<key>duration</key>
		<real>0.343431</real>
		<key>start_index</key>
		<integer>26</integer>
		<key>end_index</key>
		<integer>32</integer>
	</dict>
	<key>jaunes</key>
	<dict>
		<key>start</key>
		<real>1.959735</real>
		<key>duration</key>
		<real>0.463359</real>
		<key>start_index</key>
		<integer>33</integer>
		<key>end_index</key>
		<integer>39</integer>
	</dict>
	<key>avec</key>
	<dict>
		<key>start</key>
		<real>2.423094</real>
		<key>duration</key>
		<real>0.171715</real>
		<key>start_index</key>
		<integer>40</integer>
		<key>end_index</key>
		<integer>44</integer>
	</dict>
	<key>des1</key>
	<dict>
		<key>start</key>
		<real>2.594809</real>
		<key>duration</key>
		<real>0.087221</real>
		<key>start_index</key>
		<integer>45</integer>
		<key>end_index</key>
		<integer>48</integer>
	</dict>
	<key>tâches</key>
	<dict>
		<key>start</key>
		<real>2.703835</real>
		<key>duration</key>
		<real>0.286192</real>
		<key>start_index</key>
		<integer>49</integer>
		<key>end_index</key>
		<integer>55</integer>
	</dict>
	<key>marron</key>
	<dict>
		<key>start</key>
		<real>2.990027</real>
		<key>duration</key>
		<real>0.4252</real>
		<key>start_index</key>
		<integer>56</integer>
		<key>end_index</key>
		<integer>62</integer>
	</dict>
	<key>et</key>
	<dict>
		<key>start</key>
		<real>3.766834</real>
		<key>duration</key>
		<real>0.1063</real>
		<key>start_index</key>
		<integer>63</integer>
		<key>end_index</key>
		<integer>65</integer>
	</dict>
	<key>porte</key>
	<dict>
		<key>start</key>
		<real>3.930373</real>
		<key>duration</key>
		<real>0.204423</real>
		<key>start_index</key>
		<integer>66</integer>
		<key>end_index</key>
		<integer>71</integer>
	</dict>
	<key>un</key>
	<dict>
		<key>start</key>
		<real>4.164778</real>
		<key>duration</key>
		<real>0.117202</real>
		<key>start_index</key>
		<integer>72</integer>
		<key>end_index</key>
		<integer>74</integer>
	</dict>
	<key>short</key>
	<dict>
		<key>start</key>
		<real>4.28198</real>
		<key>duration</key>
		<real>0.449731</real>
		<key>start_index</key>
		<integer>75</integer>
		<key>end_index</key>
		<integer>80</integer>
	</dict>
	<key>bleu.</key>
	<dict>
		<key>start</key>
		<real>4.780772</real>
		<key>duration</key>
		<real>0.253485</real>
		<key>start_index</key>
		<integer>81</integer>
		<key>end_index</key>
		<integer>86</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>5.034257</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
