<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>giraffe</string>
	<key>audioFile</key>
	<string>giraffe_story.es.mp3</string>
	<key>locale</key>
	<string>es</string>
	<key>Guillermo</key>
	<dict>
		<key>start</key>
		<real>0</real>
		<key>duration</key>
		<real>0.557543</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>9</integer>
	</dict>
	<key>la</key>
	<dict>
		<key>start</key>
		<real>0.557543</real>
		<key>duration</key>
		<real>0.217311</real>
		<key>start_index</key>
		<integer>10</integer>
		<key>end_index</key>
		<integer>12</integer>
	</dict>
	<key>Jirafa</key>
	<dict>
		<key>start</key>
		<real>0.774854</real>
		<key>duration</key>
		<real>0.5619329999999999</real>
		<key>start_index</key>
		<integer>13</integer>
		<key>end_index</key>
		<integer>19</integer>
	</dict>
	<key>tiene</key>
	<dict>
		<key>start</key>
		<real>1.690191</real>
		<key>duration</key>
		<real>0.3116970000000001</real>
		<key>start_index</key>
		<integer>20</integer>
		<key>end_index</key>
		<integer>25</integer>
	</dict>
	<key>piernas</key>
	<dict>
		<key>start</key>
		<real>2.017253</real>
		<key>duration</key>
		<real>0.4104749999999999</real>
		<key>start_index</key>
		<integer>26</integer>
		<key>end_index</key>
		<integer>33</integer>
	</dict>
	<key>amarillas</key>
	<dict>
		<key>start</key>
		<real>2.427728</real>
		<key>duration</key>
		<real>0.6804669999999997</real>
		<key>start_index</key>
		<integer>34</integer>
		<key>end_index</key>
		<integer>43</integer>
	</dict>
	<key>con</key>
	<dict>
		<key>start</key>
		<real>3.163071</real>
		<key>duration</key>
		<real>0.237066</real>
		<key>start_index</key>
		<integer>44</integer>
		<key>end_index</key>
		<integer>47</integer>
	</dict>
	<key>manchas</key>
	<dict>
		<key>start</key>
		<real>3.400137</real>
		<key>duration</key>
		<real>0.3512080000000002</real>
		<key>start_index</key>
		<integer>48</integer>
		<key>end_index</key>
		<integer>55</integer>
	</dict>
	<key>cafés</key>
	<dict>
		<key>start</key>
		<real>3.786466</real>
		<key>duration</key>
		<real>0.6146149999999997</real>
		<key>start_index</key>
		<integer>56</integer>
		<key>end_index</key>
		<integer>61</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>start</key>
		<real>4.660097</real>
		<key>duration</key>
		<real>0.1514579999999999</real>
		<key>start_index</key>
		<integer>62</integer>
		<key>end_index</key>
		<integer>63</integer>
	</dict>
	<key>sus</key>
	<dict>
		<key>start</key>
		<real>4.811555</real>
		<key>duration</key>
		<real>0.09658299999999986</real>
		<key>start_index</key>
		<integer>64</integer>
		<key>end_index</key>
		<integer>67</integer>
	</dict>
	<key>shorts</key>
	<dict>
		<key>start</key>
		<real>4.908138</real>
		<key>duration</key>
		<real>0.445595</real>
		<key>start_index</key>
		<integer>68</integer>
		<key>end_index</key>
		<integer>74</integer>
	</dict>
	<key>son</key>
	<dict>
		<key>start</key>
		<real>5.353733</real>
		<key>duration</key>
		<real>0.1295089999999997</real>
		<key>start_index</key>
		<integer>75</integer>
		<key>end_index</key>
		<integer>78</integer>
	</dict>
	<key>azules.</key>
	<dict>
		<key>start</key>
		<real>5.483242</real>
		<key>duration</key>
		<real>0.6014439999999999</real>
		<key>start_index</key>
		<integer>79</integer>
		<key>end_index</key>
		<integer>86</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>6.084686</real>
		<key>duration</key>
		<real>0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
