<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>giraffe</string>
	<key>audioFile</key>
	<string>giraffe_story.en.mp3</string>
	<key>locale</key>
	<string>en</string>
	<key>Jerome</key>
	<dict>
		<key>start</key>
		<real>0.066652</real>
		<key>duration</key>
		<real>0.592022</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>6</integer>
	</dict>
	<key>the</key>
	<dict>
		<key>start</key>
		<real>0.658674</real>
		<key>duration</key>
		<real>0.117621</real>
		<key>start_index</key>
		<integer>7</integer>
		<key>end_index</key>
		<integer>10</integer>
	</dict>
	<key>giraffe's</key>
	<dict>
		<key>start</key>
		<real>0.776295</real>
		<key>duration</key>
		<real>0.411671</real>
		<key>start_index</key>
		<integer>11</integer>
		<key>end_index</key>
		<integer>20</integer>
	</dict>
	<key>legs</key>
	<dict>
		<key>start</key>
		<real>1.187966</real>
		<key>duration</key>
		<real>0.51361</real>
		<key>start_index</key>
		<integer>21</integer>
		<key>end_index</key>
		<integer>25</integer>
	</dict>
	<key>are</key>
	<dict>
		<key>start</key>
		<real>1.854482</real>
		<key>duration</key>
		<real>0.211717</real>
		<key>start_index</key>
		<integer>26</integer>
		<key>end_index</key>
		<integer>29</integer>
	</dict>
	<key>yellow</key>
	<dict>
		<key>start</key>
		<real>2.066199</real>
		<key>duration</key>
		<real>0.450878</real>
		<key>start_index</key>
		<integer>30</integer>
		<key>end_index</key>
		<integer>36</integer>
	</dict>
	<key>with</key>
	<dict>
		<key>start</key>
		<real>2.873859</real>
		<key>duration</key>
		<real>0.16859</real>
		<key>start_index</key>
		<integer>37</integer>
		<key>end_index</key>
		<integer>41</integer>
	</dict>
	<key>brown</key>
	<dict>
		<key>start</key>
		<real>3.042449</real>
		<key>duration</key>
		<real>0.297972</real>
		<key>start_index</key>
		<integer>42</integer>
		<key>end_index</key>
		<integer>47</integer>
	</dict>
	<key>spots</key>
	<dict>
		<key>start</key>
		<real>3.340421</real>
		<key>duration</key>
		<real>0.713564</real>
		<key>start_index</key>
		<integer>48</integer>
		<key>end_index</key>
		<integer>53</integer>
	</dict>
	<key>and</key>
	<dict>
		<key>start</key>
		<real>4.300988</real>
		<key>duration</key>
		<real>0.125461</real>
		<key>start_index</key>
		<integer>54</integer>
		<key>end_index</key>
		<integer>57</integer>
	</dict>
	<key>he's</key>
	<dict>
		<key>start</key>
		<real>4.426449</real>
		<key>duration</key>
		<real>0.125462</real>
		<key>start_index</key>
		<integer>58</integer>
		<key>end_index</key>
		<integer>62</integer>
	</dict>
	<key>wearing</key>
	<dict>
		<key>start</key>
		<real>4.551911</real>
		<key>duration</key>
		<real>0.435196</real>
		<key>start_index</key>
		<integer>63</integer>
		<key>end_index</key>
		<integer>70</integer>
	</dict>
	<key>blue</key>
	<dict>
		<key>start</key>
		<real>4.987107</real>
		<key>duration</key>
		<real>0.188192</real>
		<key>start_index</key>
		<integer>71</integer>
		<key>end_index</key>
		<integer>75</integer>
	</dict>
	<key>shorts.</key>
	<dict>
		<key>start</key>
		<real>5.175299</real>
		<key>duration</key>
		<real>0.564579</real>
		<key>start_index</key>
		<integer>76</integer>
		<key>end_index</key>
		<integer>83</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>5.739878</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
