<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>giraffe</string>
	<key>audioFile</key>
	<string>giraffe_story.en.mp3</string>
	<key>locale</key>
	<string>en</string>
	<key>Jerome</key>
	<dict>
		<key>start</key>
		<real>0.02322</real>
		<key>duration</key>
		<real>0.249614</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>6</integer>
	</dict>
	<key>the</key>
	<dict>
		<key>start</key>
		<real>0.272834</real>
		<key>duration</key>
		<real>0.22059</real>
		<key>start_index</key>
		<integer>7</integer>
		<key>end_index</key>
		<integer>10</integer>
	</dict>
	<key>giraffe's</key>
	<dict>
		<key>start</key>
		<real>0.464399</real>
		<key>duration</key>
		<real>0.400544</real>
		<key>start_index</key>
		<integer>11</integer>
		<key>end_index</key>
		<integer>20</integer>
	</dict>
	<key>feet</key>
	<dict>
		<key>start</key>
		<real>0.864943</real>
		<key>duration</key>
		<real>0.110295</real>
		<key>start_index</key>
		<integer>21</integer>
		<key>end_index</key>
		<integer>25</integer>
	</dict>
	<key>are</key>
	<dict>
		<key>start</key>
		<real>0.975238</real>
		<key>duration</key>
		<real>0.17415</real>
		<key>start_index</key>
		<integer>26</integer>
		<key>end_index</key>
		<integer>29</integer>
	</dict>
	<key>yellow</key>
	<dict>
		<key>start</key>
		<real>1.178413</real>
		<key>duration</key>
		<real>0.470204</real>
		<key>start_index</key>
		<integer>30</integer>
		<key>end_index</key>
		<integer>36</integer>
	</dict>
	<key>and</key>
	<dict>
		<key>start</key>
		<real>1.973696</real>
		<key>duration</key>
		<real>0.20898</real>
		<key>start_index</key>
		<integer>37</integer>
		<key>end_index</key>
		<integer>40</integer>
	</dict>
	<key>have</key>
	<dict>
		<key>start</key>
		<real>2.182676</real>
		<key>duration</key>
		<real>0.243809</real>
		<key>start_index</key>
		<integer>41</integer>
		<key>end_index</key>
		<integer>45</integer>
	</dict>
	<key>brown</key>
	<dict>
		<key>start</key>
		<real>2.403265</real>
		<key>duration</key>
		<real>0.284445</real>
		<key>start_index</key>
		<integer>46</integer>
		<key>end_index</key>
		<integer>51</integer>
	</dict>
	<key>spots.</key>
	<dict>
		<key>start</key>
		<real>2.68771</real>
		<key>duration</key>
		<real>0.603719</real>
		<key>start_index</key>
		<integer>52</integer>
		<key>end_index</key>
		<integer>58</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>3.343673</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
