<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>productId</key>
	<string>com.alchemistinteractive.footgame.apack.all</string>
	<key>Key</key>
	<string>Elephant</string>
	<key>Environment</key>
	<string>savannah1</string>
	<key>habitatLocations</key>
	<array>
		<dict>
			<key>lng</key>
			<real>17.578125</real>
			<key>lat</key>
			<real>-16.804541</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>37.265625</real>
			<key>lat</key>
			<real>-12.039321</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>22.324219</real>
			<key>lat</key>
			<real>4.915833</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>-3.515625</real>
			<key>lat</key>
			<real>9.622413999999999</real>
		</dict>
	</array>
	<key>SuccessSound</key>
	<string>elephant2.wav</string>
	<key>Name</key>
	<string>Elephant</string>
	<key>FailSound</key>
	<string></string>
	<key>Body</key>
	<dict>
		<key>HappyImage</key>
		<string>elephant_top_happy.png</string>
		<key>AnchorFoot</key>
		<dict>
			<key>orientation</key>
			<integer>0</integer>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>359</integer>
		</dict>
		<key>Image</key>
		<string>elephant_top.png</string>
	</dict>
	<key>Foot</key>
	<dict>
		<key>Anchor</key>
		<dict>
			<key>orientation</key>
			<integer>0</integer>
			<key>x</key>
			<integer>117</integer>
			<key>y</key>
			<integer>26</integer>
		</dict>
		<key>Image</key>
		<string>elephant_bottom.png</string>
	</dict>
	<key>Word</key>
	<string>elephant_word.en.png</string>
</dict>
</plist>
