<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>panda</string>
	<key>audioFile</key>
	<string>panda_story.en.mp3</string>
	<key>locale</key>
	<string>en</string>
	<key>patrick</key>
	<dict>
		<key>start</key>
		<real>0.0</real>
		<key>duration</key>
		<real>0.267029</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>7</integer>
	</dict>
	<key>the</key>
	<dict>
		<key>start</key>
		<real>0.325079</real>
		<key>duration</key>
		<real>0.19737</real>
		<key>start_index</key>
		<integer>8</integer>
		<key>end_index</key>
		<integer>11</integer>
	</dict>
	<key>panda's</key>
	<dict>
		<key>start</key>
		<real>0.522449</real>
		<key>duration</key>
		<real>0.429569</real>
		<key>start_index</key>
		<integer>12</integer>
		<key>end_index</key>
		<integer>19</integer>
	</dict>
	<key>feet</key>
	<dict>
		<key>start</key>
		<real>0.952018</real>
		<key>duration</key>
		<real>0.15093</real>
		<key>start_index</key>
		<integer>20</integer>
		<key>end_index</key>
		<integer>24</integer>
	</dict>
	<key>are</key>
	<dict>
		<key>start</key>
		<real>1.102948</real>
		<key>duration</key>
		<real>0.220589</real>
		<key>start_index</key>
		<integer>25</integer>
		<key>end_index</key>
		<integer>28</integer>
	</dict>
	<key>black</key>
	<dict>
		<key>start</key>
		<real>1.265488</real>
		<key>duration</key>
		<real>0.255419</real>
		<key>start_index</key>
		<integer>29</integer>
		<key>end_index</key>
		<integer>34</integer>
	</dict>
	<key>and</key>
	<dict>
		<key>start</key>
		<real>1.520907</real>
		<key>duration</key>
		<real>0.22059</real>
		<key>start_index</key>
		<integer>35</integer>
		<key>end_index</key>
		<integer>38</integer>
	</dict>
	<key>fuzzy</key>
	<dict>
		<key>start</key>
		<real>1.741497</real>
		<key>duration</key>
		<real>0.661768</real>
		<key>start_index</key>
		<integer>39</integer>
		<key>end_index</key>
		<integer>44</integer>
	</dict>
	<key>with</key>
	<dict>
		<key>start</key>
		<real>2.600635</real>
		<key>duration</key>
		<real>0.18576</real>
		<key>start_index</key>
		<integer>45</integer>
		<key>end_index</key>
		<integer>49</integer>
	</dict>
	<key>stripped</key>
	<dict>
		<key>start</key>
		<real>2.786395</real>
		<key>duration</key>
		<real>0.336689</real>
		<key>start_index</key>
		<integer>50</integer>
		<key>end_index</key>
		<integer>58</integer>
	</dict>
	<key>red</key>
	<dict>
		<key>start</key>
		<real>3.123084</real>
		<key>duration</key>
		<real>0.487619</real>
		<key>start_index</key>
		<integer>59</integer>
		<key>end_index</key>
		<integer>62</integer>
	</dict>
	<key>pants.</key>
	<dict>
		<key>start</key>
		<real>3.541043</real>
		<key>duration</key>
		<real>0.824308</real>
		<key>start_index</key>
		<integer>63</integer>
		<key>end_index</key>
		<integer>69</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>4.318912</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
