<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>panda</string>
	<key>audioFile</key>
	<string>panda_story.fr.mp3</string>
	<key>locale</key>
	<string>fr</string>
	<key>Patrick</key>
	<dict>
		<key>start</key>
		<real>0.114695</real>
		<key>duration</key>
		<real>0.297662</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>7</integer>
	</dict>
	<key>le</key>
	<dict>
		<key>start</key>
		<real>0.51886</real>
		<key>duration</key>
		<real>0.0573480000000001</real>
		<key>start_index</key>
		<integer>8</integer>
		<key>end_index</key>
		<integer>10</integer>
	</dict>
	<key>Panda</key>
	<dict>
		<key>start</key>
		<real>0.647209</real>
		<key>duration</key>
		<real>0.311316</real>
		<key>start_index</key>
		<integer>11</integer>
		<key>end_index</key>
		<integer>16</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>start</key>
		<real>0.958525</real>
		<key>duration</key>
		<real>0.101041</real>
		<key>start_index</key>
		<integer>17</integer>
		<key>end_index</key>
		<integer>18</integer>
	</dict>
	<key>des</key>
	<dict>
		<key>start</key>
		<real>1.100529</real>
		<key>duration</key>
		<real>0.0846559999999998</real>
		<key>start_index</key>
		<integer>19</integer>
		<key>end_index</key>
		<integer>22</integer>
	</dict>
	<key>pattes</key>
	<dict>
		<key>start</key>
		<real>1.258918</real>
		<key>duration</key>
		<real>0.0983100000000001</real>
		<key>start_index</key>
		<integer>23</integer>
		<key>end_index</key>
		<integer>29</integer>
	</dict>
	<key>noires</key>
	<dict>
		<key>start</key>
		<real>1.406383</real>
		<key>duration</key>
		<real>0.529784</real>
		<key>start_index</key>
		<integer>30</integer>
		<key>end_index</key>
		<integer>36</integer>
	</dict>
	<key>et</key>
	<dict>
		<key>start</key>
		<real>1.960744</real>
		<key>duration</key>
		<real>0.114695</real>
		<key>start_index</key>
		<integer>37</integer>
		<key>end_index</key>
		<integer>39</integer>
	</dict>
	<key>poilues</key>
	<dict>
		<key>start</key>
		<real>2.168288</real>
		<key>duration</key>
		<real>0.469705</real>
		<key>start_index</key>
		<integer>40</integer>
		<key>end_index</key>
		<integer>47</integer>
	</dict>
	<key>et1</key>
	<dict>
		<key>start</key>
		<real>3.064004</real>
		<key>duration</key>
		<real>0.0901179999999999</real>
		<key>start_index</key>
		<integer>48</integer>
		<key>end_index</key>
		<integer>50</integer>
	</dict>
	<key>porte</key>
	<dict>
		<key>start</key>
		<real>3.233316</real>
		<key>duration</key>
		<real>0.16112</real>
		<key>start_index</key>
		<integer>51</integer>
		<key>end_index</key>
		<integer>56</integer>
	</dict>
	<key>un</key>
	<dict>
		<key>start</key>
		<real>3.429937</real>
		<key>duration</key>
		<real>0.210275</real>
		<key>start_index</key>
		<integer>57</integer>
		<key>end_index</key>
		<integer>59</integer>
	</dict>
	<key>pantalon</key>
	<dict>
		<key>start</key>
		<real>3.692098</real>
		<key>duration</key>
		<real>0.529783</real>
		<key>start_index</key>
		<integer>60</integer>
		<key>end_index</key>
		<integer>68</integer>
	</dict>
	<key>à</key>
	<dict>
		<key>start</key>
		<real>4.221881</real>
		<key>duration</key>
		<real>0.103772</real>
		<key>start_index</key>
		<integer>69</integer>
		<key>end_index</key>
		<integer>71</integer>
	</dict>
	<key>rayures</key>
	<dict>
		<key>start</key>
		<real>4.325653</real>
		<key>duration</key>
		<real>0.376856</real>
		<key>start_index</key>
		<integer>72</integer>
		<key>end_index</key>
		<integer>79</integer>
	</dict>
	<key>rouges.</key>
	<dict>
		<key>start</key>
		<real>4.702509</real>
		<key>duration</key>
		<real>0.466974</real>
		<key>start_index</key>
		<integer>80</integer>
		<key>end_index</key>
		<integer>87</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>5.169483</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
