<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>panda</string>
	<key>audioFile</key>
	<string>panda_story.en.mp3</string>
	<key>locale</key>
	<string>en</string>
	<key>Patrick</key>
	<dict>
		<key>start</key>
		<real>0.152822</real>
		<key>duration</key>
		<real>0.540756</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>7</integer>
	</dict>
	<key>the</key>
	<dict>
		<key>start</key>
		<real>0.693578</real>
		<key>duration</key>
		<real>0.176333</real>
		<key>start_index</key>
		<integer>8</integer>
		<key>end_index</key>
		<integer>11</integer>
	</dict>
	<key>panda's</key>
	<dict>
		<key>start</key>
		<real>0.869911</real>
		<key>duration</key>
		<real>0.387934</real>
		<key>start_index</key>
		<integer>12</integer>
		<key>end_index</key>
		<integer>19</integer>
	</dict>
	<key>feet</key>
	<dict>
		<key>start</key>
		<real>1.257845</real>
		<key>duration</key>
		<real>0.552511</real>
		<key>start_index</key>
		<integer>20</integer>
		<key>end_index</key>
		<integer>24</integer>
	</dict>
	<key>are</key>
	<dict>
		<key>start</key>
		<real>2.021956</real>
		<key>duration</key>
		<real>0.2116</real>
		<key>start_index</key>
		<integer>25</integer>
		<key>end_index</key>
		<integer>28</integer>
	</dict>
	<key>black</key>
	<dict>
		<key>start</key>
		<real>2.233556</real>
		<key>duration</key>
		<real>0.246867</real>
		<key>start_index</key>
		<integer>29</integer>
		<key>end_index</key>
		<integer>34</integer>
	</dict>
	<key>and</key>
	<dict>
		<key>start</key>
		<real>2.480423</real>
		<key>duration</key>
		<real>0.188088</real>
		<key>start_index</key>
		<integer>35</integer>
		<key>end_index</key>
		<integer>38</integer>
	</dict>
	<key>fuzzy</key>
	<dict>
		<key>start</key>
		<real>2.668511</real>
		<key>duration</key>
		<real>0.670067</real>
		<key>start_index</key>
		<integer>39</integer>
		<key>end_index</key>
		<integer>44</integer>
	</dict>
	<key>with</key>
	<dict>
		<key>start</key>
		<real>3.5443</real>
		<key>duration</key>
		<real>0.152823</real>
		<key>start_index</key>
		<integer>45</integer>
		<key>end_index</key>
		<integer>49</integer>
	</dict>
	<key>red</key>
	<dict>
		<key>start</key>
		<real>3.697123</real>
		<key>duration</key>
		<real>0.293889</real>
		<key>start_index</key>
		<integer>50</integer>
		<key>end_index</key>
		<integer>53</integer>
	</dict>
	<key>striped</key>
	<dict>
		<key>start</key>
		<real>3.991012</real>
		<key>duration</key>
		<real>0.405566</real>
		<key>start_index</key>
		<integer>54</integer>
		<key>end_index</key>
		<integer>61</integer>
	</dict>
	<key>pants.</key>
	<dict>
		<key>start</key>
		<real>4.396578</real>
		<key>duration</key>
		<real>0.570145</real>
		<key>start_index</key>
		<integer>62</integer>
		<key>end_index</key>
		<integer>68</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>4.966723</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
