<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Foot</key>
	<dict>
		<key>Anchor</key>
		<dict>
			<key>orientation</key>
			<integer>0</integer>
			<key>x</key>
			<integer>107</integer>
			<key>y</key>
			<integer>34</integer>
		</dict>
		<key>Image</key>
		<string>penguin_bottom.png</string>
	</dict>
	<key>Body</key>
	<dict>
		<key>HappyImage</key>
		<string>penguin_top_happy.png</string>
		<key>AnchorFoot</key>
		<dict>
			<key>orientation</key>
			<integer>0</integer>
			<key>x</key>
			<integer>135</integer>
			<key>y</key>
			<integer>315</integer>
		</dict>
		<key>Image</key>
		<string>penguin_top.png</string>
	</dict>
	<key>FailSound</key>
	<string></string>
	<key>Name</key>
	<string>Penguin</string>
	<key>SuccessSound</key>
	<string>penguin.wav</string>
	<key>Key</key>
	<string>Penguin</string>
	<key>Environment</key>
	<string>arctic</string>
	<key>habitatLocations</key>
	<array>
		<dict>
			<key>lng</key>
			<real>146.425781</real>
			<key>lat</key>
			<real>-43.068888</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>168.75</real>
			<key>lat</key>
			<real>-46.195042</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>133.417969</real>
			<key>lat</key>
			<real>-31.952162</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>-77.34375</real>
			<key>lat</key>
			<real>-74.11604699999999</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>-143.4375</real>
			<key>lat</key>
			<real>-76.516819</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>-69.257812</real>
			<key>lat</key>
			<real>-54.775346</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>-72.773437</real>
			<key>lat</key>
			<real>-16.551962</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>19.6875</real>
			<key>lat</key>
			<real>-34.307144</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>-16.523437</real>
			<key>lat</key>
			<real>-74.402163</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>37.089844</real>
			<key>lat</key>
			<real>-70.90226800000001</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>117.421875</real>
			<key>lat</key>
			<real>-33.870416</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>112.324219</real>
			<key>lat</key>
			<real>-67.204032</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>146.25</real>
			<key>lat</key>
			<real>-68.007571</real>
		</dict>
	</array>
	<key>Word</key>
	<string>penguin_word.en.png</string>
</dict>
</plist>
