<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>lion</string>
	<key>audioFile</key>
	<string>lion_story.en.mp3</string>
	<key>locale</key>
	<string>en</string>
	<key>Lloyd</key>
	<dict>
		<key>start</key>
		<real>0.137191</real>
		<key>duration</key>
		<real>0.565094</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>the</key>
	<dict>
		<key>start</key>
		<real>0.82641</real>
		<key>duration</key>
		<real>0.130658</real>
		<key>start_index</key>
		<integer>6</integer>
		<key>end_index</key>
		<integer>9</integer>
	</dict>
	<key>lion</key>
	<dict>
		<key>start</key>
		<real>0.957068</real>
		<key>duration</key>
		<real>0.467101</real>
		<key>start_index</key>
		<integer>10</integer>
		<key>end_index</key>
		<integer>14</integer>
	</dict>
	<key>has</key>
	<dict>
		<key>start</key>
		<real>1.535228</real>
		<key>duration</key>
		<real>0.195987</real>
		<key>start_index</key>
		<integer>15</integer>
		<key>end_index</key>
		<integer>18</integer>
	</dict>
	<key>blue</key>
	<dict>
		<key>start</key>
		<real>1.731215</real>
		<key>duration</key>
		<real>0.300513</real>
		<key>start_index</key>
		<integer>19</integer>
		<key>end_index</key>
		<integer>23</integer>
	</dict>
	<key>pants</key>
	<dict>
		<key>start</key>
		<real>2.031728</real>
		<key>duration</key>
		<real>0.499766</real>
		<key>start_index</key>
		<integer>24</integer>
		<key>end_index</key>
		<integer>29</integer>
	</dict>
	<key>and</key>
	<dict>
		<key>start</key>
		<real>2.756878</real>
		<key>duration</key>
		<real>0.130658</real>
		<key>start_index</key>
		<integer>30</integer>
		<key>end_index</key>
		<integer>33</integer>
	</dict>
	<key>his</key>
	<dict>
		<key>start</key>
		<real>2.887536</real>
		<key>duration</key>
		<real>0.244983</real>
		<key>start_index</key>
		<integer>34</integer>
		<key>end_index</key>
		<integer>37</integer>
	</dict>
	<key>feet</key>
	<dict>
		<key>start</key>
		<real>3.132519</real>
		<key>duration</key>
		<real>0.19272</real>
		<key>start_index</key>
		<integer>38</integer>
		<key>end_index</key>
		<integer>42</integer>
	</dict>
	<key>are</key>
	<dict>
		<key>start</key>
		<real>3.325239</real>
		<key>duration</key>
		<real>0.107793</real>
		<key>start_index</key>
		<integer>43</integer>
		<key>end_index</key>
		<integer>46</integer>
	</dict>
	<key>covered</key>
	<dict>
		<key>start</key>
		<real>3.433032</real>
		<key>duration</key>
		<real>0.326644</real>
		<key>start_index</key>
		<integer>47</integer>
		<key>end_index</key>
		<integer>54</integer>
	</dict>
	<key>in</key>
	<dict>
		<key>start</key>
		<real>3.759676</real>
		<key>duration</key>
		<real>0.222119</real>
		<key>start_index</key>
		<integer>55</integer>
		<key>end_index</key>
		<integer>57</integer>
	</dict>
	<key>tan</key>
	<dict>
		<key>start</key>
		<real>3.981795</real>
		<key>duration</key>
		<real>0.4867</real>
		<key>start_index</key>
		<integer>58</integer>
		<key>end_index</key>
		<integer>61</integer>
	</dict>
	<key>colored</key>
	<dict>
		<key>start</key>
		<real>4.505749</real>
		<key>duration</key>
		<real>0.508242</real>
		<key>start_index</key>
		<integer>62</integer>
		<key>end_index</key>
		<integer>69</integer>
	</dict>
	<key>fur.</key>
	<dict>
		<key>start</key>
		<real>5.013991</real>
		<key>duration</key>
		<real>0.482105</real>
		<key>start_index</key>
		<integer>70</integer>
		<key>end_index</key>
		<integer>74</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>5.496096</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
