<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>lion</string>
	<key>audioFile</key>
	<string>lion_story.es.mp3</string>
	<key>locale</key>
	<string>es</string>
	<key>Leonardo</key>
	<dict>
		<key>start</key>
		<real>0</real>
		<key>duration</key>
		<real>0.595593</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>8</integer>
	</dict>
	<key>el</key>
	<dict>
		<key>start</key>
		<real>0.595593</real>
		<key>duration</key>
		<real>0.117617</real>
		<key>start_index</key>
		<integer>9</integer>
		<key>end_index</key>
		<integer>11</integer>
	</dict>
	<key>León</key>
	<dict>
		<key>start</key>
		<real>0.71321</real>
		<key>duration</key>
		<real>0.5780759999999999</real>
		<key>start_index</key>
		<integer>12</integer>
		<key>end_index</key>
		<integer>16</integer>
	</dict>
	<key>tiene</key>
	<dict>
		<key>start</key>
		<real>1.411406</real>
		<key>duration</key>
		<real>0.232731</real>
		<key>start_index</key>
		<integer>17</integer>
		<key>end_index</key>
		<integer>22</integer>
	</dict>
	<key>pantalones</key>
	<dict>
		<key>start</key>
		<real>1.694187</real>
		<key>duration</key>
		<real>0.5730709999999999</real>
		<key>start_index</key>
		<integer>23</integer>
		<key>end_index</key>
		<integer>33</integer>
	</dict>
	<key>azules</key>
	<dict>
		<key>start</key>
		<real>2.267258</real>
		<key>duration</key>
		<real>0.7707679999999999</real>
		<key>start_index</key>
		<integer>34</integer>
		<key>end_index</key>
		<integer>40</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>start</key>
		<real>3.425912</real>
		<key>duration</key>
		<real>0.08758700000000008</real>
		<key>start_index</key>
		<integer>41</integer>
		<key>end_index</key>
		<integer>42</integer>
	</dict>
	<key>sus</key>
	<dict>
		<key>start</key>
		<real>3.513499</real>
		<key>duration</key>
		<real>0.3178170000000002</real>
		<key>start_index</key>
		<integer>43</integer>
		<key>end_index</key>
		<integer>46</integer>
	</dict>
	<key>pies</key>
	<dict>
		<key>start</key>
		<real>3.90639</real>
		<key>duration</key>
		<real>0.2452449999999997</real>
		<key>start_index</key>
		<integer>47</integer>
		<key>end_index</key>
		<integer>51</integer>
	</dict>
	<key>están</key>
	<dict>
		<key>start</key>
		<real>4.151635</real>
		<key>duration</key>
		<real>0.5130110000000005</real>
		<key>start_index</key>
		<integer>52</integer>
		<key>end_index</key>
		<integer>57</integer>
	</dict>
	<key>cuvierto</key>
	<dict>
		<key>start</key>
		<real>4.702183</real>
		<key>duration</key>
		<real>0.6481450000000004</real>
		<key>start_index</key>
		<integer>58</integer>
		<key>end_index</key>
		<integer>66</integer>
	</dict>
	<key>de</key>
	<dict>
		<key>start</key>
		<real>5.350328</real>
		<key>duration</key>
		<real>0.09759799999999963</real>
		<key>start_index</key>
		<integer>67</integer>
		<key>end_index</key>
		<integer>69</integer>
	</dict>
	<key>pelo</key>
	<dict>
		<key>start</key>
		<real>5.55303</real>
		<key>duration</key>
		<real>0.4229220000000007</real>
		<key>start_index</key>
		<integer>70</integer>
		<key>end_index</key>
		<integer>74</integer>
	</dict>
	<key>color</key>
	<dict>
		<key>start</key>
		<real>6.188663</real>
		<key>duration</key>
		<real>0.4003990000000002</real>
		<key>start_index</key>
		<integer>75</integer>
		<key>end_index</key>
		<integer>80</integer>
	</dict>
	<key>café</key>
	<dict>
		<key>start</key>
		<real>6.711684</real>
		<key>duration</key>
		<real>0.3753739999999999</real>
		<key>start_index</key>
		<integer>81</integer>
		<key>end_index</key>
		<integer>85</integer>
	</dict>
	<key>claro.</key>
	<dict>
		<key>start</key>
		<real>7.197168</real>
		<key>duration</key>
		<real>0.3878860000000008</real>
		<key>start_index</key>
		<integer>86</integer>
		<key>end_index</key>
		<integer>92</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>7.585054</real>
		<key>duration</key>
		<real>0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
