<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>monkey</string>
	<key>audioFile</key>
	<string>monkey_story.es.mp3</string>
	<key>locale</key>
	<string>es</string>
	<key>Carolina</key>
	<dict>
		<key>start</key>
		<real>0.0</real>
		<key>duration</key>
		<real>0.580803</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>8</integer>
	</dict>
	<key>la</key>
	<dict>
		<key>start</key>
		<real>0.580803</real>
		<key>duration</key>
		<real>0.11280100000000004</real>
		<key>start_index</key>
		<integer>9</integer>
		<key>end_index</key>
		<integer>11</integer>
	</dict>
	<key>Changa</key>
	<dict>
		<key>start</key>
		<real>0.753604</real>
		<key>duration</key>
		<real>0.5136029999999999</real>
		<key>start_index</key>
		<integer>12</integer>
		<key>end_index</key>
		<integer>18</integer>
	</dict>
	<key>tiene</key>
	<dict>
		<key>start</key>
		<real>1.612808</real>
		<key>duration</key>
		<real>0.32880200000000004</real>
		<key>start_index</key>
		<integer>19</integer>
		<key>end_index</key>
		<integer>24</integer>
	</dict>
	<key>una</key>
	<dict>
		<key>start</key>
		<real>1.94161</real>
		<key>duration</key>
		<real>0.22320099999999976</real>
		<key>start_index</key>
		<integer>25</integer>
		<key>end_index</key>
		<integer>28</integer>
	</dict>
	<key>falda</key>
	<dict>
		<key>start</key>
		<real>2.251212</real>
		<key>duration</key>
		<real>0.3216009999999998</real>
		<key>start_index</key>
		<integer>29</integer>
		<key>end_index</key>
		<integer>34</integer>
	</dict>
	<key>rosa</key>
	<dict>
		<key>start</key>
		<real>2.572813</real>
		<key>duration</key>
		<real>0.5136029999999998</real>
		<key>start_index</key>
		<integer>35</integer>
		<key>end_index</key>
		<integer>39</integer>
	</dict>
	<key>y unas</key>
	<dict>
		<key>start</key>
		<real>3.352817</real>
		<key>duration</key>
		<real>0.37920200000000026</real>
		<key>start_index</key>
		<integer>40</integer>
		<key>end_index</key>
		<integer>46</integer>
	</dict>
	<key>piernas</key>
	<dict>
		<key>start</key>
		<real>3.81362</real>
		<key>duration</key>
		<real>0.37440200000000035</real>
		<key>start_index</key>
		<integer>47</integer>
		<key>end_index</key>
		<integer>54</integer>
	</dict>
	<key>delgadas</key>
	<dict>
		<key>start</key>
		<real>4.207222</real>
		<key>duration</key>
		<real>0.5784029999999998</real>
		<key>start_index</key>
		<integer>55</integer>
		<key>end_index</key>
		<integer>63</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>start</key>
		<real>4.824025</real>
		<key>duration</key>
		<real>0.09600000000000009</real>
		<key>start_index</key>
		<integer>64</integer>
		<key>end_index</key>
		<integer>65</integer>
	</dict>
	<key>cafés.</key>
	<dict>
		<key>start</key>
		<real>4.953626</real>
		<key>duration</key>
		<real>0.5448019999999998</real>
		<key>start_index</key>
		<integer>66</integer>
		<key>end_index</key>
		<integer>72</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>5.498428</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
