<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>productId</key>
	<string>com.alchemistinteractive.footgame.apack.all</string>
	<key>Foot</key>
	<dict>
		<key>Anchor</key>
		<dict>
			<key>orientation</key>
			<integer>0</integer>
			<key>x</key>
			<integer>86</integer>
			<key>y</key>
			<integer>8</integer>
		</dict>
		<key>Image</key>
		<string>lion_bottom.png</string>
	</dict>
	<key>Body</key>
	<dict>
		<key>HappyImage</key>
		<string>lion_top_happy.png</string>
		<key>AnchorFoot</key>
		<dict>
			<key>orientation</key>
			<integer>0</integer>
			<key>x</key>
			<integer>157</integer>
			<key>y</key>
			<integer>351</integer>
		</dict>
		<key>Image</key>
		<string>lion_top.png</string>
	</dict>
	<key>FailSound</key>
	<string></string>
	<key>Name</key>
	<string>Lion</string>
	<key>SuccessSound</key>
	<string>lion.wav</string>
	<key>Key</key>
	<string>Lion</string>
	<key>Environment</key>
	<string>savannah2</string>
	<key>habitatLocations</key>
	<array>
		<dict>
			<key>lng</key>
			<real>-13.623047</real>
			<key>lat</key>
			<real>11.436955</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>21.005859</real>
			<key>lat</key>
			<real>9.882275</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>33.134766</real>
			<key>lat</key>
			<real>-4.91583</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>23.90625</real>
			<key>lat</key>
			<real>-21.207459</real>
		</dict>
	</array>
	<key>Word</key>
	<string>lion_word.en.png</string>
</dict>
</plist>
