<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>productId</key>
	<string>com.alchemistinteractive.footgame.apack.all</string>
	<key>Key</key>
	<string>Tiger</string>
	<key>Environment</key>
	<string>jungle</string>
	<key>habitatLocations</key>
	<array>
		<dict>
			<key>lng</key>
			<real>80.859375</real>
			<key>lat</key>
			<real>27.371767</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>96.45996100000001</real>
			<key>lat</key>
			<real>26.39187</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>75.849609</real>
			<key>lat</key>
			<real>11.523088</real>
		</dict>
	</array>
	<key>SuccessSound</key>
	<string>Tiger_noise.wav</string>
	<key>Name</key>
	<string>Tiger</string>
	<key>FailSound</key>
	<string></string>
	<key>Body</key>
	<dict>
		<key>HappyImage</key>
		<string>tiger_top_happy.png</string>
		<key>AnchorFoot</key>
		<dict>
			<key>orientation</key>
			<integer>0</integer>
			<key>x</key>
			<integer>183</integer>
			<key>y</key>
			<integer>320</integer>
		</dict>
		<key>Image</key>
		<string>tiger_top.png</string>
	</dict>
	<key>Foot</key>
	<dict>
		<key>Anchor</key>
		<dict>
			<key>orientation</key>
			<integer>0</integer>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>Image</key>
		<string>tiger_bottom.png</string>
	</dict>
	<key>Word</key>
	<string>tiger_word.en.png</string>
</dict>
</plist>
