<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>productId</key>
	<string>com.alchemistinteractive.footgame.apack.all</string>
	<key>habitatLocations</key>
	<array>
		<dict>
			<key>lng</key>
			<real>-90.714111</real>
			<key>lat</key>
			<real>15.887376</real>
		</dict>
		<dict>
			<key>lng</key>
			<real>-81.07360799999999</real>
			<key>lat</key>
			<real>25.482951</real>
		</dict>
	</array>
	<key>Key</key>
	<string>Crocodile</string>
	<key>Environment</key>
	<string>swamp</string>
	<key>SuccessSound</key>
	<string>Crocodile_noise.wav</string>
	<key>Name</key>
	<string>Crocodile</string>
	<key>FailSound</key>
	<string></string>
	<key>Body</key>
	<dict>
		<key>HappyImage</key>
		<string>crocodile_top_happy.png</string>
		<key>AnchorFoot</key>
		<dict>
			<key>orientation</key>
			<integer>0</integer>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>298</integer>
		</dict>
		<key>Image</key>
		<string>crocodile_top.png</string>
	</dict>
	<key>Foot</key>
	<dict>
		<key>Anchor</key>
		<dict>
			<key>orientation</key>
			<integer>0</integer>
			<key>x</key>
			<integer>67</integer>
			<key>y</key>
			<integer>197</integer>
		</dict>
		<key>Image</key>
		<string>crocodile_bottom.png</string>
	</dict>
	<key>Word</key>
	<string>crocodile_word.en.png</string>
</dict>
</plist>
