<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>penguin</string>
	<key>audioFile</key>
	<string>penguin_story.fr.mp3</string>
	<key>locale</key>
	<string>fr</string>
	<key>Pierre</key>
	<dict>
		<key>start</key>
		<real>0.092573</real>
		<key>duration</key>
		<real>0.270213</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>6</integer>
	</dict>
	<key>le</key>
	<dict>
		<key>start</key>
		<real>0.362786</real>
		<key>duration</key>
		<real>0.160126</real>
		<key>start_index</key>
		<integer>7</integer>
		<key>end_index</key>
		<integer>9</integer>
	</dict>
	<key>Pingouin</key>
	<dict>
		<key>start</key>
		<real>0.602975</real>
		<key>duration</key>
		<real>0.527916</real>
		<key>start_index</key>
		<integer>10</integer>
		<key>end_index</key>
		<integer>18</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>start</key>
		<real>1.130891</real>
		<key>duration</key>
		<real>0.0425329999999999</real>
		<key>start_index</key>
		<integer>19</integer>
		<key>end_index</key>
		<integer>20</integer>
	</dict>
	<key>des</key>
	<dict>
		<key>start</key>
		<real>1.173424</real>
		<key>duration</key>
		<real>0.135107</real>
		<key>start_index</key>
		<integer>21</integer>
		<key>end_index</key>
		<integer>24</integer>
	</dict>
	<key>pieds</key>
	<dict>
		<key>start</key>
		<real>1.308531</real>
		<key>duration</key>
		<real>0.235185</real>
		<key>start_index</key>
		<integer>25</integer>
		<key>end_index</key>
		<integer>30</integer>
	</dict>
	<key>jaunes</key>
	<dict>
		<key>start</key>
		<real>1.543716</real>
		<key>duration</key>
		<real>0.480378</real>
		<key>start_index</key>
		<integer>31</integer>
		<key>end_index</key>
		<integer>37</integer>
	</dict>
	<key>et</key>
	<dict>
		<key>start</key>
		<real>2.23426</real>
		<key>duration</key>
		<real>0.0925730000000002</real>
		<key>start_index</key>
		<integer>38</integer>
		<key>end_index</key>
		<integer>40</integer>
	</dict>
	<key>ses</key>
	<dict>
		<key>start</key>
		<real>2.326833</real>
		<key>duration</key>
		<real>0.192652</real>
		<key>start_index</key>
		<integer>41</integer>
		<key>end_index</key>
		<integer>44</integer>
	</dict>
	<key>pattes</key>
	<dict>
		<key>start</key>
		<real>2.579532</real>
		<key>duration</key>
		<real>0.137608</real>
		<key>start_index</key>
		<integer>45</integer>
		<key>end_index</key>
		<integer>51</integer>
	</dict>
	<key>ont</key>
	<dict>
		<key>start</key>
		<real>2.75467</real>
		<key>duration</key>
		<real>0.175138</real>
		<key>start_index</key>
		<integer>52</integer>
		<key>end_index</key>
		<integer>55</integer>
	</dict>
	<key>plein</key>
	<dict>
		<key>start</key>
		<real>3.017377</real>
		<key>duration</key>
		<real>0.323451</real>
		<key>start_index</key>
		<integer>56</integer>
		<key>end_index</key>
		<integer>61</integer>
	</dict>
	<key>de</key>
	<dict>
		<key>start</key>
		<real>3.340828</real>
		<key>duration</key>
		<real>0.116896</real>
		<key>start_index</key>
		<integer>62</integer>
		<key>end_index</key>
		<integer>64</integer>
	</dict>
	<key>plumes</key>
	<dict>
		<key>start</key>
		<real>3.457724</real>
		<key>duration</key>
		<real>0.182644</real>
		<key>start_index</key>
		<integer>65</integer>
		<key>end_index</key>
		<integer>71</integer>
	</dict>
	<key>blanches.</key>
	<dict>
		<key>start</key>
		<real>3.639703</real>
		<key>duration</key>
		<real>0.523577</real>
		<key>start_index</key>
		<integer>72</integer>
		<key>end_index</key>
		<integer>81</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>4.16328</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
