<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>penguin</string>
	<key>audioFile</key>
	<string>penguin_story.en.mp3</string>
	<key>locale</key>
	<string>en</string>
	<key>Pedro</key>
	<dict>
		<key>start</key>
		<real>0</real>
		<key>duration</key>
		<real>0.336689</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>5</integer>
	</dict>
	<key>The</key>
	<dict>
		<key>start</key>
		<real>0.336689</real>
		<key>duration</key>
		<real>0.142223</real>
		<key>start_index</key>
		<integer>6</integer>
		<key>end_index</key>
		<integer>9</integer>
	</dict>
	<key>Penguin&apos;s</key>
	<dict>
		<key>start</key>
		<real>0.490522</real>
		<key>duration</key>
		<real>0.473106</real>
		<key>start_index</key>
		<integer>10</integer>
		<key>end_index</key>
		<integer>19</integer>
	</dict>
	<key>Feet</key>
	<dict>
		<key>start</key>
		<real>0.983946</real>
		<key>duration</key>
		<real>0.177052</real>
		<key>start_index</key>
		<integer>20</integer>
		<key>end_index</key>
		<integer>24</integer>
	</dict>
	<key>are</key>
	<dict>
		<key>start</key>
		<real>1.160998</real>
		<key>duration</key>
		<real>0.165442</real>
		<key>start_index</key>
		<integer>25</integer>
		<key>end_index</key>
		<integer>28</integer>
	</dict>
	<key>yellow</key>
	<dict>
		<key>start</key>
		<real>1.340952</real>
		<key>duration</key>
		<real>0.499229</real>
		<key>start_index</key>
		<integer>29</integer>
		<key>end_index</key>
		<integer>35</integer>
	</dict>
	<key>and</key>
	<dict>
		<key>start</key>
		<real>2.342313</real>
		<key>duration</key>
		<real>0.145125</real>
		<key>start_index</key>
		<integer>36</integer>
		<key>end_index</key>
		<integer>39</integer>
	</dict>
	<key>his</key>
	<dict>
		<key>start</key>
		<real>2.458413</real>
		<key>duration</key>
		<real>0.182857</real>
		<key>start_index</key>
		<integer>40</integer>
		<key>end_index</key>
		<integer>43</integer>
	</dict>
	<key>legs</key>
	<dict>
		<key>start</key>
		<real>2.647075</real>
		<key>duration</key>
		<real>0.156735</real>
		<key>start_index</key>
		<integer>44</integer>
		<key>end_index</key>
		<integer>48</integer>
	</dict>
	<key>have</key>
	<dict>
		<key>start</key>
		<real>2.925714</real>
		<key>duration</key>
		<real>0.15093</real>
		<key>start_index</key>
		<integer>49</integer>
		<key>end_index</key>
		<integer>53</integer>
	</dict>
	<key>white</key>
	<dict>
		<key>start</key>
		<real>3.105669</real>
		<key>duration</key>
		<real>0.200272</real>
		<key>start_index</key>
		<integer>54</integer>
		<key>end_index</key>
		<integer>59</integer>
	</dict>
	<key>feathers.</key>
	<dict>
		<key>start</key>
		<real>3.433651</real>
		<key>duration</key>
		<real>0.563084</real>
		<key>start_index</key>
		<integer>60</integer>
		<key>end_index</key>
		<integer>69</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>4.01415</real>
		<key>duration</key>
		<real>0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
