<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Panda2</key>
	<dict>
		<key>scale</key>
		<dict>
			<key>x</key>
			<real>-0.8</real>
			<key>y</key>
			<real>0.9</real>
		</dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>giraffes.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>Flip</key>
			<dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>backflip</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>8</integer>
		<key>imageName</key>
		<string>panda_small.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>795</integer>
			<key>y</key>
			<integer>471</integer>
		</dict>
	</dict>
	<key>Panda1</key>
	<dict>
		<key>Behaviors</key>
		<dict>
			<key>Sound</key>
			<dict>
				<key>params</key>
				<dict>
					<key>sound</key>
					<string>giraffes.mp3</string>
				</dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>playSound</string>
			</dict>
			<key>Flip</key>
			<dict>
				<key>event</key>
				<string>touch</string>
				<key>action</key>
				<string>backflip</string>
			</dict>
		</dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>8</integer>
		<key>imageName</key>
		<string>panda_small.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>614</integer>
		</dict>
	</dict>
	<key>Flower4</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>8</integer>
		<key>imageName</key>
		<string>bamboo_forest_flower2.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>900</integer>
			<key>y</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>Flower3</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>8</integer>
		<key>imageName</key>
		<string>bamboo_forest_flower1.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>720</integer>
			<key>y</key>
			<integer>38</integer>
		</dict>
	</dict>
	<key>Flower2</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>8</integer>
		<key>imageName</key>
		<string>bamboo_forest_flower2.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>130</integer>
			<key>y</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>Flower1</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>8</integer>
		<key>imageName</key>
		<string>bamboo_forest_flower1.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>220</integer>
			<key>y</key>
			<integer>28</integer>
		</dict>
	</dict>
	<key>PagodaLight</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>5</integer>
		<key>imageName</key>
		<string>bamboo_forest_pagoda_lights.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>65</integer>
			<key>y</key>
			<integer>182</integer>
		</dict>
	</dict>
	<key>Pagoda</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>4</integer>
		<key>imageName</key>
		<string>bamboo_forest_pagoda.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>104</integer>
			<key>y</key>
			<integer>126</integer>
		</dict>
	</dict>
	<key>Stalks4</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>3</integer>
		<key>imageName</key>
		<string>bamboo_forest_stalks4.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>136</integer>
		</dict>
	</dict>
	<key>Stalks3</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>3</integer>
		<key>imageName</key>
		<string>bamboo_forest_stalks3.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>376</integer>
			<key>y</key>
			<integer>136</integer>
		</dict>
	</dict>
	<key>Stalks2</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>3</integer>
		<key>imageName</key>
		<string>bamboo_forest_stalks2.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>665</integer>
			<key>y</key>
			<integer>136</integer>
		</dict>
	</dict>
	<key>Floor</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>7</integer>
		<key>imageName</key>
		<string>bamboo_forest_floor.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Stalks1</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>3</integer>
		<key>imageName</key>
		<string>bamboo_forest_stalks1.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>558</integer>
			<key>y</key>
			<integer>118</integer>
		</dict>
	</dict>
	<key>TreeBase</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>2</integer>
		<key>imageName</key>
		<string>bamboo_forest_tree_base.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Light</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>1</integer>
		<key>imageName</key>
		<string>bamboo_forest_light.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Music</key>
	<string>hello-chiptune-cover.mp3</string>
	<key>Key</key>
	<string>bamboo_forest</string>
	<key>StoryKey</key>
	<string>panda</string>
	<key>KidPosition</key>
	<dict>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>30</integer>
	</dict>
	<key>TextPosition</key>
	<dict>
		<key>x</key>
		<integer>80</integer>
		<key>y</key>
		<integer>600</integer>
	</dict>
	<key>AnimalPosition</key>
	<dict>
		<key>x</key>
		<integer>500</integer>
		<key>y</key>
		<integer>400</integer>
	</dict>
	<key>Sky</key>
	<dict>
		<key>type</key>
		<string>CCAutoScalingSprite</string>
		<key>z</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>bamboo_forest_bg.png</string>
		<key>position</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
