<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>productId</key>
	<string>com.alchemistinteractive.footgame.apack1</string>
	<key>Key</key>
	<string>Zebra</string>
	<key>Environment</key>
	<string>savannah4</string>
	<key>SuccessSound</key>
	<string>elephant2.wav</string>
	<key>Name</key>
	<string>Zebra</string>
	<key>FailSound</key>
	<string></string>
	<key>Body</key>
	<dict>
		<key>HappyImage</key>
		<string>zebra_top_happy.png</string>
		<key>AnchorFoot</key>
		<dict>
			<key>orientation</key>
			<integer>0</integer>
			<key>x</key>
			<integer>138</integer>
			<key>y</key>
			<integer>338</integer>
		</dict>
		<key>Image</key>
		<string>zebra_top.png</string>
	</dict>
	<key>Foot</key>
	<dict>
		<key>Anchor</key>
		<dict>
			<key>orientation</key>
			<integer>0</integer>
			<key>x</key>
			<integer>84</integer>
			<key>y</key>
			<integer>5</integer>
		</dict>
		<key>Image</key>
		<string>zebra_bottom.png</string>
	</dict>
	<key>Word</key>
	<string>zebra_word.en.png</string>
</dict>
</plist>
