<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>elephant</string>
	<key>audioFile</key>
	<string>elephant_story.de.mp3</string>
	<key>locale</key>
	<string>de</string>
	<key>Emil</key>
	<dict>
		<key>start</key>
		<real>0.0</real>
		<key>duration</key>
		<real>0.560181</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>4</integer>
	</dict>
	<key>der</key>
	<dict>
		<key>start</key>
		<real>0.589206</real>
		<key>duration</key>
		<real>0.182857</real>
		<key>start_index</key>
		<integer>5</integer>
		<key>end_index</key>
		<integer>8</integer>
	</dict>
	<key>Elefant</key>
	<dict>
		<key>start</key>
		<real>0.772063</real>
		<key>duration</key>
		<real>0.679184</real>
		<key>start_index</key>
		<integer>9</integer>
		<key>end_index</key>
		<integer>16</integer>
	</dict>
	<key>hat</key>
	<dict>
		<key>start</key>
		<real>1.787937</real>
		<key>duration</key>
		<real>0.162539</real>
		<key>start_index</key>
		<integer>17</integer>
		<key>end_index</key>
		<integer>20</integer>
	</dict>
	<key>grosse</key>
	<dict>
		<key>start</key>
		<real>2.115918</real>
		<key>duration</key>
		<real>0.481814</real>
		<key>start_index</key>
		<integer>21</integer>
		<key>end_index</key>
		<integer>27</integer>
	</dict>
	<key>Zehennägel</key>
	<dict>
		<key>start</key>
		<real>2.626757</real>
		<key>duration</key>
		<real>0.946214</real>
		<key>start_index</key>
		<integer>28</integer>
		<key>end_index</key>
		<integer>38</integer>
	</dict>
	<key>und</key>
	<dict>
		<key>start</key>
		<real>3.819683</real>
		<key>duration</key>
		<real>0.220589</real>
		<key>start_index</key>
		<integer>39</integer>
		<key>end_index</key>
		<integer>42</integer>
	</dict>
	<key>trägt</key>
	<dict>
		<key>start</key>
		<real>4.069297</real>
		<key>duration</key>
		<real>0.238005</real>
		<key>start_index</key>
		<integer>43</integer>
		<key>end_index</key>
		<integer>48</integer>
	</dict>
	<key>eine</key>
	<dict>
		<key>start</key>
		<real>4.307302</real>
		<key>duration</key>
		<real>0.293152</real>
		<key>start_index</key>
		<integer>49</integer>
		<key>end_index</key>
		<integer>53</integer>
	</dict>
	<key>graue</key>
	<dict>
		<key>start</key>
		<real>4.632381</real>
		<key>duration</key>
		<real>0.426667</real>
		<key>start_index</key>
		<integer>54</integer>
		<key>end_index</key>
		<integer>59</integer>
	</dict>
	<key>Hose.</key>
	<dict>
		<key>start</key>
		<real>5.07356</real>
		<key>duration</key>
		<real>0.432472000000001</real>
		<key>start_index</key>
		<integer>60</integer>
		<key>end_index</key>
		<integer>65</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>5.506032</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
