<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>elephant</string>
	<key>audioFile</key>
	<string>elephant_story.fr.mp3</string>
	<key>locale</key>
	<string>fr</string>
	<key>Eric</key>
	<dict>
		<key>start</key>
		<real>0.035813</real>
		<key>duration</key>
		<real>0.248304</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>4</integer>
	</dict>
	<key>l’Eléphant</key>
	<dict>
		<key>start</key>
		<real>0.334255</real>
		<key>duration</key>
		<real>0.580171</real>
		<key>start_index</key>
		<integer>5</integer>
		<key>end_index</key>
		<integer>15</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>start</key>
		<real>0.914426</real>
		<key>duration</key>
		<real>0.031038</real>
		<key>start_index</key>
		<integer>16</integer>
		<key>end_index</key>
		<integer>17</integer>
	</dict>
	<key>des</key>
	<dict>
		<key>start</key>
		<real>0.945464</real>
		<key>duration</key>
		<real>0.128927</real>
		<key>start_index</key>
		<integer>18</integer>
		<key>end_index</key>
		<integer>21</integer>
	</dict>
	<key>gros</key>
	<dict>
		<key>start</key>
		<real>1.114979</real>
		<key>duration</key>
		<real>0.467957</real>
		<key>start_index</key>
		<integer>22</integer>
		<key>end_index</key>
		<integer>26</integer>
	</dict>
	<key>ongles</key>
	<dict>
		<key>start</key>
		<real>1.582936</real>
		<key>duration</key>
		<real>0.367681</real>
		<key>start_index</key>
		<integer>27</integer>
		<key>end_index</key>
		<integer>33</integer>
	</dict>
	<key>de</key>
	<dict>
		<key>start</key>
		<real>1.960167</real>
		<key>duration</key>
		<real>0.0549130000000002</real>
		<key>start_index</key>
		<integer>34</integer>
		<key>end_index</key>
		<integer>36</integer>
	</dict>
	<key>pied</key>
	<dict>
		<key>start</key>
		<real>2.086706</real>
		<key>duration</key>
		<real>0.276954</real>
		<key>start_index</key>
		<integer>37</integer>
		<key>end_index</key>
		<integer>41</integer>
	</dict>
	<key>et</key>
	<dict>
		<key>start</key>
		<real>2.676427</real>
		<key>duration</key>
		<real>0.0692390000000001</real>
		<key>start_index</key>
		<integer>42</integer>
		<key>end_index</key>
		<integer>44</integer>
	</dict>
	<key>porte</key>
	<dict>
		<key>start</key>
		<real>2.86743</real>
		<key>duration</key>
		<real>0.179066</real>
		<key>start_index</key>
		<integer>45</integer>
		<key>end_index</key>
		<integer>50</integer>
	</dict>
	<key>un</key>
	<dict>
		<key>start</key>
		<real>3.063208</real>
		<key>duration</key>
		<real>0.167128</real>
		<key>start_index</key>
		<integer>51</integer>
		<key>end_index</key>
		<integer>53</integer>
	</dict>
	<key>pantalon</key>
	<dict>
		<key>start</key>
		<real>3.254211</real>
		<key>duration</key>
		<real>0.444082</real>
		<key>start_index</key>
		<integer>54</integer>
		<key>end_index</key>
		<integer>62</integer>
	</dict>
	<key>gris.</key>
	<dict>
		<key>start</key>
		<real>3.698293</real>
		<key>duration</key>
		<real>0.288892</real>
		<key>start_index</key>
		<integer>63</integer>
		<key>end_index</key>
		<integer>68</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>3.987185</real>
		<key>duration</key>
		<real>0.0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
