<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storyKey</key>
	<string>elephant</string>
	<key>audioFile</key>
	<string>elephant_story.es.mp3</string>
	<key>locale</key>
	<string>es</string>
	<key>Ernesto</key>
	<dict>
		<key>start</key>
		<real>0.033918</real>
		<key>duration</key>
		<real>0.634257</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>7</integer>
	</dict>
	<key>el</key>
	<dict>
		<key>start</key>
		<real>0.668175</real>
		<key>duration</key>
		<real>0.132279</real>
		<key>start_index</key>
		<integer>8</integer>
		<key>end_index</key>
		<integer>10</integer>
	</dict>
	<key>Elefante</key>
	<dict>
		<key>start</key>
		<real>0.800454</real>
		<key>duration</key>
		<real>0.651216</real>
		<key>start_index</key>
		<integer>11</integer>
		<key>end_index</key>
		<integer>19</integer>
	</dict>
	<key>tiene</key>
	<dict>
		<key>start</key>
		<real>2.092712</real>
		<key>duration</key>
		<real>0.2984739999999997</real>
		<key>start_index</key>
		<integer>20</integer>
		<key>end_index</key>
		<integer>25</integer>
	</dict>
	<key>unas</key>
	<dict>
		<key>start</key>
		<real>2.391186</real>
		<key>duration</key>
		<real>0.3154330000000001</real>
		<key>start_index</key>
		<integer>26</integer>
		<key>end_index</key>
		<integer>30</integer>
	</dict>
	<key>de</key>
	<dict>
		<key>start</key>
		<real>2.706619</real>
		<key>duration</key>
		<real>0.1899380000000002</real>
		<key>start_index</key>
		<integer>31</integer>
		<key>end_index</key>
		<integer>33</integer>
	</dict>
	<key>pie</key>
	<dict>
		<key>start</key>
		<real>2.984743</real>
		<key>duration</key>
		<real>0.4070100000000001</real>
		<key>start_index</key>
		<integer>34</integer>
		<key>end_index</key>
		<integer>37</integer>
	</dict>
	<key>bien</key>
	<dict>
		<key>start</key>
		<real>3.524031</real>
		<key>duration</key>
		<real>0.5223300000000002</real>
		<key>start_index</key>
		<integer>38</integer>
		<key>end_index</key>
		<integer>42</integer>
	</dict>
	<key>grandes</key>
	<dict>
		<key>start</key>
		<real>4.046361</real>
		<key>duration</key>
		<real>0.7156599999999997</real>
		<key>start_index</key>
		<integer>43</integer>
		<key>end_index</key>
		<integer>50</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>start</key>
		<real>4.928217</real>
		<key>duration</key>
		<real>0.08818600000000032</real>
		<key>start_index</key>
		<integer>51</integer>
		<key>end_index</key>
		<integer>52</integer>
	</dict>
	<key>pantalones</key>
	<dict>
		<key>start</key>
		<real>5.101197</real>
		<key>duration</key>
		<real>0.6512159999999998</real>
		<key>start_index</key>
		<integer>53</integer>
		<key>end_index</key>
		<integer>63</integer>
	</dict>
	<key>grises.</key>
	<dict>
		<key>start</key>
		<real>5.752413</real>
		<key>duration</key>
		<real>0.6071240000000007</real>
		<key>start_index</key>
		<integer>64</integer>
		<key>end_index</key>
		<integer>71</integer>
	</dict>
	<key>---</key>
	<dict>
		<key>start</key>
		<real>6.359537</real>
		<key>duration</key>
		<real>0</real>
		<key>start_index</key>
		<integer>0</integer>
		<key>end_index</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
